<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_drag_drop-categories]</code> wurde nicht korrekt benutzt. Folgende Attribute müssen verpflichtend angegeben werden:
    </p>
    <ul>
        <li><code>form_id</code>: TS Form-ID eines Formulars, welches genau ein Textfeld enthält. Die Option "Dieses Formular ist ein MultiForm" muss aktiv sein.</li>
        <li><code>categories</code>: Eine Liste an Kategorien jeweils durch <code>,</code> getrennt.</li>
    </ul>
    <p>Mit dem Parameter <code>save_form_id</code> kann optional eine Speicherung der Zuordnung ermöglicht werden. Es muss hierbei die TS Form-ID eines Formulars angegeben werden, welche genau eine Textbox enthält. Das Formular muss sich auf der gleichen Seite wie dieser Shortcode befinden.</p>
</div>