<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_evaluate-categories]</code> wurde nicht korrekt benutzt. Folgende Attribute müssen verpflichtend angegeben werden:
    </p>
    <ul>
        <li><code>form_id</code>: TS Form-ID eines Formulars, welches ein oder mehrere Slider-Felder enthält.</li>
        <li><code>categories</code>: Eine Liste an Kategorien jeweils durch <code>,</code> getrennt. Die Anzahl an Kategorien muss mit der Anzahl an Slider-Feldern im angegebenen Formular übereinstimmen.</li>
    </ul>
    <p>Die folgenden Attribute können optional für weitere Anpassungen an der Ausgabe genutzt werden:</p>
    <ul>
        <li><code>colors</code>: Mit diesem Attribut können eigene Farben für die einzelnen in <code>categories</code> angegebenen Kategorien gewählt werden. Die Farben müssen in Hex-Schreibweise angegeben werden. Mehrere Farben müssen jeweils durch <code>,</code> getrennt werden.</li>
        <li><code>showlegend</code>: Durch Setzen auf den Wert "true"/"false" kann eine Legende oberhalb der Ausgabe ein- oder ausgeblendet werden. Diese Option ist standardmäßig nicht aktiv ("false").</li>
        <li><code>showpointlabel</code>: Durch Setzen auf den Wert "true"/"false" werden Label für die einzelnen Datenpunkte ein- oder ausgeblendet. Diese Option ist standardmäßig aktiv ("true").</li>
        <li><code>centerpointlabel</code>: Durch Setzen auf den Wert "true"/"false" werden die Label für die einzelnen Datenpunkte zentriert angezeigt oder verborgen. Diese Option ist standardmäßig aktiv ("true").</li>
        <li><code>adjustslidercolor</code>: Durch Setzen auf den Wert "true"/"false" erhalten die Slider-Felder des in <code>form_id</code> angegebenen Formulars die Farbe der entsprechenden Kategorie oder bleiben in der Standardfarbe des Themes. Standardmäßig ist diese Option nicht aktiv ("false").</li>
        <li><code>alpha</code>: Durch Setzen auf einen Wert zwischen 0 und 100 kann ein Alpha-Wert für die Transparenz für zufällig generierte Farben eingestellt werden.</li>
        <li><code>form_id_category_items</code>: Mit diesem Attribut kann die TS Form-ID eines Formulars angegeben werden, welches für die Speicherung der Zuordnungen im Shortcode <code>[tspv2_drag_drop-categories]</code> genutzt wird, um die zugeordneten Items in die Labels der Slider zu schreiben. Die Labels der Slider müssen den Bezeichnungen der einzelnen Kategorien entsprechen.</li>
    </ul>
</div>