<br>
<div class="alert alert-warning" role="alert">
    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5> 
    <p>
        Der in "name" angegebene Dateiname darf nicht Leerzeichen oder eines der folgenden Zeichen enthalten: <br> \\ / : * ? \" &lt; &gt; |
    </p>    
</div>