{% if avatare is not empty%}
    {% if mode == 'table' %}
    <div class="row">
        {% for avatar in avatare %}
             {% include "avatar/avatar-item.html" %}
        {% endfor %}
    </div>
    {% elseif mode == 'list' %}
    <ul class="pl-0">
        {% for avatar in avatare %}
               {% include "avatar/avatar-item-list.html" %}
        {% endfor %}
    </ul>
    {% endif %}
{% else %}
<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Auf diesem System wurden noch keine Avatare angelegt.
    </p> 
</div>
{% endif %}