<div class=".tsp-avatar-widget">
    <div class="tsp-avatar-img">
        {{avatarimg | raw}}
    </div>
    <div class="tsp-avatar-body">
        {% if not hideMails %}<span><b>{{user.user_email}}</b></span><br>{% endif %}
        <a href="{{profilurl}}">Profil</a>
    </div>
</div>

<style>

.tsp-avatar-widget  .tsp-avatar-img{
    float: right;
}

.tsp-avatar-widget  .tsp-avatar-body{
    float: left;
}

</style>