<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_coach_output_app_data_list]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>trainingid</code> Verpflichtende Trainings-ID, woher die Eingaben des Nutzenden stammen sollen. </li>
        <li><code>amountformsmp</code> Verpflichtende Anzahl der Formulare im Morgen-Protokoll. </li>
        <li><code>amountformsap</code> Verpflichtende Anzahl der Formulare im Abend-Protokoll. </li>
        <li><code>tobed</code> Verpflichtende Positionsangabe für das Formular "Ins Bett gegangen". </li>
        <li><code>getup</code> Verpflichtende Positionsangabe für das Formular "Aufgestanden". </li>
        <li><code>dur</code> Verpflichtende Positionsangabe für das Formular "Insgesamt geschlafen". </li>
        <li><code>amountsites</code> Verpflichtende Angabe der Seitenanzahl für eine Lektion. </li>
    </ul>
    <ul>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser Schlafeffizienz-Übersicht, kann aber durch setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>mode</code> kann optional benutzt werden, um die Schlafeffizienz als Chart darzustellen. Standardmäßig wird eine Liste angezeigt.</li>
    </ul>
</div>