<div class="notice notice-error is-dismissible">
    <h1><b>Sehr wichtiger Hinweis</b> von TrainOn:</h1>
    <p>
        Diese Plattform benutzt noch das Ninja-Forms-Plugin. Dieses Plugin wird in den folgenden Versionen von TrainOn nicht weiter unterstützt, da im System ein eigenes Formularsystem zur Verfügung steht.
        Bitte aktualisieren Sie <b>JETZT</b> Ihre Formulare auf ts-forms. Dafür steht unter "Formulare" ein Migrations-Tool zur Verfügung.
        <br><br>
        Bei Fragen hierzu wenden Sie sich per E-Mail an die Entwickler unter <a href="mailto:max.sternitzke@th-luebeck.de?subject=NinjaForms-Abschaltung">max.sternitzke@th-luebeck.de</a>.
    </p>
</div>