
<!-- Modal update firma -->
<div class="modal fade" id="addGroupMemberModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrAggGroupmemberLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrAggGroupmemberLabel">Mitarbeiter hinzufügen</h2>
      </div>
      <div class="modal-body">
	 <h4> Team: <span id="modal-addmember-groupname"></span></h4>
        <form id="addGroupMemberForm">
          <div class="form-group">
            <p>Mitglieder hinzuf&uuml;gen:</p>
            {# <select id="modal-addmember-select-members" name="modal-addmember-select-members" multiple="multiple" size="10" style="height:20ex !important;">
              {% for user in users %}
              <option value="{{user.id}}">{{user.name}}</option>
                    {% endfor %}
            </select>#}
            <input type="hidden" value="" id="addmembermodal">
            <div class="input-group marginbottom10">
              <input class="form-control" type="text" id="modal-addgroupmember-check-members-search" value=""  placeholder="Suche..."/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="clear-company-addmember-button" type="button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div id="modal-addgroupmember-check-members" class="card panel panel-default" style="height: 50vh; overflow-y: auto; padding: 9px;">
              {% for user in users %}
              <div class="form-group form-check d-flex align-items-center">
                  <input class="form-check-input" type="checkbox" value="{{user.id}}" id="defaultCheckuserA{{user.id}}">
                  <label class="checkbox-inline" for="defaultCheckuserA{{user.id}}">{{user.name}}</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="company-addgroupmember-button" class="btn btn-primary modal-addgroupmember">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
<style>
  #modal-addgroupmember-check-members label {
    margin-bottom: 0 !important;
  }
</style>