
<!-- Modal update firma -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrAddGroupLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrAddGroupLabel">Team anlegen</h2>
      </div>
      <div class="modal-body">
        <h4>Für Unternehmen: <span id="create-group-company-name"></span></h4>
        <form id="createGroupForm">
          <div class="form-group">
            <label class="label-above" for="modal-creategroup-input-name">Teamname:</label>
            <input class="form-control" type="text" id="modal-creategroup-input-name" value="" name="modal-creategroup-input-name" required><span class="m-b-20 invalid-feedback d-none">Bitte geben Sie einen gültigen Namen ein.</span>
          </div>
          <div class="form-group">
            <p>Mitglieder:</p>
            {#<select id="modal-creategroup-select-members" name="modal-creategroup-select-members" multiple="multiple" size="10" style="height:20ex !important;">
              {% for user in users %}
              <option value="{{user.id}}">{{user.name}}</option>
                    {% endfor %}
            </select>#}
            <div class="input-group marginbottom10">
              <input class="form-control" type="text" id="modal-creategroup-input-name-search" value="" placeholder="Suche..." />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="clear-company-newgroup-button" type="button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
            <div id="modal-creategroup-check-members" class="card panel panel-default" style="height: 50vh; overflow-y: auto; padding: 9px;">
              {% for user in users %}
              <div class="form-group form-check d-flex align-items-center">
                  <input class="form-check-input" type="checkbox" value="{{user.id}}" id="defaultCheckuser{{user.id}}">
                  <label class="checkbox-inline" for="defaultCheckuser{{user.id}}">{{user.name}}</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="company-creategroup-button" class="btn btn-primary modal-creategroup">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
<style>
  #modal-creategroup-check-members label {
    margin-bottom: 0 !important;
  }
</style>