      <li class="ui-state-default mylist ui-sortable-handle" id="gruppe{{group.id}}" value="{{group.id}}">
          <div class="listheader-sortable">
              <!-- <span class="ui-icon ui-icon-carat-2-n-s sortable-icon"></span> -->
              <i class="fas fa-stream"></i>
              <span class="listheader-sortable-text">{{group.name}}</span>
              <span class="delete-group float-right" role="button">
                  <span>
                      <i class="fas fa-trash-alt pointer"></i>
                  </span>
              </span>
          </div>
          <div class="team-leader-selection d-flex mb-3">
            <div class="form-inline w-100">
              <label for="select-team-leader-input" class="mb-0 ml-0 mr-3">Teamleitung:</label>
              <select name="select-team-leader" id="select-team-leader-input" class="form-control flex-grow-1 select-team-leader-input" data-initialvalue="{{ teamleader.userid }}">
                <option value="">-</option>
                {% for user in group.members %}
                  {% if user.id in allteamleader|keys %}
                    <option value="{{user.id}}" {% if teamleader.userid == user.id %}selected{% endif %}>{{user.name}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <button id="select-team-leader-input-feedback" class="btn" type="button" disabled style="cursor: unset;"><i class="fas fa-check-circle invisible"></i></button>
            </div>
          </div>
            <span class="morelessons">
              <span>{{group.members | length}}&nbsp;Mitarbeitende</span>
              <i class="far fa-caret-square-down" role="button"></i>
              <i class="far fa-caret-square-up" role="button"></i>
            </span>
        <div class="lektionen-show-hide">
          <ul class="connectedSortable ui-sortable">
              {% for user in group.members %}
                  <li class="ui-state-default user-grouper-list-item" value="{{user.id}}" id="companygroup{{group.id}}-member{{user.id}}"><i class="fas fa-stream"></i>
                    <span class="company-mgr-username">{{user.name}}</span>
                      <!-- <span class="ui-icon ui-icon-carat-2-n-s sortable-icon"></span> -->
                        <!-- <i class="fas fa-stream"></i> -->
                      <span class="remove-groupmember float-right">
                          <i class="fas fa-trash-alt pointer"></i>
                      </span>
                  </li>
              {% endfor %}
          </ul>
          <!-- <div class="add-lektionen-wrap btn btn-primary"> -->
              <button type="button" class="btn btn-primary add-groupmember" data-toggle="modal" data-target="#addGroupMemberModal">
                  Hinzufügen
              </button>

          <!-- </div> -->
        </div>
      </li><!-- </li> Gruppe -->
