
<!-- Modal firma -->
<div class="modal fade" id="deleteCompanyModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrDeleteFirmaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrDeleteFirmaLabel">Unternehmen l&ouml;schen</h2>
      </div>
      <div class="modal-body">
		    <p>M&ouml;chten Sie das Unternehmen «<span id="deleteCompanyName"></span>» wirklich l&ouml;schen?</p>
	    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="company-delete-button" class="btn btn-primary deletecompany-confirm">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
