<style>
  #modal-select-update-chef-input.is-invalid,
  #modal-select-update-kadmin-input.is-invalid {
    background-position: right 15px center !important;
  }
</style>
<!-- Modal firma -->
<div class="modal fade" id="firmaModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrAddFirmaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrAddFirmaLabel">Unternehmen hinzufügen</h2>
      </div>
      <div class="modal-body">
        <form id="newFirmaForm">
          <div class="form-group">
            <h4>Neues Unternehmen mit Führungskraft anlegen</h4>
            <ul>
              <li><label class="label-above" for="modal-firmaname-input">Name des Unternehmens:</label></li>
              <li class="m-b-20"><input type="text" class="form-control m-b-0" id="modal-firmaname-input" name="modal-firmaname-input" required><span class="invalid-feedback d-none">Bitte geben Sie einen gültigen Namen ein.</span></li>

              {% if bossEditor %}
                <li><label class="label-above" for="modal-select-chef-input">Name der Führungskraft:</label></li>
                <li>
                  <select name="modal-select-chef-input" class="form-control" id="modal-select-chef-input" class="modal-select-chef-input">
                  <option value="">später wählen</option>
                  {% for user in bosses %}
                    <option value="{{user.ID}}">{{user.display_name}}</option>
                  {% endfor %}
                  </select>
                  <span class="invalid-feedback d-none">Bitte wählen Sie eine gültige Führungskraft.</span>
                </li>
              {% endif %}

              {% if kAdminEditor %}
              <li><label class="label-above" style="margin-top: 2rem" for="modal-select-kadmin-input">Berater/in:</label></li>
              <li>
                <select name="modal-select-kadmin-input" id="modal-select-kadmin-input" class="form-control modal-select-kadmin-input">
                  <option value="">später wählen</option>
                  {% for kAdmin in kAdmins %}
                  <option value="{{kAdmin.ID}}">{{kAdmin.display_name}}</option>
                {% endfor %}
                </select>
                <span class="invalid-feedback d-none">Bitte wählen Sie eine/n gültige/n Berater/in.</span>
              </li>
              <li><br><span class="text-muted">Die Personen mit der Rolle Berater/in organisieren das Arbeiten in Gruppen, wie beispielsweise Firmen oder Abteilungen. Personen mit dieser Rolle haben keinen Zugriff auf individuelle Eingaben der User.</span></li>
              {% endif %}
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="company-new-button" class="btn btn-primary addcompany">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
