<style>
  #modal-select-update-chef-input.is-invalid,
  #modal-select-update-kadmin-input.is-invalid {
    background-position: right 15px center !important;
  }
</style>
<!-- Modal update firma -->
<div class="modal fade" id="updateFirmaModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrUpdateFirmaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrUpdateFirmaLabel">Unternehmen bearbeiten</h2>
      </div>
      <div class="modal-body">
        <form id="updateFirmaForm">
          <div class="form-group">
            <ul>
              <li><label class="label-above" for="modal-update-firmaname-input">Name des Unternehmens:</label></li>
              <li class="m-b-20"><input class="form-control m-b-0" type="text" id="modal-update-firmaname-input" name="modal-update-firmaname-input" value="" required><span class="invalid-feedback d-none">Bitte geben Sie einen gültigen Namen ein.</span></li>

              {% if bossEditor %}
                <li><label class="label-above" for="modal-select-update-chef-input">
                  <span id="warning-chef"><i class="fas fa-exclamation-circle highlight-color"></i>&nbsp;</span>
                  Name der Führungskraft:</label></li>
                <li><select name="modal-select-update-chef-input" id="modal-select-update-chef-input" class="form-control modal-select-update-chef-input" required>
                  <option value="">später wählen</option>
                  {% for boss in bosses %}
                    <option value="{{boss.ID}}">{{boss.display_name}}</option>
                  {% endfor %}
                </select><span class="invalid-feedback d-none">Bitte wählen Sie eine gültige Führungskraft.</span></li>
              {% else %}
                <input type="hidden" id="modal-select-update-chef-input" value="">
              {% endif %}

              {% if kAdminEditor %}
              <li><label class="label-above" style="margin-top: 2rem" for="modal-select-update-kadmin-input">
                <span id="warning-kadmin"><i class="fas fa-exclamation-circle highlight-color"></i>&nbsp;</span>
                Berater/in:</label></li>
              <li><select name="modal-select-update-kadmin-input" id="modal-select-update-kadmin-input" class="form-control modal-select-update-kadmin-input" required>
                <option value="">später wählen</option>
                {% for kAdmin in kAdmins %}
                  <option value="{{kAdmin.ID}}">{{kAdmin.display_name}}</option>
                {% endfor %}
              </select>
              <span class="invalid-feedback d-none">Bitte wählen Sie eine/n gültige/n Berater/in.</span></li>
              <li><br><span class="text-muted">Die Personen mit der Rolle Berater/in organisieren das Arbeiten in Gruppen, wie beispielsweise Firmen oder Abteilungen. Personen mit dieser Rolle haben keinen Zugriff auf individuelle Eingaben der User.</span></li>
              {% else %}
                <input type="hidden" id="modal-select-update-kadmin-input" value="">
              {% endif %}
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="company-update-button" class="btn btn-primary updatecompany">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
