<!-- Modal bosserror  -->
<div class="modal fade" id="bosserrormodal" tabindex="-1" role="dialog" aria-labelledby="companyMgrBossErrorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="companyMgrBossErrorLabel">Fehler</h2>
        </div>
        <div class="modal-body">
            <p>Diese Führungskraft ist bereits in einem anderen Unternehmen Führungskraft.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  