
<!-- Modal User -->
<div class="modal fade" id="deleteGroupuserModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrDeleteGroupuserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrDeleteGroupuserLabel">Benutzer l&ouml;schen</h2>
      </div>
      <div class="modal-body">
        <p>M&ouml;chten Sie diesen Benutzer «<span id="deleteGroupuserName"></span>» wirklich aus dem Team «<span id="deleteGroupuserGroupn"></span>» l&ouml;schen?</p>
        <div id="deletegroupuserwarning" class="d-none alert alert-warning" role="alert">
          <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
          <p>Dieser Benutzer ist im System noch als Teamleitung für dieses Team hinterlegt.</p>
        </div>
        <input type="hidden" id="groupuser-delete-userid">
        <input type="hidden" id="groupuser-delete-groupid">
        <input type="hidden" id="groupuser-delete-teamleaderid">
	    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="groupuser-delete-button" class="btn btn-primary deletegroupuser-confirm">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
