
<!-- Modal Group -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" aria-labelledby="companyMgrDeleteGroupLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="companyMgrDeleteGroupLabel">Team l&ouml;schen</h2>
      </div>
      <div class="modal-body">
        <p>M&ouml;chten Sie das Team «<span id="deleteGroupName"></span>» wirklich l&ouml;schen?</p>
        <input type="hidden" id="group-delete-id" value="">
        <input type="hidden" id="group-delete-teamleaderid" value="">
	    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" id="group-delete-button" class="btn btn-primary deletegroup-confirm">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
