<!-- Modal vorlagennutzer add -->
<div class="modal fade" id="addvorlagenuserModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addvorlagenuserModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="addvorlagenuserModalLabel">Vorlage hinzufügen</h2>
      </div>
      <div class="modal-body">
        <form id="addvorlagenuserForm">
          <div class="form-group">
            <label class="label-above" for="modal-newvorlagenuser-name">Name:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="modal-newvorlagenuser-name" name="modal-newuser-name" placeholder="Name" required>
                <div class="input-group-text">{{vorlagenuser_addon}}</div>
            </div>
            <span class="invalid-feedback d-none">Bitte geben Sie einen gültigen Namen ein.</span>
          </div>
          <div class="form-group">
              <label class="label-above" for="modal-newvorlagenuser-trainer">Coach:</label>
              <select id="modal-newvorlagenuser-trainer" class="form-control" name="modal-newuser-trainer">
                  <option value="">-</option>
                  {% for trainer in trainers %}
                  <option value="{{trainer.ID}}" {% if vuser.trainerId == trainer.ID %}selected{% endif %}>{{trainer.display_name}}</option>
                  {% endfor %}
              </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button id="addvorlagenuser" type="button" class="btn btn-primary addvorlagenuser">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
