<!-- Modal vorlagennutzer delete -->
<div class="modal fade" id="deleteVorlagenuserModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="deleteVorlagenuserModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title" id="deleteVorlagenuserModalLabel">Vorlagennutzer löschen</h2>
          </div>
          <div class="modal-body">
            <input type="hidden" id="deleteVorlagenuserId" value="">
            <p>Möchten Sie den Vorlagennutzer «<span id="deleteVorlagenuserName"></span>» wirklich löschen?</p>
            <div class="form-group form-check d-flex align-items-center">
                <input type="checkbox" id="deleteVorlagenuserRegisterkey" class="form-check-input" value="1" checked>
                <label class="checkbox-inline mb-0" for="deleteVorlagenuserRegisterkey">auch alle zugehörigen Freischaltcodes löschen</label>
            </div>
            <div class="alert alert-warning" role="alert">
              <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
              <p>
                Mit dem Löschen der Vorlage gehen auch alle Funktionalitäten des Freischaltcodes verloren.
              </p>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
              <button id="deletevorlagenuser-confirm" type="button" class="btn btn-primary deletevorlagenuser-confirm">Bestätigen</button>
          </div>
      </div>
  </div>
</div>