{% if users is not empty %}
    {% for vorlagenuser in users %}
        <tr class="custom-table-row-body vorlagenuser-row" vuserid="{{vorlagenuser.id}}">
            <td class="align-middle cursor-pointer">
                {{vorlagenuser.name}}
            </td>
            <td class="align-middle cursor-pointer">
                {{vorlagenuser.trainerName}}
            </td>
            {% if onlylist == false %}
            <td class="align-middle text-center">
                <button class="btn btn-sm btn-secondary vorlagenuser-edit" data-vuserid="{{ vorlagenuser.id }}"><i class="fas fa-edit"></i></button>
            </td>
            <td class="align-middle text-center">
                <button class="btn btn-sm btn-danger vorlagenuser-delete"><i class="fas fa-trash-alt"></i><span class="d-none">{{vorlagenuser.id}}</span><span class="d-none">{{vorlagenuser.name}}</span></button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
{% else %}
    <tr>
        {% if onlylist == false %}
        <td colspan="4">
        {% else %}
        <td colspan="2">
        {% endif %}
            <div class="alert alert-info" role="alert">
                <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
               <p>
                   Sie haben noch keine Vorlagennutzer angelegt.
               </p> 
            </div>
        </td>
    </tr>
{% endif %}