<!-- Modal vorlagennutzer update -->
<div class="modal fade" id="updateVorlagenuserModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="updateVorlagenuserModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="updateVorlagenuserModalLabel">Vorlage bearbeiten</h2>
            </div>
            <div class="modal-body">
                <form id="updateVorlagenuserForm">
                    <input type="hidden" id="updateVorlagenuserId" value="{{ vuser.id }}">
                    <div class="form-group">
                        <label class="label-above" for="updateVorlagenuserName">Name:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="updateVorlagenuserName" placeholder="Name" value="{{ vuser.name|split('@')[0] }}" required>
                            <div class="input-group-text">{{vorlagenuser_addon}}</div>
                        </div>
                        <span class="invalid-feedback d-none">Bitte geben Sie einen gültigen Namen ein.</span>
                    </div>
                    <div class="form-group">
                        <label class="label-above" for="updateVorlagenuserTrainer">Coach:</label>
                        <select id="updateVorlagenuserTrainer" class="form-control">
                            <option value="">-</option>
                            {% for trainer in trainers %}
                            <option value="{{trainer.ID}}" {% if vuser.trainerId == trainer.ID %}selected{% endif %}>{{trainer.display_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <div class="alert alert-info mt-3" role="alert">
                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                    <p>
                        Änderungen an der Vorlage beziehen sich nur auf zukünftige Accounts. Sollen Änderungen für einen
                        Account vorgenommen werden, muss dies in den User-Details durchgeführt werden.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button id="updatevorlagenuser-confirm" type="button" class="btn btn-primary updatevorlagenuser-confirm">Bestätigen</button>
            </div>
        </div>
    </div>
</div>