<div class="border border-dark rounded p-3">
    <h3>E-Coaching {% if title == 1%}im Training &laquo;{{trainingtitle}}&raquo;{% endif%}</h3>
    <p class="mt-3">An dieser Stelle können Sie entscheiden, in welchem Format Sie das Training bearbeiten möchten. Es
        {% if showOpt0 and showOpt1 and showOpt2%}stehen drei Varianten{% elseif (showOpt0 and showOpt1) or (showOpt0
        and showOpt2) or (showOpt1 and showOpt2)%}stehen zwei Varianten{% else %}steht eine Variante{% endif %} zur
        Verfügung:</p>
    <ul class="schriftgroesse mb-4">
        {% if showOpt0 %}
            <li>Selbstständig: Ich möchte das Training ganz für mich und ohne Begleitung eines E-Coach durchführen.</li>
        {% endif %}
        {% if showOpt1 %}
            <li>E-Coaching bei Bedarf: Mir wird für dieses Training ein E-Coach zugeteilt, den/die ich bei Bedarf jederzeit
                über die E-Coaching-Funktion im Hauptmenü kontaktieren kann.</li>
        {% endif %}
        {%if showOpt2 %}
            <li>Umfassendes E-Coaching: Mir wird für dieses Training ein E-Coach zugeteilt, den/die ich bei Bedarf jederzeit
                über die E-Coaching-Funktion im Hauptmenü kontaktieren kann. Darüber hinaus erhalte ich nach jeder
                absolvierten Lektion automatisch ein schriftliches Feedback zu meinen Übungen von meinem E-Coach. Sobald ich das Feedback gelesen habe, kann ich mit der nächsten Trainingslektion beginnen.</li>
        {% endif %}
    </ul>

    <div class="form-group coachingmode-selection-radio-container mb-3">
        {% if showOpt0 %}
        <div class="form-check form-check-inline">
            <input class="form-check-input {% if usermodus %}usermodus-active{% endif %}" type="radio" name="coachingmode-{{trainingID}}" id="{{trainingID}}-opt0"
                value="0" {% if preselectedCoaching == "0" %} checked {% endif %} {% if usermodus %}disabled{% endif %}>
            <label class="form-check-label ml-2 mr-2" for="{{trainingID}}-opt0">
                Selbstständig
            </label>
        </div>
        {% endif %}

        {% if showOpt1 %}
        <div class="form-check form-check-inline">
            <input class="form-check-input {% if usermodus %}usermodus-active{% endif %}" type="radio" name="coachingmode-{{trainingID}}" id="{{trainingID}}-opt1"
                value="1" {% if preselectedCoaching == "1" %} checked {% endif %} {% if usermodus %}disabled{% endif %}>
            <label class="form-check-label ml-2 mr-2" for="{{trainingID}}-opt1">
                E-Coaching bei Bedarf
            </label>
        </div>
        {% endif %}

        {% if showOpt2 %}
        <div class="form-check form-check-inline">
            <input class="form-check-input {% if usermodus %}usermodus-active{% endif %}" type="radio" name="coachingmode-{{trainingID}}" id="{{trainingID}}-opt2"
                value="2" {% if preselectedCoaching == "2" %}checked {% endif %} {% if usermodus %}disabled{% endif %}>
            <label class="form-check-label ml-2 mr-2" for="{{trainingID}}-opt2">
                Umfassendes E-Coaching
            </label>
        </div>
        {% endif %}
    </div>

    {% if multiChoice %}
        <button class="btn btn-primary coachingmode-selection-button-multi" {% if usermodus %}disabled{% endif %} 
            id="coachingmode-selection-button-multi-{{userID}}-{{trainingID}}" value="{{trainingID}}">Auswahl
            bestätigen</button>
    {% else %}
        <button class="btn btn-primary coachingmode-selection-button-single" {% if usermodus %}disabled{% endif %} 
            id="coachingmode-selection-button-single-{{userID}}-{{trainingID}}" value="{{trainingID}}">Auswahl
            bestätigen</button>
    {% endif %}
    <div class="alert alert-info coachingmode-selection-alert-msg" id="{{trainingID}}-coachingmode-selection-alert-msg">
        <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Ihre Auswahl für den Coachingmodus wurde gespeichert.
            </p>        
    </div>
</div>