<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[coachingmodeform]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>training</code>: Verpflichtende ID des Trainings, für das das Coachingmodus-Formular angezeigt werden soll.</li>
        <li><code>modi</code>: Mit diesem Attribut kann festgelegt werden, welche Coaching-Modi zur Auswahl gestellt werden soll. Es können die Werte <code>ohne</code>,
        <code>bedarf</code> und <code>umfassend</code> angegeben werden. Mehrere Werte müssen durch <code>,</code> getrennt angegeben werden. Wird das Attribut nicht verwendet,
        werden alle Coaching-Modi zur Auswahl gestellt.
        </li>
        <li><code>multichoice</code>: Mit diesem Attribut kann optional festgelegt werden, ob das Coachingmodus-Formular mehrmals abgeschickt werden darf. Standardmäßig kann das Coachingmodus-Formular einmalig abgeschickt werden.</li>
        <li><code>title</code>: Mit diesem Attribut kann optional festgelegt werden, ob der Titel des Trainings im Coachingmodus-Formular angezeigt werden soll. Standardmäßig wird der Titel nicht im Coachingmodus-Formular angezeigt.</li>
    </ul>
</div>