@charset "UTF-8";
/************************************** vars *************************************************/
/*light gray*/
/* 4px;*/
/*widths for multiform collums:*/
/*slider, pw strength, checklists, alerts*/
/*success-background OLD:#bfe2ca*/
/*warning-background OLD:#fed88f*/
/*danger-background OLD:#f4858e*/
/*info-background*/
/*text in alert*/
/*info-text*/
/*success-text*/
/*warning-text*/
/*danger-text*/
/*backend*/
/************************************** vars end *************************************************/
/************************************** mixins *************************************************/
/************************************** mixins end *************************************************/
html {
  font-size: 14px; }

.entry-title {
  display: none; }

/************************************** Accordion *************************************************/
.accordion-inner img,
.accordion-inner p:last-child,
.exer p:last-child,
.info p:last-child,
.accordion-inner ul:last-child,
.alert p:last-child,
.pkeinunten {
  margin-bottom: 0px; }

.card,
.panel {
  border-color: none;
  margin-bottom: 30px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.accordiontitle i,
.accordiontitle {
  font-size: 1.5rem !important; }

.accordiontitle-small i,
.accordiontitle-small {
  font-size: 1.2rem !important; }

.ts-accordion .card-header {
  padding: 0 !important;
  background-color: white;
  border: none !important; }

.ts-accordion {
  border: none !important; }

.ts-accordion h4 {
  margin-top: 0 !important; }

.ts-accordion-plus,
.ts-accordion-chevron {
  margin-right: 0.3em; }

button[aria-expanded=true] .ts-accordion-plus {
  transition-duration: 0.3s;
  transition-property: transform;
  transform: rotate(45deg); }

button[aria-expanded=false] .ts-accordion-plus {
  transition-duration: 0.3s;
  transition-property: transform;
  transform: rotate(0deg); }

button[aria-expanded=true] .ts-accordion-chevron {
  transition-duration: 0.3s;
  transition-property: transform;
  transform: rotate(90deg); }

button[aria-expanded=false] .ts-accordion-chevron {
  transition-duration: 0.3s;
  transition-property: transform;
  transform: rotate(0deg); }

.ts-accordion .accordiontitle {
  text-align: left; }

/************************************** Accordion Ende *************************************************/
/***********************************************Listen***********************************/
.percent-value {
  color: #b9b9b9;
  float: right;
  margin-right: 1%; }

.noliststyle {
  list-style-type: none; }

.progress-wrapper {
  display: flex; }

/*Fortschritt in Lektionsübersicht*/
.lektion-progress {
  background-color: #b9b9b9; }

/*inner progress bar in Lektionsübersicht*/
.bar {
  float: right;
  height: 5px;
  margin-right: 1%; }

.training-title {
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 14pt;
  width: 100%; }

.listitem {
  padding: 0 !important;
  overflow: hidden; }

.lektionliste {
  padding: 0;
  margin-left: 0; }

.lektionliste li {
  /*background-image:url('/cosacoach/wp-content/uploads/2016/10/button.png');*/
  background-repeat: no-repeat;
  background-position: left center;
  /*padding-left: 60px;*/
  padding: 10px;
  padding-top: 23px;
  padding-left: 25px;
  list-style-type: none;
  margin-left: 0;
  text-indent: none;
  margin-top: 2em;
  border: solid 1px;
  border-color: #b9b9b9;
  border-radius: 10px;
  /*padding-left:0;*/ }

.lektionliste li:hover {
  background-color: #ececec; }

.lektionliste a {
  text-decoration: none !important; }

.pointerdisabled {
  cursor: not-allowed; }

.keinlink a:link {
  color: black; }

.keinlink a:visited {
  color: inherit; }

.keinlink a {
  text-decoration: none; }

.listheader {
  color: #b9b9b9;
  margin-bottom: 0px;
  display: flex; }

p .listheader {
  text-align: center; }

.checkmark li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
  content: "\2713";
  /*optional*/
  /* color: darkgreen; */
  color: black; }

/*Overview list with active-item*/
.my-list-group-item {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid #BDBDBD; }

.my-list-group {
  margin-bottom: 20px;
  padding-left: 15px; }

.active-item {
  color: #b9b9b9; }

.active-item:before {
  content: "\00BB  "; }

/***********************************************Listen Ende***********************************/
/***********************************************Tabellen ***********************************/
/*--------------------Check Tables:-------------------------*/
.check-table table,
.check-table td,
.check-table tr,
.check-table th {
  border: 1px solid black;
  border-collapse: collapse; }

.check-table td,
.check-table th {
  padding: 10px !important; }

/*********gruen-gelb-rot*********/
.check-table-ggr td:nth-child(2),
.check-table-ggr th:nth-child(2) {
  background-color: #d1ead9;
  width: 15%;
  text-align: center; }

.check-table-ggr td:nth-child(3),
.check-table-ggr th:nth-child(3) {
  background-color: #fee1a8;
  width: 15%;
  text-align: center; }

.check-table-ggr td:nth-child(4),
.check-table-ggr th:nth-child(4) {
  background-color: #f8b3b9;
  width: 15%;
  text-align: center; }

/*********rot-gelb-gruen*********/
.check-table-rgg td:nth-child(2),
.check-table-rgg th:nth-child(2) {
  background-color: #f8b3b9;
  width: 15%;
  text-align: center; }

.check-table-rgg td:nth-child(3),
.check-table-rgg th:nth-child(3) {
  background-color: #fee1a8;
  width: 15%;
  text-align: center; }

.check-table-rgg td:nth-child(4),
.check-table-rgg th:nth-child(4) {
  background-color: #d1ead9;
  width: 15%;
  text-align: center; }

/*********rot-gruen*********/
.check-table-rg td:nth-child(2),
.check-table-rg th:nth-child(2) {
  background-color: #f8b3b9;
  width: 15%;
  text-align: center; }

.check-table-rg td:nth-child(3),
.check-table-rg th:nth-child(3) {
  background-color: #d1ead9;
  width: 15%;
  text-align: center; }

/*********gruen-rot*********/
.check-table-gr td:nth-child(2),
.check-table-gr th:nth-child(2) {
  background-color: #d1ead9;
  width: 15%;
  text-align: center; }

.check-table-gr td:nth-child(3),
.check-table-gr th:nth-child(3) {
  background-color: #f8b3b9;
  width: 15%;
  text-align: center; }

/********gruen-rot-hidden********/
.check-table-gr-h th:nth-child(2),
.check-table-gr-h td:nth-child(2) {
  background-color: #d1ead9;
  width: 15%;
  text-align: center; }

.check-table-gr-h th:nth-child(3),
.check-table-gr-h td:nth-child(3) {
  background-color: #f8b3b9;
  width: 15%;
  text-align: center; }

.check-table-gr-h th:nth-child(4) {
  text-align: center; }

.check-table-gr-h td:nth-child(4) p,
.check-table-gr-h td:nth-child(4) ul,
.check-table-gr-h td:nth-child(4) ol {
  visibility: hidden; }

.company-table-head {
  background: #ffffff;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-head td {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center; }

.company-table-head td:nth-child(1) {
  width: 40%; }

.company-table-head td:not(:nth-child(1)) {
  width: 10%; }

.company-table-head td:nth-last-child(1) {
  background-color: #efefef; }

.company-table-groupresult {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-groupresult tbody {
  background-color: #ffffff;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-groupresult tbody tr td {
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-groupresult td {
  padding-left: 10px; }

.company-table-groupresult tbody tr td:nth-child(1) {
  width: 40%; }

.company-table-group {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-group tbody {
  background-color: #ffffff;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-group tbody tr td {
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-group td {
  padding-left: 10px; }

.company-table-group tbody tr td:nth-child(1) {
  width: 40%; }

.company-table-group tbody tr td:not(:nth-child(1)) {
  width: 10%;
  font-style: italic; }

.company-table-group tbody tr td b {
  font-style: normal; }

.company-table-group-colspan td:not(:nth-child(1)) {
  width: unset !important;
  text-align: left; }

.company-table-tooless {
  background-color: unset !important; }

.company-table-group tbody tr td:nth-last-child(1) {
  background-color: #efefef; }

.company-table-single {
  width: 90%;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-single tbody {
  background-color: #ffffff;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-single tbody tr td {
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-single td {
  padding-left: 10px; }

.company-table-single tbody tr td:nth-child(1) {
  width: 70%; }

.company-table-single tbody tr td:not(:nth-child(1)) {
  font-style: italic; }

.company-table-gesamt {
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-gesamt tbody {
  background-color: #ffffff;
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-gesamt tbody tr td {
  border: 1px solid gray;
  border-collapse: collapse; }

.company-table-gesamt td {
  padding-left: 10px; }

.company-table-gesamt tbody tr td:not(:nth-child(1)) {
  font-style: italic; }

.table-cell-rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  text-align: left;
  align-items: center; }

/***********************************************Tabellen Ende***********************************/
/**************Pagination******************/
.paging a {
  cursor: pointer; }

.pagebuttons {
  margin-top: 8em;
  padding-bottom: 5em; }

.paging.btn {
  border-radius: unset !important; }

.paging:not(.dropdown-item):first-of-type,
.paging-bar:not(.dropdown-item):first-of-type {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important; }

.paging:not(.dropdown-item):last-of-type,
.paging-bar:not(.dropdown-item):last-of-type {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important; }

.pages {
  margin-top: 3px; }

.currentpage:hover {
  text-decoration: none !important; }

.currentpage {
  border-bottom: 2px solid black; }

.btn.visited {
  background-color: #b9b9b9; }

.btn.paging-circle {
  border-radius: 20px !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 20px; }

.btn.paging-circle .userfeedback-loading i,
.btn.paging-bar .userfeedback-loading i {
  font-size: 10px; }

.btn.paging-circle.visited .userfeedback-loading i,
.btn.paging-bar.visited .userfeedback-loading i {
  color: white !important; }

.btn.paging-circle.unvisited .userfeedback-loading i,
.btn.paging-bar.unvisited .userfeedback-loading i {
  color: black !important; }

.btn.paging-circle:last-of-type {
  margin-right: 0; }

.btn.paging-circle-current {
  border-radius: 30px !important;
  width: 30px !important;
  height: 30px !important; }

.btn.paging-circle-current .userfeedback-loading i {
  font-size: 15px;
  color: white !important; }

.btn.paging-bar {
  flex-grow: 1;
  max-width: 40px;
  height: 18px; }

.btn.paging-bar-middle {
  border-radius: 0 !important; }

.btn.paging-bar:not(:last-of-type) {
  margin-right: 3px; }

/**************Pagination Ende******************/
/********************Buttons********************/
.glyphicon {
  /*top:2px;*/
  vertical-align: -12%; }

span.glyphicon.glyphicon-list {
  margin-right: 5px;
  top: -1px; }

.buttonbild {
  margin-top: 1.5em; }

.csv-download-start {
  cursor: pointer; }

.csv-download-start:hover {
  text-decoration: underline; }

.msg-loading i,
.userfeedback-success i,
.userfeedback-error i,
.userfeedback-loading i,
.copy-shortcode-button i,
.copy-shortcode-button.userfeedback-text i,
.ts-forms-multiformbutton i,
.ts-forms-migrate-button i {
  font-size: 20px; }

.btn-sm .userfeedback-success i,
.btn-sm .userfeedback-error i,
.btn-sm .userfeedback-loading i {
  font-size: 0.875rem; }

.msg-loading i.fa-spinner,
.userfeedback-loading i.fa-spinner,
.pagebuttons i.fa-spinner,
.paging a i.fa-spinner {
  animation: userfeedback-loading 1.5s infinite linear; }

@keyframes userfeedback-loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.cursor-pointer {
  cursor: pointer; }

/********************Buttons Ende********************/
/***************************Input*****************************************/
/*Für den "User-Modus"*/
.usermodus-active .ts-forms-formwrapper label.form-check-label,
.usermodus-active .ts-forms-formwrapper select,
.usermodus-active .ts-forms-formwrapper input,
.usermodus-active .ts-forms-formwrapper textarea,
.usermodus-active .ts-forms-formwrapper .slider {
  background-color: #e9ecef;
  border: solid 2px #f8b3b9 !important;
  color: grey; }

label:not(.ts-forms-label) {
  font-weight: normal !important;
  font-size: 1.2em; }

.radio-label-horizontal {
  margin-right: 1.5em;
  margin-bottom: 20px !important; }

.panel-default label,
label.checkbox-inline,
.ts-forms-label {
  font-weight: normal !important;
  font-size: 1.2em; }

.form-check-input {
  margin-top: 0em; }

.form-group label:not(.ts-forms-label, .label-above) {
  margin-left: 1em; }

/*z.B. für Label über Texteingaben. Überschreibt Label*/
.label-above {
  margin: 0;
  margin-bottom: 0.25em !important; }

/*Innenabstände im Eingabefeld*/
input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not(.form-control-sm):not(.form-control-lg) {
  padding: 6px 12px;
  font-size: 1.2em !important; }

input.form-control[type="number"].is-invalid,
select.form-control.is-invalid {
  background-position: right calc(0.4em + 0.7rem) center; }

.form-control-color {
  max-width: 3rem;
  padding: 0.25rem !important; }

textarea {
  padding: 6px 12px;
  font-size: 1.2em !important; }

.radio {
  /*font-size: 1.2em;*/
  /*font-family: helvetica, , arial, verdana, Myriad Pro;*/
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 0px; }

.radio label {
  margin-bottom: 0px !important; }

/*makes textarea to scrollable single-line-input*/
.single-line-input textarea {
  height: 35px !important;
  overflow: auto;
  padding-top: 6px; }

select {
  font-size: 1.2em !important; }

.display-inline {
  display: inline-block; }

.slider .arrow {
  margin-left: 0 !important; }

.slider {
  display: block !important;
  width: 100% !important; }

.form-group .slider.slider-horizontal {
  margin-top: 1em; }

.slider .slider-selection {
  background: #007bff; }

.slider .slider-handle {
  background: #007bff; }

.slider .tooltip.bs-tooltip-top {
  margin-top: -35px; }

.slider-green {
  background-color: #d1ead9 !important; }

.slider-yellow {
  background-color: #fee1a8 !important; }

.slider-red {
  background-color: #f8b3b9 !important; }

/* Visual Input TS-Forms Scale */
.visualInput-numberboxes {
  border: solid 1px black;
  padding-left: 0px !important; }

.visualInput-numberboxes input,
.visualInput-stars input,
.visualInput-smileys input {
  opacity: 0;
  height: 0;
  width: 0; }

.visualInput-numberboxes input[type=radio]:checked + label {
  background-color: #6c757db3 !important; }

.visualInput-numberboxes label.form-check-label.ts-forms-label.ml-2 {
  margin-left: 0em !important;
  padding-left: 10px;
  padding-right: 10px; }

.fa-star::before {
  color: #ffa41b;
  font-size: 2em; }

.fa-star:hover {
  font-weight: 900; }

.visualInput-stars-selected {
  font-weight: 900; }

.far.fa-angry,
.far.fa-frown,
.far.fa-meh,
.far.fa-smile,
.far.fa-laugh {
  font-size: 2em;
  color: #BDBDBD; }

.visualInput-smileys input[type=radio]:checked + label .far {
  color: black; }

.visualInput-smileys .far:hover {
  color: black; }

/******************************Input Ende*****************************************/
/****************************Output************************************/
/*class im table-tag. Ausgabe von z.B. Textboxen*/
.output_format_data table tbody tr td {
  font-style: italic; }

.output_format_data {
  font-style: italic;
  font-size: 1.2em; }

/*class im p-tag. Ausgabe von z.B. Listen*/
.output_list_data {
  font-style: italic; }

.hyphens-auto {
  -webkit-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important; }

.chart_type_radar {
  max-height: 430px; }

/****************************Output Ende************************************/
/************Ränder und Kacheln****************/
@media (min-width: 1200px) {
  .col-lg-2.rand {
    border-right-style: solid;
    border-width: 0.1em;
    border-color: #b9b9b9; }
  #trainingsliste div:last-of-type {
    border: none; } }

@media (max-width: 1200px) {
  .oben10 {
    margin-top: 2em; }
  .lektionliste li {
    background-image: none;
    padding: 1em; }
  .rand {
    border-style: solid;
    border-width: 0.1em;
    border-color: #b9b9b9; } }

@media (max-width: 768px) {
  .img-responsive {
    margin-left: auto;
    margin-right: auto;
    /*         width: 100%;*/ }
  .textwidget .pull-right {
    margin: 0 auto;
    float: none !important; }
  .textunten {
    clear: both;
    padding-top: 10px; } }

.border-1 {
  border-width: 1px !important; }

.border-top-1 {
  border-top-width: 1px !important; }

.border-right-1 {
  border-right-width: 1px !important; }

.border-bottom-1 {
  border-bottom-width: 1px !important; }

.border-left-1 {
  border-left-width: 1px !important; }

.border-2 {
  border-width: 2px !important; }

.border-top-2 {
  border-top-width: 2px !important; }

.border-right-2 {
  border-right-width: 2px !important; }

.border-bottom-2 {
  border-bottom-width: 2px !important; }

.border-left-2 {
  border-left-width: 2px !important; }

.border-3 {
  border-width: 3px !important; }

.border-top-3 {
  border-top-width: 3px !important; }

.border-right-3 {
  border-right-width: 3px !important; }

.border-bottom-3 {
  border-bottom-width: 3px !important; }

.border-left-3 {
  border-left-width: 3px !important; }

.border-4 {
  border-width: 4px !important; }

.border-top-4 {
  border-top-width: 4px !important; }

.border-right-4 {
  border-right-width: 4px !important; }

.border-bottom-4 {
  border-bottom-width: 4px !important; }

.border-left-4 {
  border-left-width: 4px !important; }

.border-5 {
  border-width: 5px !important; }

.border-top-5 {
  border-top-width: 5px !important; }

.border-right-5 {
  border-right-width: 5px !important; }

.border-bottom-5 {
  border-bottom-width: 5px !important; }

.border-left-5 {
  border-left-width: 5px !important; }

/************Ränder und Kacheln Ende****************/
/************Trainingsübersicht****************/
/**Panel-Liste Trainingsübersicht**/
.header img,
.header .ts-fas-wrapper {
  float: left;
  width: 60px;
  height: 60px;
  object-fit: cover; }

.training-card {
  margin-bottom: 0.5em; }

.training-card-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0rem !important;
  margin-left: 1em; }

.training-card .card-header {
  padding: 0.5rem 0.5rem; }

.ts-flexbutton {
  display: flex;
  align-items: center; }

.training-card .ts-list-button {
  text-decoration: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.ts-list-title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.ts-list-button[aria-expanded=true] .ts-list-title-icon i.fas.fa-chevron-right {
  display: none; }

.ts-list-button[aria-expanded=false] .ts-list-title-icon i.fas.fa-chevron-down {
  display: none; }

/*Kachel Ansicht:*/
.ts-tile {
  width: 100%;
  margin-bottom: 50px;
  -webkit-box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.75);
  background-color: white; }

.card-body.lesson-card .progress,
.ts-tile-body .progress {
  margin-bottom: 1.5em; }

.ts-tile-body a:hover {
  text-decoration: none !important; }

.tile-body {
  padding: 10px;
  margin-top: -20px; }

.ts-tile-body {
  min-height: 21em; }

.tile .tile-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 16em; }

.lockicon {
  width: 100%;
  font-size: x-large; }

.lockicon2 {
  font-size: -webkit-xxx-large;
  margin-top: -10px;
  background-color: white;
  padding: 0.03em;
  border-radius: 100%; }

.ts-start-training-box {
  width: 100%;
  display: inline-block;
  margin-top: -33px;
  height: 4.5em; }

.ts-tile-head img {
  max-height: 13.5em;
  width: 100%;
  object-fit: cover;
  object-position: 0 0; }

.ts-start-training-button {
  float: left; }

.ts-tile i {
  color: #b9b9b9; }

@media only screen and (max-width: 450px) {
  .header h3 {
    left: 15px;
    font-size: 20px; } }

.row.panelrow {
  margin-left: 0px; }

.panel-heading .accordion-toggle:after {
  margin-top: -35px; }

.panel-title a {
  text-decoration: none !important; }

/**Panel-Liste Trainingsübersicht - Ende**/
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .mobile-heading {
    font-size: 18px;
    margin-left: -20px;
    margin-top: 35px; }
  .panel-heading {
    padding: 0; }
  .container {
    padding-left: 0;
    padding-right: 0; }
  .panel-heading .accordion-toggle:after {
    margin-top: -55px;
    margin-right: 10px; } }

/************Trainingsübersicht Ende****************/
/************User-Remover****************/
.gotodelete,
.gotodelete:hover,
.gotodelete:active {
  text-decoration: none !important;
  color: white !important; }

.delete-button:hover {
  background: #BE1E1E !important; }

.userinfo {
  list-style-position: inside; }

#form-delete h2,
#deletecontent h2 {
  margin-bottom: 10px; }

.login-action-delete-account #login {
  padding-top: 3% !important;
  width: 500px; }

.infotext-delete {
  text-align: center; }

/************User-Remover Ende****************/
/************User-Remover Admin****************/
.border-box {
  border: solid 1px;
  border-radius: 0.313em;
  border-color: #b9b9b9;
  padding: 2%;
  margin-bottom: 5%; }

li label {
  margin-bottom: 4px; }

form li input {
  /*width: 40%;*/
  margin-bottom: 20px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

form ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
  padding-left: 0; }

@media (min-width: 768px) {
  form li input:not(.modal-select-training-input, .datedep-checkbox-coaching-lektion) {
    width: 90%; } }

/*PW Feedback*/
.bad,
.short {
  background-color: #f8b3b9;
  padding: 5px; }

.good {
  background-color: #fee1a8;
  padding: 5px; }

.strong {
  background-color: #d1ead9;
  padding: 5px; }

/************User-Remover Admin Ende****************/
/************Progress****************/
.bullet {
  float: left;
  margin-right: 0.8em;
  width: 10px;
  height: 10px;
  border: solid 0.5px;
  border-radius: 25px;
  border-color: #ececec;
  background-color: #ececec; }

.bullet-filled {
  background-color: #b9b9b9;
  border-color: #b9b9b9; }

.bullet:last-child,
.bullet-filled:last-child {
  margin-right: 0.0em; }

.bullet-container {
  display: inline-block; }

.make-grayscale img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.percent-container li {
  list-style-type: none; }

/*Digi-Exist*/
.gami-element {
  border: solid 1px;
  border-color: #f9f9f9;
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 15%;
  background-color: #f9f9f9;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }

/*Gamification-Modal*/
.img-overlay {
  position: absolute;
  right: 0;
  height: 97%;
  background-color: #ffffffed;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 2%; }

.lektion_img_container img {
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(55, 117, 89, 0.2); }

.img-container {
  position: relative;
  width: 350px;
  margin: auto; }

@media only screen and (max-width: 508px) {
  .bullet-filled {
    margin-right: 1em; }
  .bullet-empty {
    margin-right: 1em; } }

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .bullet-filled {
    margin-right: 0.5em; }
  .bullet-empty {
    margin-right: 0.5em; } }

/************Progress Ende****************/
/************Alerts ****************/
/*danger*/
.alert-danger {
  background-color: #f8b3b9;
  color: #58080f;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0.313em;
  border-color: #f8b3b9; }

/*warning*/
.alert-warning {
  background-color: #fee1a8;
  color: #5a3c01;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0.313em;
  border-color: #fee1a8; }

/*success*/
.alert-success {
  background-color: #d1ead9;
  color: #1b3b25;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0.313em;
  border-color: #d1ead9; }

/*info*/
.alert-info {
  background-color: #b8d9f3;
  color: #15507e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0.313em;
  border-color: #b8d9f3; }

.alert h5,
.alert h4,
.alert h3,
.alert h2 {
  margin-top: 0px;
  font-weight: bold; }

/************Alerts Ende****************/
/************Dashboard****************/
.dashboard-card .carousel-indicators {
  bottom: -20px; }

table.table.table-bordered.msg-table {
  table-layout: fixed; }

.dashboard-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: solid 5px #6c757d26;
  min-height: 20em;
  max-height: 40em;
  overflow-y: hidden;
  overflow-x: hidden; }

.dashboard-card .nav-link {
  padding: .3rem .5rem; }

.dashboard-card-header h4,
.dashboard-card h4.dashboard-card-headline,
.empty-card p {
  color: #6c757db3;
  text-align: center !important;
  margin-bottom: .5em; }

.empty-card i {
  font-size: 4em;
  color: #6c757db3; }

.dashboard-card .progress {
  height: 25px;
  font-weight: bold; }

.dashboard-card .lesson-name {
  font-size: 1em; }

.dashboard-card .progress-bar {
  -webkit-animation: progressBar 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode: both; }

@-webkit-keyframes progressBar {
  0% {
    width: 100%; }
  50% {
    width: 50%; } }

@-moz-keyframes progressBar {
  0% {
    width: 100%; }
  50% {
    width: 50%; } }

.animated_list a, .animated_list {
  list-style-type: none;
  -webkit-animation: animatedList 8s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: animatedList 8s ease-in-out;
  -moz-animation-fill-mode: both; }

@-webkit-keyframes animatedList {
  0% {
    color: white; }
  50% {
    color: black; } }

@-moz-keyframes animatedList {
  0% {
    height: 1%; }
  50% {
    height: 50%; } }

.carousel .carousel-indicators li {
  background-color: #6c757db3; }

/************Dashboard Ende****************/
/************Categories****************/
.category_card {
  min-height: 20em; }

.category_item {
  width: 15em;
  float: left; }

.category_card_body li {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important; }

.category_item_list {
  padding-bottom: 10px; }

/************Categories Ende****************/
/************Backend ****************/
/*****************User-List***********************/
.filter-control {
  margin: 0em 1em 1em 1em; }

#table.large-list span {
  white-space: normal !important;
  /*word-break: break-word;*/
  margin-top: 3px;
  /*display: block;*/ }

.large-list .th-inner {
  padding-left: 1em !important; }

.large-list-first tr td:nth-child(1) {
  cursor: pointer; }

.large-list-first tr td:nth-child(1):hover {
  text-decoration: underline; }

.large-list-second tr td:nth-child(2) {
  cursor: pointer; }

.large-list-second tr td:nth-child(2):hover {
  text-decoration: underline; }

.large-list .badge {
  color: inherit;
  background-color: inherit;
  border: solid 1px; }

.large-list .badge::before {
  /*content: '\2713\A0';*/ }

.large-list .badge-success {
  color: green;
  border-color: green; }

.large-list .badge-success a:hover {
  color: green; }

.large-list .badge-success::before {
  content: '\2713\A0'; }

.large-list .badge-error {
  color: red;
  border-color: red; }

.large-list .badge-error a:hover {
  color: red; }

.large-list .badge-error::before {
  content: '\2715\A0'; }

/*****************User-List-Ende***********************/
/*****************User-Detail-Seite***********************/
.user-detail-lessons {
  padding: 1em 1em 0em 1em; }

button.btn.btn-link:not(.accordiontitle) {
  color: black; }

.btn-link {
  font-size: 1.15em;
  padding-left: 0; }

.btn-link:hover {
  color: unset; }

.prog-bar {
  background-color: #b9b9b9;
  /* #367e91;*/
  height: 5px;
  border-radius: 0.313em;
  /* 0.313em;*/ }

.prog-bar-container,
.prog-bar-container-lessons {
  background-color: #ececec;
  /*#d8e6e8;*/
  border-radius: 0.313em;
  /* 0.313em;*/ }

.prog-bar-container-lessons .prog-bar {
  margin-bottom: 1em; }

.user-detail-progress {
  margin-bottom: 1.5em; }

.user-detail-progress-number,
.user-detail-progress-number-lessons {
  float: right; }

.user-detail-progress-number {
  margin-top: 6px;
  font-size: 1.15em; }

.user-detail-box {
  border: solid 1px #BDBDBD;
  /*#d8e6e8;*/
  border-radius: 0.313em;
  /* 0.313em;*/
  padding: 0;
  margin: 1em; }

.box-header {
  background-color: #ececec;
  /* #d8e6e8;*/ }

.box-header h4 {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0; }

.box-body {
  padding: 10px; }

.box-footer {
  padding: 10px; }

.user-detail-progress button,
.user-detail-lessons .lesson-name {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 75%;
  white-space: nowrap;
  display: inline-block; }

/*****************User-Detail-Seite-Ende***********************/
/*****************Coaching-Overview***********************/
.coaching-overview-user-list {
  margin-top: 1em; }

/* .coach-selection-button{
  float: right;
} */
.coaching-overview-user-list-name {
  font-size: 1.15em;
  display: inline-block;
  max-width: 65%; }

/* .coaching-overview-user-list-info{
  padding: 0.5em 0.5em 0em 0.5em;
  max-width: 70%;
} */
.coach-user-list-user-details {
  max-width: 30em; }

.coach-user-list-button-container {
  max-width: 25%; }

/* .coach-user-list-button{
  margin: 0em 0em 1em 0em;
} */
.coach-user-list-button2 {
  margin: 0em 0em 1em 0em;
  width: 130px; }

.coach-user-list-container2 {
  max-width: 25%;
  float: right; }

.coach-list-user-number {
  float: right;
  font-size: 1.15em;
  margin-top: 6px; }

.coach-list-users .coach-list-user-name2 {
  max-width: 75%;
  display: block; }

.coach-list-user-name {
  max-width: 75%; }

.coach-list-users {
  padding: 0.5em 0.5em 0em 0.5em; }

.coach-header {
  float: right;
  font-size: 1.15em; }

.coach-body {
  margin-top: 24px; }

.coach-list-no-users {
  padding: 0em 0em 0em 2em; }

.coaching-overview-user2coach-modal-errormsg {
  display: none; }

/*****************Coaching-Overview-Ende***********************/
.coachingmode-selection-alert-msg {
  display: none; }

#linkArea,
#qrcodeArea {
  margin-bottom: 2%;
  margin-top: 3%; }

.custom-table-row-body:hover {
  background-color: #BDBDBD; }

.custom-table-row-body td:nth-child(1),
.custom-table-row-header th:nth-child(1) {
  text-align: center; }

td label {
  font-weight: normal; }

.bg-arrow {
  font-size: 200px;
  opacity: 0.05;
  margin-top: 20%; }

.modal-select-training-label,
.modal-select-lektionen-label {
  padding-left: 2em; }

.overflow_backend_dropdown {
  height: 200px; }

/*neu*/
/*user-tabelle*/
.connectedSortable,
.connectedSortable-user {
  padding-top: 10px;
  /*padding-left:10px;*/ }

.connectedSortable .ui-state-default,
.connectedSortable-user .ui-state-default {
  padding: 15px; }

/*Minusbutton in der Liste*/
.clear-seite.ui-button {
  /*margin-left: 60%;*/
  padding: 0;
  float: right;
  margin-top: -5px; }

.clear-user-lektion,
.backend-training-mgr-remove-seite {
  float: right;
  margin-top: -5px;
  cursor: pointer;
  border-radius: 0.313em; }

.clear-lektion,
.clear-user-training,
.clear-training-lektion {
  margin-left: 15px;
  padding: 0;
  float: right; }

.custom-table-remove-item,
.clear-user-training,
.clear-training-lektion,
.ui-button {
  cursor: pointer !important; }

/*Lektion hinzufügen-Button*/
.add-user-lektion.ui-button {
  /*margin-left: 15px;*/
  /*padding:0;*/
  margin-top: 2%; }

/*Der Hintergrund für das ganze Training*/
.addbutton-training-lektion .fa-plus-square {
  margin-right: 0.4em; }

.add-seiten .ui-icon.ui-icon-plusthick {
  margin-top: 2%; }

.mylist {
  background-color: #c3dff2 !important;
  margin-bottom: 15px;
  cursor: move;
  border-radius: 0.313em; }

.mylist .ui-sortable li:not(.training-mgr-lektionslite-item) {
  margin-bottom: 3%; }

.ui-sortable {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-bottom: 5%; }

/*ganze Liste*/
.ui-state-default {
  padding: 10px;
  /*margin-bottom: 10%;*/
  background: none; }

/*die einzelnen Flächen für die Lektionen*/
.connectedSortable.ui-sortable li,
.connectedSortable-user.ui-sortable li {
  background-color: #6fb3e0;
  margin-bottom: 2%; }

.ts-frontend-list .lektionen-show-hide .connectedSortable.ui-sortable li,
.ts-frontend-list .lektionen-show-hide .connectedSortable-user.ui-sortable li {
  background-color: #6fb3e0;
  margin-bottom: 2%; }

.mylist .sortable-icon {
  float: left;
  margin-right: 3px;
  margin-top: 7px; }

.lektionen-show-hide {
  display: none; }

.fa-caret-square-up {
  display: none; }

.morelessons {
  display: inline-block;
  padding: 0.2em 0.6em 0.2em 0.6em;
  font-size: 1.1em;
  background-color: #6fb3e0;
  border-color: #827e7e;
  border-radius: 0.313em;
  cursor: pointer; }

.morelessons span {
  margin-right: 0.2em; }

/*.connectedSortable .sortable-icon{
    margin-top: 1px;
}*/
.connectedSortable .sortable-icon,
.connectedSortable-user .sortable-icon {
  /*float: left;*/
  margin-right: 3px;
  margin-top: 1px; }

ul.ui-sortable {
  margin-left: 0em; }

.listheader-sortable {
  margin-bottom: 10px; }

#checkautotraining input {
  margin-left: 10px; }

#checkautotraining {
  font-size: 1.2em;
  margin-bottom: 0px !important; }

.clear-lektion.ui-button,
.clear-user-training.ui-button,
.clear-training-lektion.ui-button {
  vertical-align: initial; }

.listheader-sortable-text {
  font-size: 1.5em;
  margin-left: 3%; }

.training-mgr-lektionslite-item i,
.user-grouper-list-item i {
  margin-right: 3%; }

.ui-icon-plusthick {
  float: left;
  margin-right: 5px; }

.ui-state-default {
  border-color: #827e7e !important;
  /*#777777!important;*/
  border-radius: 0.313em; }

#checkautotraining input[type=checkbox]:checked:before {
  color: #b9b9b9 !important;
  margin: -3px 0 0 -14px; }

/*Alle Buttons*/
.mylist .ui-button {
  text-align: center;
  cursor: default; }

.tabulator-cell {
  min-width: 100px; }

.tabulator-col {
  min-width: 100px !important; }

.ui-button:hover {
  color: black; }

#deselect-all {
  display: block;
  margin-top: 1%; }

#add-user-training .ui-button-text-only .ui-button-text {
  padding: 0 !important; }

#add-user-training,
#db-save-user-training,
#deselect-all {
  visibility: hidden; }

#example-table2 {
  max-width: 800px; }

.tabulator .tabulator-tableHolder {
  overflow-x: hidden !important;
  /*overflow-y: hidden!important;*/ }

.tabulator {
  background-color: rgba(255, 255, 255, 0); }

.tabulator .tabulator-header {
  background-color: #6fb3e0; }

.infotext-nutzerseite {
  max-width: 800px;
  font-size: 1.2em; }

/* User-Modus*/
#user-mode-overlay {
  position: -webkit-sticky;
  /* Safari */
  position: relative;
  left: 0px;
  width: 100%;
  z-index: 99998;
  color: black !important;
  border: solid 5px #f8b3b9;
  background-color: #f8b3b9;
  border-radius: 0.313em;
  text-align: center;
  height: 32px; }

#user-mode-overlay-username {
  margin-right: 1em; }

/*ALT:*/
.startusermode {
  border: solid 1px;
  background-color: #c3dff2;
  /*lightgray;*/ }

.startusermode span {
  display: inline-block; }

.startusermode .ui-icon {
  margin-top: 8px !important; }

span.ui-icon.ui-icon-unlocked {
  vertical-align: sub; }

.user-modus-area {
  max-width: 780px;
  border: solid 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px; }

.user-modus-area input {
  font-size: 1.2em !important; }

.user-modus-area a {
  /*font-size: 1.1em!important;*/
  color: black;
  text-decoration: none; }

.user-modus-area-dir {
  margin-bottom: 10px; }

.user-modus-area .ui-icon {
  float: left; }

.user-modus-area-header .ui-icon {
  margin-top: 14px; }

/*ALT*/
.welcome p {
  margin-top: 3px; }

.welcome h3 {
  margin-bottom: 3px; }

/*Tabelle*/
.bootstrap-table .fixed-table-container .fixed-table-body {
  display: inline; }

.tabulator-selected {
  background-color: #c3dff2 !important; }

.selected-header {
  background-color: #6fb3e0 !important; }

#select-stats {
  margin-left: 0px !important; }

#sortable-user-trainings.ts-backend-list {
  width: 40%; }

.tab-content .tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

/************Backend Ende****************/
/*hide pw generation button */
.reset-pass-submit .button.wp-generate-pw.hide-if-no-js {
  display: none !important; }
