
<h3>Kommentare:</h3>
{# <ul class="">
    {% for comment in comments %}
    <li class="">
     {{comment.comment_content}}
    </li>
    {% endfor %}
</ul> #}


<div class="list-group">
    {% for comment in comments %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
            <small>{{comment.comment_date}}</small>
            </div>
            <p class="mb-1">{{comment.comment_content}}</p>
            <small></small>
        </div>
    {% endfor %}
</div>