<div class="wrapper-admin-backend">
    <div class="modal fade" id="altInfoTexteHelpModal" tabindex="-1" role="dialog" aria-labelledby="altInfoTexteHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="altInfoTexteHelpModalLabel">Alternativer einleitender Text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ist diese Option aktiv, kann anstelle des Standardwert für den einleitenden Text ein alternativer Text eingefügt werden. Es können Platzhalter im alternativen einleitenden Text genutzt werden, welche im Dokument durch die entsprechenden Werte ersetzt werden. Folgende Platzhalter stehen zur Auswahl:</p>
                    <ul>
                        <li><b>[firstname]</b> für den hinterlegten Vornamen.</li>
                        <li><b>[lastname]</b> für den hinterlegten Nachnamen.</li>
                        <li><b>[trainingtitle]</b> für den Titel bzw. den alternativen Titel des Trainings.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>