<div class="wrapper-admin-backend">
    <div class="modal fade" id="altTrainingtitleHelpModal" tabindex="-1" role="dialog" aria-labelledby="altTrainingtitleHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="altTrainingtitleHelpModalLabel">Alternativer Training-Titel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ist diese Option aktiv, kann für das ausgewählte Training anstelle des ursprünglichen Training-Titels ein alternativer Titel vergeben werden, welcher im Dokument eingebunden wird.</p>
                </div>
            </div>
        </div>
    </div>
</div>