<div class="wrapper-admin-backend">
    <h6>Inhalt des Footers: <small>(optional)</small></h6>
    <div class="form-group">
        <textarea class="form-control" id="zertifikat-footer-text" placeholder="Text des Footers" rows="3" style="resize: vertical; max-height: unset;">{{certificate_footer.footer_text}}</textarea>
    </div>
    <h6>Schriftfarbe des Footers:</h6>
    <div class="form-group">
        <input class="mt-0 position-relative form-control form-control-color" type="color" id="zertifikat-footer-color" value="{% if certificate_footer is empty %}#000000{% else %}{{certificate_footer.footer_color}}{% endif %}">
    </div>
    <h6>Eindeutige Kennzeichnung hinzufügen: <small>(optional)</small></h6>
    <div class="form-check m-2 d-flex align-items-center">
        <input type="checkbox" class="form-check-input position-relative" id="zertifikat-add-userid" {% if certificate_footer.add_userid == 1 %}checked{% endif %}>
        <label for="zertifikat-add-userid" class="form-check-label mb-0 mr-5 ml-2">
            ID des Teilnehmenden in Dokument einfügen
        </label>
    </div>
    <h6>Validierungscode hinzufügen: <small>(optional)</small></h6>
    <div class="form-check m-2 d-flex align-items-center">
        <input type="checkbox" class="form-check-input position-relative" id="zertifikat-add-validationcode" {% if certificate_footer.add_userid != 1 %}disabled{% endif %} {% if certificate_footer.add_validationcode == 1 %}checked{% endif %}>
        <label for="zertifikat-add-validationcode" class="form-check-label mb-0 mr-5 ml-2">
            Validierungscode in Dokument einfügen
        </label>
        <button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#validationcodeHelpModal" type="button"><i class="fas fa-question-circle"></i>&nbsp;Hilfe Validierungscode</button>
    </div>
</div>

{% include "zertifikate/backend-zertifikat-validationcode-help-modal.html" %}