<div class="wrapper-admin-backend">
    <div class="modal fade" id="validationcodeHelpModal" tabindex="-1" role="dialog" aria-labelledby="validationcodeHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationcodeHelpModalLabel">Validierungscode</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Ist diese Option aktiviert, wird ein Code zur Validierung des Teilnahmezertifikats im Dokument eingefügt. 
                        Für die Berechnung des Validierungscodes wird die User-ID, die Trainings-ID und die Uhrzeit des Erstellungsdatum des Zertifikats genutzt.
                        Der Validierungscode berechnet sich wie folgt:
                    </p>
                    <p><b>Validierungscode</b> = <b>User-ID</b> x <b>Trainings-ID</b> + <b>Uhrzeit</b></p>
                    <p>Soll ein Teilnahmezertifikat mit dem angegebenen Code validiert werden, kann die Trainings-ID mit dem Validierungscode, der Uhrzeit des Erstellungsdatums des Zertifikats und der User-ID auf die folgende Weise berechnet werden:</p>
                    <p><b>Trainings-ID</b> = (<b>Validierungscode</b> - <b>Uhrzeit</b>) / <b>User-ID</b></p>
                    <p>Die Uhrzeit des Erstellungsdatums des Zertifikats muss bei der Berechnung des Validierungscodes bzw. der Trainings-ID als drei- bzw. vierstellige Zahl (z.B. 840 für 08:40 Uhr) angegeben werden.</p>
                </div>
            </div>
        </div>
    </div>
</div>