{% if training.fin >= 100 %}
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
  <a class="text-decoration-none" {% if current_user.user_firstname is not empty and current_user.user_lastname is not empty %}href="javascript:generateCertifikate({{training.zertifikat.certificate_header}},{{training.zertifikat.certificate_content}}, {{training.zertifikat.certificate_footer}}, '{{findates[training.zertifikat.certificate_ID]}}')"{% endif %} class="text-color-black">
  <div class="gami-element">
    <h4 class="mt-1 mb-3">
      {{training.title}}
     </h4> 
    <div class="gami-img zerti-img" title="{{training.title}}">
      <img id="{{training.title}}-zertifikat-image" src="
      {% if training.imageurl is empty%}
      {{defaultimglink}}
      {% else %}
      {{training.imageurl}}
      {% endif %}" alt="{{training.title}}"  /> 
    </div>
    <div class="bullet-container">
    </div>
    {% if current_user.user_firstname is not empty and current_user.user_lastname is not empty %}
    <div>
      <a href="javascript:generateCertifikate({{training.zertifikat.certificate_header}},{{training.zertifikat.certificate_content}}, {{training.zertifikat.certificate_footer}}, '{{findates[training.zertifikat.certificate_ID]}}')" class="text-color-black"><i class="fas fa-file-pdf mr-2"></i>Teilnahmezertifikat</a> 
    </div>
    {% endif %}
  </div><!-- gami ele ende -->
</a> 

</div>
{% endif %}