  <div class="gami-element h-100 d-flex flex-column justify-content-between {{margin}}">
      {# <span>{{training.title}}</span> #}
    <div class="gami-img {% if training.fin < 100 %} make-grayscale {% endif %} mb-auto">
     <img src="{{training.imageurl}}" alt="{{training.title}}" class="img-fluid"/> 
    </div>
      {% if customtitle is not empty %}
        <h4>{{customtitle}} {{loop.index}}</h4>
      {% endif %}
      {% if showtitle == 1 %}
        <p>{{training.title}}</p>
      {% endif %}
    <div class="bullet-container d-flex justify-content-center row mx-auto">
      {% for lektion in training.lektionsliste %}
         {% include "abzeichen/abzeichen-lektion.html" with {'lektionsabzeichen': training.hasLektionsabzeichen, 'countLektionsabzeichen': training.countLektionsabzeichen} %}
      {% endfor %}
    </div>
  </div><!-- gami ele ende -->