{% if not notrainings %}
  {% if trainings|length > 0 %}
  <h1 class="text-center mb-5">{{heading}}</h1>
  {% else %}
  <br>
  <div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Auf diesem System wurden für Ihre Trainings noch keine Abzeichen konfiguriert.
    </p> 
  </div>
  {% endif %}
  <div class="row gami-element-row">
    {% for training in trainings %}
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mb-5 p-0">
      {% include "abzeichen/abzeichen-item.html" with {'training': training} %}
    </div>
    {% endfor %}
  </div><!-- row 1 ende -->
{% else %}
<br>
<div class="alert alert-warning" role="alert">
  <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
  <p>
    Ihnen wurden noch keine Trainings freigegeben, sodass auch kein Fortschritt anzuzeigen ist.
  </p>
</div>
{% endif %}

  