{% if lektionsabzeichen %}
  {% if countLektionsabzeichen == "single" %}
  <div class="{% if lektion.fin < 100 %} make-grayscale {% endif %} lektion_img_container col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 p-0">
    <img src="{{lektion.complete_image_url}}" class="img-fluid w-100"/> 
  </div>
  {% elseif countLektionsabzeichen == "double" %}
  <div class="lektion_img_container col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 p-0">
    {% if lektion.fin == 100%}
    <img src="{{lektion.complete_image_url}}" alt="{{lektion.title}}" class="img-fluid w-100"/> 
    {% else %}
    <img src="{{lektion.incomplete_image_url}}" alt="{{lektion.title}}" class="img-fluid w-100"/> 
    {% endif %}
  </div>
  {% endif %}
{% else %}
  {% if lektion.fin == 100%}
  <span class="bullet bullet-filled"> </span>
  {% else %}
  <span class="bullet"></span>
  {% endif %}
{% endif %}