<div class="abzeichen-modale">
    <div class="modal fade" id="training-not-fin" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel"
        data-id="{{training.id}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"
            style="pointer-events: unset !important">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h3>{{heading}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center !important">
                    <div class="img-container pl-1">
                        <div class="{{overlay_class}}"></div>
                        <img class="mb-0" src="{{srcLektion}}" width="350">
                    </div>
                    <h4 id="userProgress">Ihr Trainingsfortschritt: </h4><br>
                    <{{textTag}}>{{textStringLektion}}</{{textTag}}>
                </div>
                <div class="modal-footer">
                    <a href="{{page_user_progress}}" target="_blank" id="to-badges-btn" type="button"
                        class="btn btn-secondary mr-auto">Abzeichen-Übersicht</a>
                    <button id="training-not-fin-btn" type="button" class="btn btn-primary"
                        onclick="badgeContinue('{{buttonLink}}')">{{buttonTitel}}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="training-fin" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel"
        data-id="{{training.id}}" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"
            style="pointer-events: unset !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{heading}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <div class="img-container pl-1">
                        <img src="{{srcTraining}}" width="350">
                    </div>
                    <{{textTag}}>{{textString}}</{{textTag}}>
                </div>
                <div class="modal-footer">
                    <a href="{{page_user_progress}}" target="_blank" id="to-badges-btn" type="button"
                        class="btn btn-secondary mr-auto">Abzeichen-Übersicht</a>
                    <a id="training-fin-btn" type="button" class="btn btn-primary"
                        onclick="badgeContinue('{{buttonLink}}')">{{buttonTitel}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
