<div id="accordion{{ran}}" class="card ts-accordion {{div_classes}}">
  <div class="card-header schriftgroesse {{header_classes}}" id="card-heading{{ran}}">
    <button class="btn btn-link collapsed accordiontitle {{title_size_class}}" data-toggle="collapse"
      data-target="#collapsethis{{ran}}" data-parent="#accordion{{ran}}" aria-expanded="{{ show != 1 ? 'false' : 'true' }}"
      aria-controls="collapsethis{{ran}}">
      {% if icon == "plus" %}
        <i class="fas fa-plus ts-accordion-plus"></i>
      {% elseif icon == "chevron" %}
        <i class="fas fa-chevron-right ts-accordion-chevron"></i>
      {% endif %}{{title}}
    </button>
  </div>
  <div id="collapsethis{{ran}}" class="collapse {{ show != 1 ? '' : 'show' }}" aria-labelledby="card-heading{{ran}}" data-parent="#accordion{{ran}}">
    <div class="accordion-inner card-body {{inner_classes}}">
      {{do_shortcode | raw}}
    </div>
  </div>
</div>