<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_accordion]</code>, bzw. <code>[tspv2_accordionmd]</code> oder <code>[accordionmd]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li>Attribut <code>title</code> als verpflichtender Titel des Accordions.</li>
    </ul>
    <ul>
        <li>Das Attribut <code>title-size</code> kann optional auf <code>small</code> gesetzt werden, um einen kleineren Accordion-Titel zu erhalten.</li>
        <li>Das Attribut <code>inner_classes</code> kann optional benutzt werden, um dem inneren Div-Container eigene CSS-Klassen mitzugeben.</li>
        <li>Das Attribut <code>header_classes</code> kann optional benutzt werden, um dem Header-Div-Container eigene CSS-Klassen mitzugeben.</li>
        <li>Das Attribut <code>div_classes</code> kann optional benutzt werden, um dem allumschließenden Div-Container eigene CSS-Klassen mitzugeben.</li>
        <li>Das Attribut <code>icon</code> kann optional benutzt werden, um dem Accordion-Titel ein anderes Icon voranzustellen. Standardwert ist <code>plus</code> für das <i class="fas fa-plus"></i>-Icon. Alternativ kann mittels <code>chevron</code> das <i class="fas fa-chevron-right"></i>-Icon benutzt werden.</li>        
    </ul>
</div>