<h4>Vorschau:</h4>
{% if filecontent|length > 0 %}
<table class="mt-3 table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="align-middle" scope="col">Name</th>
            <th class="align-middle" scope="col">E-Mail-Adresse</th>
            <th class="align-middle" scope="col">Unternehmen</th>
            <th class="align-middle" scope="col">Team</th>
            <th class="align-middle" scope="col">Studien-ID</th>
            <th class="align-middle" scope="col">Studiengruppen-ID</th>
            <th class="align-middle" scope="col">Freischaltcode</th>
            <th class="align-middle text-center" scope="col">Importierbar</th>
            <th class="align-middle text-center" scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for linekey, line in filecontent %}
            <tr id="csv-import-row-{{ linekey }}" class="csv-import-row" data-linekey="{{ linekey }}">
                <td class="align-middle csv-import-cell" data-value="{{ line[0] }}">
                    {% if status[linekey]['name'] %}
                        <i data-toggle="tooltip" title="Name ist gültig" class="fas fa-check-circle text-success"></i>
                    {% else %}
                        <i data-toggle="tooltip" title="Name ist ungültig oder bereits vergeben" class="fas fa-times-circle text-danger"></i>
                    {% endif %}&nbsp;
                    {{ line[0] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[1] }}">
                    {% if status[linekey]['mail'] %}
                        <i data-toggle="tooltip" title="E-Mail-Adresse ist gültig" class="fas fa-check-circle text-success"></i>
                    {% else %}
                        <i data-toggle="tooltip" title="E-Mail-Adresse ist ungültig oder bereits für einen anderen Benutzer in Verwendung" class="fas fa-times-circle text-danger"></i>
                    {% endif %}&nbsp;
                    {{ line[1] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[2] }}">
                    {% if line[2] != '-' %}
                        {% if status[linekey]['company'] %}
                            <i data-toggle="tooltip" title="Unternehmenszuordnung ist gültig und dieser Datensatz kann dem Unternehmen zugeordnet werden" class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i data-toggle="tooltip" title="Unternehmenszuordnung ist ungültig, dieser Unternehmensname ist nicht bekannt" class="fas fa-times-circle text-danger"></i>
                        {% endif %}&nbsp;
                    {% endif %}
                    {{ line[2] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[3] }}">
                    {% if line[3] != '-' %}
                        {% if status[linekey]['group'] %}
                            <i data-toggle="tooltip" title="Gruppenzuordnung ist gültig und dieser Datensatz kann dem Team zugeordnet werden" class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i data-toggle="tooltip" title="Gruppenzuordnung ist ungültig, dieser Gruppenname ist innerhalb des Unternehmens nicht bekannt" class="fas fa-times-circle text-danger"></i>
                        {% endif %}&nbsp;
                    {% endif %}
                    {{ line[3] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[4] }}">
                    {% if line[4] != '-' %}
                        {% if status[linekey]['studyid'] %}
                            <i data-toggle="tooltip" title="Studien-ID ist gültig" class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i data-toggle="tooltip" title="Studien-ID ist ungültig" class="fas fa-times-circle text-danger"></i>
                        {% endif %}&nbsp;
                    {% endif %}
                    {{ line[4] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[5] }}">
                    {% if line[5] != '-' %}
                        {% if status[linekey]['studygroupid'] %}
                            <i data-toggle="tooltip" title="Studiengruppen-ID ist gültig" class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i data-toggle="tooltip" title="Studiengruppen-ID ist ungültig" class="fas fa-times-circle text-danger"></i>
                        {% endif %}&nbsp;
                    {% endif %}
                    {{ line[5] }}
                </td>
                <td class="align-middle csv-import-cell" data-value="{{ line[6] }}">
                    {% if line[6] != '-' %}
                        {% if status[linekey]['registerkey'] %}
                            <i data-toggle="tooltip" title="Freischaltcode ist gültig und kann für diesen Datensatz eingelöst werden" class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i data-toggle="tooltip" title="Freischaltcode ist ungültig oder kann für diesen Datensatz nicht mehr eingelöst werden (siehe maximale Einlösungen)" class="fas fa-times-circle text-danger"></i>
                        {% endif %}&nbsp;
                    {% endif %}
                    {{ line[6] }}
                </td>
                <td class="align-middle text-center">
                    {% if status[linekey]['name'] and status[linekey]['mail'] and status[linekey]['company'] and status[linekey]['group'] and status[linekey]['studyid'] and status[linekey]['studygroupid'] and status[linekey]['registerkey'] %}
                        <i data-toggle="tooltip" title="Datensatz kann importiert werden" class="fas fa-check-circle text-success"></i>
                    {% else %}
                        <i data-toggle="tooltip" title="Datensatz kann nicht importiert werden" class="fas fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
                <td class="align-middle text-center csvImportTableCell"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
    <p>
        Es sind keine zu importierenden Benutzer vorhanden.
    </p>
</div>
{% endif %}