<div class="alert alert-danger mb-0" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Ihre Postleitzahl {{ plz }} wurde nicht gefunden.<br>Bitte versuchen Sie es erneut.
    </p>
</div>