<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_nearest_location]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li>Das Attribut <code>locations</code> muss benutzt werden, um die vorgegebenen Orte zu definieren. Die Struktur ist unten beispielhaft vorgegeben, die Attribute <code>description</code> und <code>link</code> müssen vorhanden sein, können aber bei Bedarf leer gelassen werden. Als Format muss JSON verwendet werden. Achtung auf die einfachen und doppelten Anführungszeichen!</li>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser "Nahegelegene Orte", kann aber durch Setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>subject</code> kann optional benutzt werden, um einen eigenen Überbegriff für die Orte anzugeben. Standardmäßig lautet dieser "Orte", kann aber durch Setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>limit</code> kann optional benutzt werden, um die Anzahl der Ergebnisse zu beschränken. Erlaubte Werte sind -1 für alle, und > 0 für eine bestimmte Anzahl. Standardmäßig werden die 3 Einträge ausgegeben, die am nahsten an der Nutzereingabe sind.</li>
        <li>Das Attribut <code>showplzsearch</code> kann optional benutzt werden, um die PLZ-Suche auszublenden. Hierzu muss das Attribut auf <code>false</code> gsetzt werden. Die Karte nimmt dann die gesamte Breite der Seite ein. Standardmäßig ist die Suche aktiviert.</li>
        <li>Das Attribut <code>showlocationsinitially</code> kann optional benutzt werden, um die Orte bereits vor der Suche auf der Karte anzuzeigen. Um diese Funktion zu aktivieren, muss der Wert auf <code>true</code> gesetzt werden. Standardmäßig ist diese Funktion deaktiviert.</li>
        <li>Das Attribut <code>showtooltips</code> kann optional benutzt werden, um die Ortsnamen als Tooltip auf der Karte anzuzeigen. Um diese Funktion zu deaktivieren, muss der Wert auf <code>false</code> gesetzt werden. Standardmäßig ist diese Funktion aktiviert. <b>Hinweis:</b> Bei nah zusammenliegenden Punkten können Ortsnamen ohne Tooltip übereinander dargestellt werden und damit schwer lesbar sein.</li>
        <li>Das Attribut <code>mylocationtooltiptext</code> kann optional benutzt werden, um den Text für den eingegebenen Standort im Tooltip anzuzeigen. Standardmäßig ist dieser Text "Ihr Standort".</li>
    </ul>
    <p>
        Beispiel für einen Location-String:<br>
        <code>{ "0": { "name": "Ort 1", "description": "Beschreibung zu Ort 1", "address": "Beispielstraße 123, 12345 Beispielstadt", "phone": "0123456789", "mail": "example@example.com", "link": "https:\/\/example.com\/", "lat": "53.83757", "long": "10.69901"}, "1": {...} }</code>
    </p>
</div>