<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Es ist ein unbekannter Fehler aufgetreten.<br>Bitte versuchen Sie es später erneut.
    </p>
</div>