<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Details können erst ab einem Schwellwert von {{ MINTEILNEHMER }} Mitgliedern angezeigt werden.
    </p>
</div>