<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Details können nur angezeigt werden, wenn Mitglieder diesem Unternehmen zugeordnet wurden.
    </p>
</div>