<div class="mb-5 detail-page-top-navi d-flex justify-content-between">
    <div class="">
        <a href="{{company_overview_link}}" role="button" class="btn btn-primary"> <i class="fas fa-chevron-left"></i> Zurück</a>
    </div>
    <div class="">
        <h1 class="mb-0">{{company.name}}</h2>
    </div>
    <div>
        <a role="button" class="btn btn-primary invisible"> <i class="fas fa-chevron-left"></i> Zurück</a>
    </div>
</div>
{% if show %}
<div class="row">

    {% include "company-details/company-details-member-progress.html" %}
    
    {% if company.boss is not null %}
    <div class="col-lg-6">
        <div class="card user-detail-box">
            <div class="box-header">
                <h4>Führungskraft</h4>
            </div>
            <div class="box-body">
                <p>Name: {{company.boss.name}}</p>
                <p>Teilnehmer-ID: {{company.boss.id}}</p>
                {% if not hideMails %}
                <p>E-Mail-Adresse: <a href="mailto:{{company.boss.mail}}">{{company.boss.mail}}</a></p>
                {% endif %}
                <p>Letzter Login: {% if boss_lastlogin is not empty %}{{boss_lastlogin}}{% else %}-{% endif %}</p>
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
    {% endif %}
    <!--/lg-6-->

    <div class="col-lg-6 ">
        <div class="card user-detail-box">
            <div class="box-header">
                <h4>Gruppen</h4>
            </div>
            <div class="box-body">
                {% if groups|length > 0 %}
                    {% for group in groups %}
                    <div class="d-flex flex-row align-items-center justify-content-between {% if not loop.first %}mt-2{% endif %}">
                        <a href="{{ company_group_links[group.id] }}">{{group.name}}</a>
                        <a href="{{ company_group_links[group.id] }}" role="button"
                            class="ml-3 btn btn-primary"><i class="pointer fas fa-chart-pie"></i></a>
                        <span
                            class="ml-auto badge badge-secondary">{{group.members | length}}&nbsp;Mitarbeitende</span>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-info" role="alert">
                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                    <p>
                        Für dieses Unternehmen sind noch keine Gruppen vorhanden.
                    </p>                        
                </div>
                {% endif %}
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
    <!--/lg-6-->


    {% include "systemstatistics/systemstatistics-user-active-counthour.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumhour.html" %}
    {% include "systemstatistics/systemstatistics-user-active-countweekday.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumweekday.html" %}
    {% include "systemstatistics/systemstatistics-user-active-countpage.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumpage.html" %}

</div>
{% elseif allmembers|length == 0 %}
    {% include "company-details/company-details-nomembers.html" %}
{% else %}
    {% include "company-details/company-details-tooless.html" %}
{% endif %}
<br>
<a href="{{company_overview_link}}" role="button" class="btn btn-primary"> <i class="fas fa-chevron-left"></i> Zurück</a>