<div class="d-flex align-items-center justify-content-between mb-5">
    <a href="{{company_detail_link}}" role="button" class="btn btn-primary"><span
        class="fas fa-chevron-left" aria-hidden="true"></span>&nbsp;Zurück</a>
    <h1 class="mb-0">{{company.name}}&nbsp;&minus;&nbsp;{{group.name}}</h1>
    <a role="button" class="btn btn-primary invisible"><span
        class="fas fa-chevron-left" aria-hidden="true"></span>&nbsp;Zurück</a>
</div>

{% if show %}
<div class="row">

    {% include "company-details/company-details-member-progress.html" %}

    <div class="col-lg-6">
        <div class="card user-detail-box">
            <div class="box-header">
                <h4>Team</h4>
            </div>
            <div class="box-body">
                <p>Name: {{group.name}}</p>
                <p>Gruppen-ID: {{group.id}}</p>
                <p>Firma: {{company.name}}</p>
                {% if company.boss is null %}
                    <p>Führungskraft: <i>nicht festgelegt</i></p>
                {% else %}
                    {% if not hideMails %}
                        <p>Führungskraft: {{company.boss.name}} (<a href="mailto:{{company.boss.mail}}">{{company.boss.mail}}</a>)</p>
                    {% else %}
                        <p>Führungskraft: {{company.boss.name}}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
    <!--/lg-6-->

    <div class="col-lg-6 ">
        <div class="card user-detail-box">
            <div class="box-header">
                <h4>Gruppen-Mitglieder</h4>
            </div>
            <div class="box-body">
                {% if group.members|length > 0 %}
                    {% for member in group.members %}
                    <p>
                        {% if not hideMails %}
                        <span class="align-middle">{{member.name}}&nbsp;(<a
                                href="mailto:{{member.mail}}">{{member.mail}}</a>)</span>
                        {% else %}
                        <span class="align-middle">{{member.name}}</span>
                        {% endif %}
                    </p>
                    {% endfor %}
                {% else %}
                <div class="alert alert-info" role="alert">
                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                    <p>
                        Für dieses Team sind noch keine Mitarbeitenden vorhanden.
                    </p>                        
                </div>
                {% endif %}
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
    <!--/lg-6-->

</div>
<!--/row-->

<div class="row">

    {% include "systemstatistics/systemstatistics-user-active-counthour.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumhour.html" %}
    {% include "systemstatistics/systemstatistics-user-active-countweekday.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumweekday.html" %}
    {% include "systemstatistics/systemstatistics-user-active-countpage.html" %}
    {% include "systemstatistics/systemstatistics-user-active-sumpage.html" %}

</div>
{% else %}
    {% include "company-details/company-details-tooless.html" %}
{% endif %}
<br>
<a href="{{company_detail_link}}" role="button" class="btn btn-primary"><span
        class="fas fa-chevron-left" aria-hidden="true"></span>&nbsp;Zurück</a>