<h2>Unternehmens Detail:</h2>
<br>
<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
   <p>
        Die von Ihnen gewählt Firma ist nicht vorhanden. Bitte gehen Sie <a href="{{company_overview_link}}" title="Zurück">zurück</a> und versuchen es erneut.
   </p> 
</div>