<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_tab_element]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li>Das Attribut <code>orientation</code> kann optional benutzt werden, um die Anordnung der Tabs festzulegen. Standardmäßig werden die Tabs oberhalb des Inhalts angeordnet.</li>
        <li>Das Attribut <code>fade</code> kann optional benutzt werden, um einen Fade-Effekt beim Wechsel der Tabs zu aktivieren. Standardmäßig ist der Fade-Effekt aktiv.</li>
        <li>Das Attribut <code>tab-color-active</code> kann optional benutzt werden, um dem aktiven Tab eine Hintergrundfarbe zu geben. Standard ist die Farbe <code>#FFFFFF</code>.</li>
        <li>Das Attribut <code>tab-color-inactive</code> kann optional benutzt werden, um den inaktiven Tabs eine Hintergrundfarbe zu geben. Standard ist die Farbe <code>#FFFFFF</code>.</li>
        <li>Das Attribut <code>tab-text-color-active</code> kann optional benutzt werden, um dem Text des aktiven Tabs eine Farbe zu geben. Standard ist die Farbe <code>#000000</code>.</li>
        <li>Das Attribut <code>tab-text-color-inactive</code> kann optional benutzt werden, um dem Text der inaktiven Tabs eine Farbe zu geben. Standard ist die Farbe <code>#000000</code>.</li>
    </ul>
    <p>Beispiel:</p>
    <div class="beispiel m-3">
        <xmp style="white-space: initial ">
            [tspv2_tab_element tab-text-color-active="#FFFFFF" tab-text-color-inactive="#333333" tab-color-active="#333333" tab-color-inactive="#FFFFFF"]
        </xmp>
        <xmp style="white-space: initial ">
            <div class="tabelement" title='Tab 1'> Tab Content 1 </div>
        </xmp>
        <xmp style="white-space: initial ">
            <div class="tabelement" icon="fas fa-user"> Tab Content 2 </div>
        </xmp>
        <xmp style="white-space: initial ">
            <div class="tabelement" icon="fas fa-user" title='Tab 3'> Tab Content 3 </div>
        </xmp>
        <xmp style="white-space: initial ">
            [/tspv2_tab_element]
        </xmp>
    </div>
</div>