<div id="duplicateTrainingModal" class="modal fade" role="dialog" aria-labelledby="duplicateTrainingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="duplicateTrainingModalLabel" class="modal-title">Training duplizieren</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="duplicateTrainingForm">
                    <div class="form-group">
                        <label for="duplicateTrainingAppend" class="ml-0">Training Zusatz:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Ursprünglicher Name</span>
                            </div>
                            <input type="text" id="duplicateTrainingAppend" class="form-control" value=" − Kopie">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duplicateLektionAppend" class="ml-0">Lektion Zusatz:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Ursprünglicher Name</span>
                            </div>
                            <input type="text" id="duplicateLektionAppend" class="form-control" value=" − Kopie">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duplicateSeitenAppend" class="ml-0">Trainingsseite Zusatz:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Ursprünglicher Name</span>
                            </div>
                            <input type="text" id="duplicateSeitenAppend" class="form-control" value=" − Kopie">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duplicateTrainingTsFormAppend" class="ml-0">TS-Form Zusatz:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Ursprünglicher Name</span>
                            </div>
                            <input type="text" id="duplicateTrainingTsFormAppend" class="form-control" value=" − Kopie">
                        </div>
                    </div>
                    <input type="hidden" id="duplicateTrainingId" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="duplicateTrainingButton" class="btn btn-primary duplicateTrainingButton" >Duplizieren</button>
            </div>
        </div>
    </div>
</div>