<div id="importMedienModal" class="modal fade" role="dialog" aria-labelledby="importMedienLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="importMedienLabel" class="modal-title">Import Medien</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                       <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        Sollte eine Medien-Datei auf dem Server bereits vorhanden sein, so wird diese beim Import <b>nicht</b> mit der neuen Datei überschrieben, sondern bleibt unverändert!
                    </p>
                </div>
                <p>
                    Laden Sie die ZIP-Medien-Datei mit FTP auf Ihren Server hoch und legen Sie sie im Ordner <code>wp-uploads/trainings-ex-import</code> ab.
                </p>
                <form>
                    <div class="form-group">
                        <label for="medienDatei">Medien-Datei:</label>
                        <select class="form-control" id="medienDatei">
                            {% for file in files %}
                                <option value="{{file}}">{{file}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary importMedienButton">Bestätigen</button>
            </div>
        </div>
    </div>
</div>