<div id="importTrainingModal" class="modal fade" role="dialog" aria-labelledby="importTrainingLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="importTrainingLabel" class="modal-title">Import Training</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="trainingDatei">Training-Datei:</label>
                        <input type="file" class="form-control-file" id="trainingDatei" accept=".json">
                    </div>
                </form>
                <div role="alert" class="alert alert-danger d-none" id="import_nofilewarning">
                    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
                    <p>
                        Es wurde keine Datei ausgewählt.
                    </p>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary importTrainingButton" >Bestätigen</button>
            </div>
        </div>
    </div>
</div>