

        <div class="col-lg-6">
            <div class="card user-detail-box">
            <div class="box-header">
              <h4>Allgemeine Informationen</h4>
            </div>
            <div class="box-body">
                    <canvas id="chartJSContainer4" width="600" height="400"></canvas>
                    <script>

                  jQuery( document ).ready(function() {

                    var options = {
                      type: 'line',
                      data: {
                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                        datasets: [
                            {
                              label: '# of Votes',
                              data: [12, 19, 3, 5, 2, 3],
                              borderWidth: 1
                            },
                                {
                                    label: '# of Points',
                                    data: [7, 11, 5, 8, 3, 7],
                                    borderWidth: 1
                                }
                            ]
                      },
                      options: {
                          scales: {
                            yAxes: [{
                            ticks: {
                                        reverse: false
                            }
                          }]
                        }
                      }
                    }
                    
                    var ctx = document.getElementById('chartJSContainer4').getContext('2d');
                    new Chart(ctx, options);

                  }); //document.ready


                  
                    </script>
            </div>
            <div class="box-footer">
    
            </div>
          </div>
        </div>
        <!--/lg-6-->