<!-- Modal reset user log-->
<div class="modal fade" id="systemstatisticsResetUserLogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Daten zurücksetzen</h2>
            </div>
            <div class="modal-body">
                <p>
                    Die Daten werden unwiederbringlich gelöscht. Die Daten von folgenden Diagrammen können aus organisatorischen Gründen nicht zurückgesetzt werden:
                </p>
                <ul>
                    <li>Anzahl hinzugefügte Benutzer</li>
                    <li>Zeitpunkt des letzten Logins</li>
                    <li>Anzahl Benutzereingaben</li>
                    <li>Anzahl abgeschlossene Lektionen</li>
                    <li>Anzahl abgeschlossene Trainings</li>
                </ul>
                <p>
                    Sollen die Daten wirklich zurückgesetzt werden?
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" id="systemstatistics-reset-user-log-button" class="btn btn-primary">Bestätigen</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div> 