<div class="col-lg-12">
    <div class="card user-detail-box">
        <div class="box-header">
            <h4>Heutige Login-Aktivität</h4>
        </div>
        <div class="box-body" id="systemstatistics-login-history">
        </div>
        <div class="box-footer">
            <div class="d-flex justify-content-center">
                <button class="btn btn-lg btn-primary" id="systemstatistikenloginhistorybutton">Login-Aktivität einblenden</button>
                <button class="btn btn-lg btn-primary" id="systemstatistikenloginhistorybuttonhide" hidden>Login-Aktivität ausblenden</button>
            </div>
        </div>
    </div>
</div>

