        <div class="col-lg-6">
            <div class="card user-detail-box">
            <div class="box-header">
              <!--Originalheadline-->
              <!--<h4>Auf welcher Seite aktive (Klicks)</h4>-->
              <h4>Benutzeraktivität (gemessen in Seitenaufrufe/Seite)</h4>
            </div>
            <div class="box-body">
                    <canvas id="chartJSContainercountpageactive" width="600" height="400"></canvas>
                    <script>

                      var barChartUserActiveCountpage;

                      jQuery( document ).ready(function() {
                        var userActiveCountpageOptions = {
                      type: 'bar',
                      data: {
                        labels: {{countpageactive_l| raw}},
                        datasets: [
                            {
                              label: 'Aktivität in Seitenaufrufe/Seite',
                              //label: 'Klicks',
                              backgroundColor: 'rgba(102,0,102,0.25)',
                              borderColor: 'rgba(102,0,102,1)',
                              hoverBackgroundColor: 'rgba(102,0,102,0.5)',
                              showLine: false,
                              borderWidth: 1,
                              data: {{countpageactive_v| raw}}
                              
                            }
                          ]
                      },
                      options: {
                                plugins: {
                          zoom: {
                            zoom: {
                              wheel: {
                                enabled: true,
                              },
                              pinch: {
                                enabled: true
                              },          
                              mode: 'xy',
                            },
                            pan: {
                                enabled: true,
                                mode: 'xy'
                              },
                          }
                        },
                        scales:{
                          x:{
                            display: true,
                            title:{
                              display: true,
                              text: 'Seite'
                            }
                          },
                          y:{
                            display: true,
                            title: {
                              display: true,
                              text: 'Anzahl Seitenaufrufe'
                            },
                            beginAtZero: true,
                            min: 0
                          }
                        }
                          
                      }
                    }
            
                    var ctx = document.getElementById('chartJSContainercountpageactive').getContext('2d');
                    barChartUserActiveCountpage = new Chart(ctx, userActiveCountpageOptions);

                      }); //document.ready

                    </script>
                    
            </div>
            <div class="box-footer">
              <p class="font-size-small mb-1">Wertebereich:</p>
              <form id="systemstatistiken-countpage-form" action="" method="GET" class="d-flex justify-content-between">
                <div class="mr-2"> 
                  <input type="number" id="systemstatistiken-countpage-startvalue" placeholder="von" min=0 class="form-control">
                </div>
                <div class="mr-2">
                  <input type="number" id="systemstatistiken-countpage-endvalue" placeholder="bis" min=0 class="form-control ">
                </div>
                <div>
                  <button id="systemstatistiken-countpage-submit" type="submit" class="btn btn-secondary h-100">Ausführen</button>
                </div>
              </form>
            </div>
            <div class="box-footer d-flex justify-content-end">
                <button type="button" class="btn btn-primary mr-2" id="systemstatistiken-excelexport-countpage" title="Chart als Excel-Datei speichern"><i class="fas fa-file-excel mr-2"></i>Download Excel</button>
                <button type="button" class="btn btn-primary" id="systemstatistiken-pdfexport-countpage" title="Chart als PDF-Datei speichern"><i class="fas fa-file-pdf mr-2"></i>Download PDF</button>
            </div>
          </div>
        </div>
