        <div class="col-lg-6">
            <div class="card user-detail-box">
            <div class="box-header">
              <h4>Bewertungen</h4>
            </div>
            <div class="box-body">
                    <canvas id="chartJSContainerRating" width="600" height="400"></canvas>
                    <script>
                      jQuery( document ).ready(function() {

                              var options = {
                            type: 'bar',
                            data: {
                                labels: {{pageid| raw}},
                              datasets: [
                                  {
                                    label: 'Bewertungen',
                                    showLine: false,
                                    borderWidth: 1,
                                    data: {{bewertung| raw}}
                                    
                                  }
                                ]
                            },
                            options: {
                              plugins: {
                              zoom: {
                                zoom: {
                                  wheel: {
                                    enabled: true,
                                  },
                                  pinch: {
                                    enabled: true
                                  },          
                                  mode: 'xy',
                                },
                                pan: {
                                    enabled: true,
                                    mode: 'xy'
                                  },
                              }
                            },
                              scales: {
                                /*xAxes: [{
                                  type: 'time',
                                  time: {
                                    min: moment('2017-01-01'),
                                    //max: moment().unix()
                                }
                                }]*/
                                
                              }
                            }
                          }
                          
                          var ctx = document.getElementById('chartJSContainerRating').getContext('2d');
                          new Chart(ctx, options);


                      }); //document.ready

 
                    </script>
                    
            </div>
            <div class="box-footer">
    
            </div>
          </div>
        </div>
        <!--/lg-6-->