        <div class="col-lg-6">
            <div class="card user-detail-box">
            <div class="box-header">
              <!--Originalheadline-->
              <!--<h4>Auf welcher Seite aktive (in Sekunden)</h4>-->
              <h4>Benutzeraktivität (gemessen in Sekunden/Seite)</h4>
            </div>
            <div class="box-body">
                    <canvas id="chartJSContainersumpageactive" width="600" height="400"></canvas>
                    <script>

                      var barChartUserActiveSumpage;

                      jQuery( document ).ready(function() {
                        var userActiveSumpageOptions = {
                      type: 'bar',
                      data: {
                        labels: {{sumpageactive_l| raw}},
                        datasets: [
                            {
                              label: 'Aktivität in Sekunden/Seite',
                              backgroundColor: 'rgba(255,51,153,0.25)',
                              borderColor: 'rgba(255,51,153,1)',
                              hoverBackgroundcolor: 'rgba(255,51,153,0.5)',
                              //label: 'Sekunden',
                              showLine: false,
                              borderWidth: 1,
                              data: {{sumpageactive_v| raw}}
                              
                            }
                          ]
                      },
                      options: {
                                plugins: {
                          zoom: {
                            zoom: {
                              wheel: {
                                enabled: true,
                              },
                              pinch: {
                                enabled: true
                              },          
                              mode: 'xy',
                            },
                            pan: {
                                enabled: true,
                                mode: 'xy'
                              },
                          }
                        },
                        scales:{
                          x:{
                            display: true,
                            title:{
                              display: true,
                              text: 'Seite'
                            }
                          },
                          y:{
                            display: true,
                            title: {
                              display: true,
                              text: 'Zeit in Sekunden'
                            },
                            beginAtZero: true
                          }
                        }
                          
                      }
                    }
                    var ctx = document.getElementById('chartJSContainersumpageactive').getContext('2d');
                    barChartUserActiveSumpage = new Chart(ctx, userActiveSumpageOptions);

                      }); //document.ready
 
                    </script>
                    
            </div>
            
            <div class="box-footer">
              <p class="font-size-small mb-1">Wertebereich:</p>
              <form id="systemstatistiken-sumpage-form" action="" method="GET" class="d-flex justify-content-between">
                <div class="mr-2">
                  <input type="number" id="userActiveSumpageStartvalue" min=0 placeholder="von" class="form-control">
                </div>
                <div class="mr-2">
                  <input type="number" id="userActiveSumpageEndvalue" min=0 placeholder="bis" class="form-control">
                </div>
                <div>
                  <button id="systemstatistiken-sumpage-submit" type="submit" class="btn btn-secondary h-100">Ausführen</button>
                </div>
              </form>
            </div>
            <div class="box-footer d-flex justify-content-end">
              <button type="button" class="btn btn-primary mr-2" id="systemstatistiken-excelexport-sumpage" title="Chart als Excel-Datei speichern"><i class="fas fa-file-excel mr-2"></i>Download Excel</button>
              <button type="button" class="btn btn-primary" id="systemstatistiken-pdfexport-sumpage" title="Chart als PDF-Datei speichern"><i class="fas fa-file-pdf mr-2"></i>Download PDF</button>
            </div>
          </div>
        </div>
        <!--/lg-6-->