        <div class="col-lg-6">
            <div class="card user-detail-box">
            <div class="box-header">
              <!--Originalheadline-->
              <!--<h4>Zu welchem Wochentag aktive (Klicks)</h4>-->
              <h4>Benutzeraktivität (gemessen in Seitenaufrufe/Wochentag)</h4>
            </div>
            <div class="box-body">
                    <canvas id="chartJSContainercountweekdayactive" width="600" height="400"></canvas>
                    <!--Hammer.Js eingebunden, um Panning zu ermoeglichen-->
                    <script>
                    
                    var barUserActiveCountWeekday;

                    jQuery( document ).ready(function() {
                      var userActiveCountweekdayOptions = {
                      type: 'bar',
                      data: {
                        labels: {{countweekdayactive_l| raw}},
                        datasets: [
                            {
                              label: 'Aktivität in Seitenaufrufe/Wochentag',
                              backgroundColor: 'rgba(255,153,0,0.25)',
                              borderColor: 'rgba(255,153,0,1)',
                              hoverBackgroundColor: 'rgba(255,153,0,0.5)',
                              showLine: false,
                              borderWidth: 1,
                              data: {{countweekdayactive_v| raw}}
                            }
                          ]
                      },
                      options: {
                        scales: {
                          x:{
                            display: true,
                            title:{
                              display: true,
                              text: 'Wochentag'
                            },
                            ticks: {
                                // Reduzierung der Labels für jede Bar auf 2 Zeichen zur besseren Darstellung
                              callback: function(value){
                                var day = "-"
                                switch(value){
                                  case 0: day = "Mo"; break;
                                  case 1: day = "Di"; break;
                                  case 2: day = "Mi"; break;
                                  case 3: day = "Do"; break;
                                  case 4: day = "Fr"; break;
                                  case 5: day = "Sa"; break;
                                  case 6: day = "So"; break;
                                }
                                return day;
                              }
                            }
                          },
                          y:{
                            display: true,
                            title: {
                              display: true,
                              text: 'Anzahl Seitenaufrufe'
                            },
                            beginAtZero: true
                          }
                      },
                      plugins: {
                        zoom: {
                          zoom: {
                            wheel: {
                              enabled: true,
                            },
                            pinch: {
                              enabled: true
                            },          
                            mode: 'xy',
                          },
                          pan: {
                            enabled: true,
                            mode: 'xy'
                          },
                        },
                        tooltip:{
                          callbacks:{
                            // Stelle beim Hovern über eine Bar den vollen Namen des Labels dar
                            title:function(value){
                              var day = "-";
                              switch(value[0].label){
                                case "0": day = "Montag"; break;
                                case "1": day = "Dienstag"; break;
                                case "2": day = "Mittwoch"; break;
                                case "3": day = "Donnerstag"; break;
                                case "4": day = "Freitag"; break;
                                case "5": day = "Samstag"; break;
                                case "6": day = "Sonntag"; break;

                              }
                              return day;
                            }
                          }
                        }
                      },
                        

                          
                      }
                    }
                  
                    
                    var ctx = document.getElementById('chartJSContainercountweekdayactive').getContext('2d');
                    barUserActiveCountWeekday = new Chart(ctx, userActiveCountweekdayOptions);

                    }); //document.ready

                    </script>
                    
            </div>

            <div class="box-footer d-flex justify-content-end">

                  <button type="button" class="btn btn-primary mr-2" id="systemstatistiken-excelexport-countweekday" title="Chart als Excel-Datei speichern"><i class="fas fa-file-excel mr-2"></i>Download Excel</button>
                  <button type="button" class="btn btn-primary" id="systemstatistiken-pdfexport-countweekday" title="Chart als PDF-Datei speichern"><i class="fas fa-file-pdf mr-2"></i>Download PDF</button>

              
            </div>
          </div>
        </div>
        <!--/lg-6-->