{% if privacy_terms_URL is not empty %}
    <div class="w-100 mb-3"><small>Ich habe die <a href="{{privacy_terms_URL}}" target="_blank">Teilnahmeinformationen und Datenschutzerklärung </a> zur Teilnahme an {{website_name}} gelesen und verstanden. Mit Klick auf «{{ titel }}» erkläre ich mich mit der Teilnahme unter den genannten Bedingungen einverstanden.</small></div>
{% endif %}
<button data-link="{{ redirect }}" data-id="{{ id }}" data-mode="{{ mode }}" name="submit" type="button" class="trainingssystem-demo-login-btn btn btn-primary btn-block">{{ titel }}</button>
{% if mode == "extended" %}
    <p class="mt-2 text-danger d-none trainingssystem-demo-login-fulltext">Es sind leider keine freien Testkapazitäten mehr vorhanden. Bitte versuchen Sie es später erneut!</p>
{% endif %}