<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p class="mb-0">
        Der Shortcode für <code>[tspv2_demo_login mode='extended']</code> wurde nicht korrekt benutzt. Für weitere Informationen können Sie das Wiki konsultieren.
        <br>
        Eventuell ist die Option in den TS-Einstellungen im Backend nicht aktiviert.
    </p>
</div>