<div class="alert alert-warning mb-3 mt-3" role="alert">
    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
    <p>
        Der Account wurde bereits zur Übernahme markiert, es fehlt aber noch die Bestätigung der E-Mail.
    </p>
</div>