<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p class="mb-0">
        Es sind leider keine freien Testkapazitäten mehr im System vorhanden. Bitte versuchen Sie es später erneut!
    </p>
</div>