<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p class="mb-0">
        Der Shortcode für <code>[tspv2_demo_login]</code> wurde nicht korrekt benutzt. Für weitere Informationen können Sie das Wiki konsultieren.
        <br>
        Entweder ist der Parameter <code>id</code> nicht gesetzt oder die ID ist keine gültige Benutzer-ID. 
        <br>
        Ein gültiger Shortcode ist beispielsweise: <code>[tspv2_demo_login id='123']</code>.
    </p>
</div>