<div class="modal fade" id="inactive-modal" data-userlogged ="{{userlogged}}"  role="dialog" aria-labelledby="inactive-modal-label"
    aria-hidden="true" hidden style="overflow: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="inactive-modal-title-label">Zeitüberschreitung der Browsersitzung</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p class="mb-0">Sie haben das System längere Zeit nicht mehr genutzt. Aus Sicherheitsgründen werden Sie automatisch aus dem System abgemeldet.
              </p>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal" style="float: left;">Abbrechen</button>
                    <button id="continue-session" type="button" class="btn btn-primary" data-dismiss="modal">Sitzung fortsetzen <span class="countdown"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="logged-out-modal" role="dialog" aria-labelledby="logged-out-modal-label"
    aria-hidden="true" hidden style="overflow: auto;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="logged-out-modal-title-label">Zeitüberschreitung der Browsersitzung</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p class="mb-0">Sie haben das System längere Zeit nicht mehr genutzt. Zu Ihrer eigenen Sicherheit wurden Sie daher automatisch aus dem System abgemeldet.
              </p>
            </div>
            <div class="modal-footer">
                <a id="continue-session-done" href="{{home}}" role="button" class="btn btn-primary">Zur Startseite</a>
            </div>
        </div>
    </div>
</div> 