<div class="panel">
    <div class="accordion-heading schriftgroesse">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"   {%set rand = random()%} href="#collapsethis{{rand}}">
        <h4 class="inlineblock"><span class="minus">
          <span class="zeichen"> –</span> {{headline}}</span>
          <span class="plus"><span class="zeichen"> +</span> {{headline}}</span>
        </h4>
      </a>
    </div>
    <div id="collapsethis{{rand}}" class="accordion-body collapse">
      <div class="accordion-inner">
        {{text}}
      </div>
    </div>
  </div>
