<h2>test gutenberg mit twig </h2>
{#<div class=bullet-container>
  {% for image in images%}
  <span class=bullet-filled> {{image}} </span>
  {% endfor %}
</div>#}

<div class="info">
  <div class="icon-info"></div>
  <h4>{{text}}</h4>
</div>
