<script>
  jQuery(window).load(function(){
  jQuery('#modal-{{modalid}}').modal('show');
  });
</script>

<div class="modal fade in" id="modal-{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{modalid}}Label" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h2 class="modal-title" id="modal-{{modalid}}Label"><i class="fas fa-exclamation-triangle"></i> Bestätigung erforderlich</h2>
     </div>
     <div class="modal-body">
      <p>
        Sie müssen in Ihrem Profil zunächst die Teilnahmebestimmungen bestätigen, um {{website_name}} nutzen zu können. 
      </p> 
     </div>
     <div class="modal-footer">
       <a href="{{profile_url}}" class="btn btn-primary" >Zum Profil</a>
     </div>
   </div>
 </div>
</div>
