<script>
   jQuery(window).load(function(){
   jQuery('#modal-{{modalid}}').modal('show');
   });
</script>

<div class="modal fade in" id="modal-{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{modalid}}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modal-{{modalid}}Label"><i class="fas fa-info"></i> {{title}}</h2>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
