<h1 class="text-center mb-5">{{ heading }}</h1>
<div class="container-fluid">
    {% if not notrainings %}
        <div id="training-overview-list">
            {% for index, training_category in trainings %}
                {% if training_category['name'] is not empty %}
                    {% if show_category_name %}
                        <h3 class="mt-5 mb-3">{{ training_category['name'] }}</h3>
                    {% endif %}
                    {% if category_text is not empty %}
                        <p>{{ category_text|raw }}</p>
                    {% endif %}
                {% endif %}
                <div class="row">
                    {% for training in training_category['trainings'] %}
                        {% include 'training-overview/training-overview-kacheln-item.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <div class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
           <p>
            Sie haben noch keine Inhalte {% if category is not empty %} der Kategorie "{{category}}"{% endif %} zugewiesen bekommen.
        </p> 
        </div>
    {% endif %}
</div>