<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_training_accordion]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verpflichtend:
    </p>
    <ul class="mb-0">
        <li><code>training</code> als einzelne Training-ID oder</li>
        <li><code>training</code> als Menge von Training-IDs durch <code>;</code> getrennt</li>
    </ul>
</div>