<table class="form-table">
    <tr>
        <th>
            <label for="place">Ort</label>
        </th>
        <td>
            <input type="text"
                   class="regular-text ltr"
                   id="place"
                   name="place"
                   value="{{place}}"
                   title="place">
        </td>
    </tr>
</table>
