<table class="form-table">
    <tr>
        <th>
            <label for="coachid">Coach</label>
        </th>
        <td>
           <select name="coachid" id= "coachid">
               <option value="">-</option>
             {%for user in users%}
                <option value="{{user.ID}}" {%if user.ID ==  saveduserid %}selected{%endif%}>{{user.display_name}}</option>
            {%endfor%}
          </select>
        </td>
    </tr>
</table>
