<table class="form-table">
    <tr>
        <th>
            <label for="age">Alter</label>
        </th>
        <td>
            <input type="text"
                   class="regular-text ltr"
                   id="age"
                   name="age"
                   value="{{age}}"
                   title="Age">
        </td>
    </tr>
</table>
