<table class="form-table">
    <tr>
        <th>
            <label for="studienid">Studienteilnehmer-ID</label>
        </th>
        <td>
            <input type="text"
                   class="regular-text ltr"
                   id="studienid"
                   name="studienid"
                   value="{{studienid}}"
                   title="Studienid">
        </td>
    </tr>
</table>
