<table class="form-table">
    <tr>
        <th>
            <label for="gender">Geschlecht</label>
        </th>
        <td>
            <input type="text"
                   class="regular-text ltr"
                   id="gender"
                   name="gender"
                   value="{{gender}}"
                   title="gender">
        </td>
    </tr>
</table>
