<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_jolanda]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>realistisch-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "realistisch" </li>
        <li><code>intellektuell-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "intellektuell" </li>
        <li><code>kuenstlerisch-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "kuenstlerisch" </li>
        <li><code>sozial-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "sozial" </li>
        <li><code>unternehmerisch-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "unternehmerisch" </li>
        <li><code>konventionell-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "konventionell" </li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
    </ul>
    <!-- <p>
        Mit dem Attribut <code>empfehlungen</code> können optional die IDs von Trainings angegeben werden, welche als Empfehlung am Ende des Checks aufgeführt werden sollen. Mehrere IDs müssen durch <code>;</code> getrennt werden.
    </p> -->
    <p>
        Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.
    </p>
</div>