<table id="table" data-filter-control="true" data-filter-show-clear="true">
    <thead>
    <tr>

        <th data-field="userid" data-filter-control="input" id="user_id">User ID</th>
        <th data-field="pageTitle" data-filter-control="input" id="page_title">Page ID</th>
        <th data-field="uri" data-filter-control="input" id="uri">Uri</th>
        <th data-field="referred" data-filter-control="input" id="referred">Referred</th>
        <th data-field="date_time" data-filter-control="input" id="date_time">Date Time</th>
        <th data-field="ip" data-filter-control="input" id="ip">IP</th>
        <th data-field="browserName" data-filter-control="input" id="browser_name">Browser Name</th>
        <th data-field="browserVersion" data-filter-control="input" id="browser_version">Browser Name</th>
        <th data-field="deviceType" data-filter-control="input" id="device_type">Device Type</th>
        <th data-field="deviceModel" data-filter-control="input" id="device_model">Device Model </th>
        <th data-field="deviceManufaktur" data-filter-control="input" id="device_manufaktur">Device Manufaktur </th>
        <th data-field="engineNname" data-filter-control="input" id="engine_name">Engine Name</th>
        <th data-field="osNname" data-filter-control="input" id="os_name">OS Name </th>
        <th data-field="osVersion" data-filter-control="input" id="os_version">OS Version </th>

    </tr>
    </thead>
    <tbody>
    {% for row in table %}
    <tr>
        <td> {{row.Userid}} </td>
        <td > {{row.Pagetitle}}</td>
        <td>{{row.Uri}}</td>
        <td >{{row.Referred}}</td>
        <td >{{row.Datetime}}</td>
        <td>{{row.Ip}}</td>
        <td>{{row.BrowserName}}</td>
        <td>{{row.BrowserVersion}}</td>
        <td>{{row.DeviceType}}</td>
        <td>{{row.DeviceModel}}</td>
        <td>{{row.DeviceManufaktur}}</td>
        <td>{{row.EngineName}}</td>
        <td>{{row.OsName}}</td>
        <td>{{row.OsVersion}}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    jQuery(function() {
        var $table = jQuery('#table')
        jQuery('#table').bootstrapTable()
        //$table.bootstrapTable('hideColumn', 'id')
        //$table.bootstrapTable('getSelections')
        //$table.on
       /* jQuery("#table").on("click-cell.bs.table", function(field, value, row, $el) {

            if (value != "column_name") {
                //the code
                console.log(value);
            }
            if (value == "userid") {
                console.log($el.id);
                jQuery('#formuserid').val($el.id);
                jQuery('#selectformuser').submit();
            }
        });*/
    });

</script>


