<div class="modal fade" id="addSeitenModalBackend" tabindex="-1" role="dialog" aria-labelledby="addSeitenModalBackendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4" id="addSeitenModalBackendLabel">Seiten hinzufügen</span>
      </div>
      <div class="modal-body">
        <form id="modal-addseiten-backend-form">
            <label for="exampleFormControlSelect2">Bitte auswählen</label>
            <div class="" id="sortable-user-trainings-select-seiten">
              <div class="form-group ml-0">
                <div class="input-group marginbottom10">
                  <input class="form-control" type="text" id="modal-addseiten-backend-input-search" value="" placeholder="Suche..." />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="clear-addseiten-backend-search-button" type="button"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
                <div id="modal-addseiten-backend-check-seiten" class="card panel panel-default" style="height: 50vh; overflow-y: auto; padding: 9px;">
                  {% for seite in seiten %}
                  <div class="form-check d-flex align-items-center mb-2 pl-0">
                      <input class="modal-select-seiten-input" type="checkbox" value="{{seite.id}}" id="seite-checkbox-{{seite.id}}" name="{{seite.title}}">
                      <label class="mb-0" for="seite-checkbox-{{seite.id}}">{{seite.title}}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary backendaddseiten" data-dismiss="modal" value="{{lektionid}}">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
