<li class="ui-state-default training-mgr-lektionslite-item" id="backendTrainingMgrSeite-{{lektion.id}}-{{seite.id}}" data-lektion-id="{{lektion.id}}" value="{{seite.id}}">
  <i class="fas fa-stream"></i>
  {% if seite.id in multipleUsedSeiten %}
    <i class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="right" title="Achtung! Diese Seite wird in mehreren Trainings/Lektionen verwendet."></i>
  {% endif %}
  <span>{{seite.title}}</span>
  <span class="backend-training-mgr-remove-seite">
    <i class="far fa-minus-square"></i>
  </span>
</li>
