<div class="modal fade" id="addLektionModalBackend" tabindex="-1" role="dialog" aria-labelledby="addLektionModalBackendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4" id="addLektionModalBackendLabel">Lektion hinzufügen</span>
      </div>
      <div class="modal-body">
        <form id="modal-addlektionen-backend-form">
            <label for="exampleFormControlSelect2">Bitte auswählen</label>
            <div class="" id="sortable-user-trainings-select-lektionen">
              <div class="form-group ml-0">
                <div class="input-group marginbottom10">
                  <input class="form-control" type="text" id="modal-addlektionen-backend-input-search" value="" placeholder="Suche..." />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="clear-addlektionen-backend-search-button" type="button"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
                <div id="modal-addlektionen-backend-check-lektionen" class="card panel panel-default" style="height: 50vh; overflow-y: auto; padding: 9px;">
                  {% for lektion in lektionen %}
                  <div class="form-check d-flex align-items-center mb-2 pl-0">
                      <input class="modal-select-lektionen-input" type="checkbox" value="{{lektion.id}}" id="lektion-checkbox-{{lektion.id}}" name="{{lektion.title}}">
                      <label class="mb-0" for="lektion-checkbox-{{lektion.id}}">{{lektion.title}}</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary backendaddlektion" data-dismiss="modal" value="{{training.id}}">Bestätigen</button>
      </div>
    </div>
  </div>
</div>
