<li class="ui-state-default mylist" id="lektion{{lektion.id}}" value="{{lektion.id}}">
  <div class="listheader-sortable">
    <!-- <span class="ui-icon ui-icon-carat-2-n-s sortable-icon"></span> -->
    <i class="fas fa-stream"></i>
    {% if lektion.id in multipleUsedLektionen %}
      <i class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="right" title="Achtung! Diese Lektion wird in mehreren Trainings verwendet."></i>
    {% endif %}
    <span class="listheader-sortable-text">{{lektion.title}}</span>
    <span class="clear-training-lektion" role="button">
      <span>
        <i class="far fa-minus-square"></i>
      </span>
    </span>
  </div>
  <span>
    <!-- <label id="checkautotraining" for="checkautotraining" class="checkautotraining">sequentieller Ablauf
      <input type="checkbox">
    </label> -->
  </span>
  <span class="morelessons">
    <span>{% if lektion.getPages()|length > 0 %}{{ lektion.getPages()|length }} {% else %}0{% endif %}  Seite(n)</span>
    <i class="far fa-caret-square-down" role="button"></i>
    <i class="far fa-caret-square-up" role="button"></i>
  </span>
  <div class="lektionen-show-hide">
    <ul class="connectedSortable">
      {% for seite in lektion.pages %}
      {% include "admin-backend-trainings-mgr/admin-backend-trainings-mgr-seite.html" with {'seite': seite,'lektionid': lektion.id} %}
      {% endfor %}
    </ul>
    <!-- <div class="add-lektionen-wrap btn btn-primary"> -->
    <button type="button" class="btn btn-secondary center-block backend-trainings-mgr-seiten-add">
      <i class="far fa-plus-square"></i>&nbsp;Seite hinzufügen
    </button>
    <!-- </div> -->
  </div>
</li>
