<div class="wrapper-admin-backend">
  {% include "admin-backend-trainings-mgr/coach-user-training-mgr-remove-lektion-modal.html" %}
  {% include "admin-backend-trainings-mgr/coach-user-training-mgr-remove-seiten-modal.html" %}
  
  <ul id="sortable-user-trainings" class="ts-backend-list mb-0">
    {% include "admin-backend-trainings-mgr/admin-backend-trainings-mgr-lektionen.html" with {'lektionen': lektionen} %}
  </ul>
  <button type="button" id ="backend-trainings-mgr-lektion-add" class="btn btn-secondary ">
      <i class="far fa-plus-square"></i>&nbsp;Lektion hinzufügen
  </button>
  <button type="button" id="backend-trainings-mgr-training-save" class="btn btn-primary ">
      <i class="far fa-check-square"></i>&nbsp;Speichern
  </button>

  <div class="alert alert-info mt-3" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Lektionen und Seiten können aus technischen Gründen jeweils nur in einem Training verwendet werden.
    </p>
  </div>
  <!-- Modal lektionen temp-->
  <div id="lektionsmodalBackend"></div>
</div>

<script>
  jQuery('[data-toggle="tooltip"]').tooltip({ container: '.wrapper-admin-backend'} );
</script>