
<!-- Backend Modal remove Lektion from Training  -->
<div class="modal fade" id="removeLektionModal" tabindex="-1" role="dialog" aria-labelledby="removeLektionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="removeLektionModalLabel">Lektion aus Training entfernen</h2>
        </div>
        <div class="modal-body">
              <p>M&ouml;chten Sie die Lektion «<span id="removeLektionName"></span>» wirklich aus dem Training «<span id="removeLektionTrainingName"></span>» entfernen?<br>Diese Aktion kann <b>nicht</b> rückgängig gemacht werden.</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
          <button type="button" id="lektion-remove-button" class="btn btn-primary lektion-remove-confirm">Bestätigen</button>
        </div>
      </div>
    </div>
  </div>
  