
<!-- Backend Modal remove Seite from Training  -->
<div class="modal fade" id="removeSeitenModal" tabindex="-1" role="dialog" aria-labelledby="removeSeitenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="removeSeitenModalLabel">Seite aus Training entfernen</h2>
        </div>
        <div class="modal-body">
              <p>M&ouml;chten Sie die Seite «<span id="removeSeitenName"></span>» wirklich aus dem Training «<span id="removeSeiteTrainingName"></span>» entfernen?<br>Diese Aktion kann <b>nicht</b> rückgängig gemacht werden.</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
          <button type="button" id="seiten-remove-button" class="btn btn-primary seiten-remove-confirm">Bestätigen</button>
        </div>
      </div>
    </div>
  </div>
  