<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_result_chart]</code> wurde möglicherweise falsch verwendet. Wenn diese Seite standardmäßig vom System erzeugt wurde, müssen noch die IDs der Formulare im Shortcode eingetragen werden.
    </p>
    <p>
        Zur Festlegung der Checks ist folgende Zuweisung zu verwenden:
    </p>
    <ul>
        <li>Ein Label-Typ aus ({% for checkkey, check in checkinfo %}<code>{{ checkkey }}</code>{% if not loop.last %}, {% endif %}{% endfor %})="<code>TS Form-ID</code>"</li>
    </ul>
    <p>
        Zur Darstellung mehrerer Check-Ergebnisse müssen mehrere Zuweisungen angegeben werden.
    </p>
    {# Veraltet! 
    <ul>
        <li><code>tsform-id</code> verpflichtende TS Form-ID, in der die Ergebnisse gespeichert wurden</li>
        <li><code>label-type</code> Typ von Check ({% for checkkey, check in checkinfo %}<code>{{ checkkey }}</code>{% if not loop.last %}, {% endif %}{% endfor %}) für die Benennung der einzelnen Teilergebnisse</li>
    </ul>#}
    <p>
        <b>Limitierung:</b><br>
        Zur Limitierung der Check-Ergebnisse kann je einer der folgenden Parameter verwendet werden.<br>
        <u>Aktuell:</u>
    </p>
    <ul>
        <li>Das Attribut <code>latest-limit</code> kann optional benutzt werden, um die Anzahl der Check-Ergebnisse in der Aktuell-Grafik zu beschränken. Sortiert wird hier nach Daten absteigend und nachrangig nach Label aufsteigend. Erlaubte Werte sind -1 für alle, und > 0 für eine bestimmte Anzahl. <b>oder:</b></li>
        <li>Das Attribut <code>latest-limit-each</code> kann optional benutzt werden, um die Anzahl der Check-Ergebnisse für jeden angegebenen Check in der Aktuell-Grafik zu beschränken. Sortiert wird hier nach Daten absteigend und nachrangig nach Label aufsteigend. Erlaubte Werte sind -1 für alle, und > 0 für je eine bestimmte Anzahl aller angegebenen Checks.</li>
        <li><b>Standard</b> ist <code>latest-limit='-1'</code></li>
    </ul>
    <p>
        <u>Verlauf:</u>
    </p>
    <ul>
        <li>Das Attribut <code>limit</code> kann optional benutzt werden, um die Anzahl der Check-Ergebnisse in der Verlauf-Grafik zu beschränken. Erlaubte Werte sind -1 für alle, und > 0 für eine bestimmte Anzahl jedes angegebenen Checks.</li>
        <li>Die im Verlauf dargestellten Daten sind konsistent zu den mittels <code>latest-limit</code> bzw. <code>latest-limit-each</code> angezeigten Daten der Aktuell-Grafik.
    </ul>
    <p>
        <b>Optional:</b>
    </p>
    <ul>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser "Check-Übersicht", kann aber durch Setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>mode</code> kann optional benutzt werden, um die Anzeige der Aktuell- und Verlauf-Grafiken zu steuern. Standardmäßig lautet dieser <code>both</code>, um beide Ansichten anzuzeigen, kann aber auch auf <code>latest</code> für die Aktuell-Grafik oder <code>history</code> für die Verlauf-Grafik gestellt werden.</li>
        <li>Das Attribut <code>max_value</code> kann optional benutzt werden, um den maximalen Wert des Wertebereichs festzulegen. Standardmäßig liegt dieser bei 100.</li>
        <li>Das Attribut <code>charttype_latest</code> kann optional benutzt werden, um die Darstellungsform für die Aktuell-Grafik auszuwählen. Standardmäßig ist der Wert <code>bar</code> für ein Säulendiagramm. Durch Setzen auf den Wert <code>radar</code> wird die Aktuell-Grafik als Netzdiagramm dargestellt.</li>
        <li>Das Attribut <code>sorted</code> kann optional benutzt werden, um festzulegen, ob die einzelnen Ergebnisse in der Aktuell-Grafik sortiert nach Wert vorliegen sollen. Für <code>latest-limit='-1'</code> bzw. <code>latest-limit-each='-1'</code> können durch Setzen auf den Wert 0 die einzelnen Ergebnisse ohne Sortierung eingeblendet werden. Standardmäßig sind die einzelnen Einträge absteigend nach Wert sortiert.</li>
    </ul>

    <p>Wird die Aktuell-Grafik als Netzdiagramm (<code>charttype_latest='radar'</code>) dargestellt, können folgende optionale Parameter genutzt werden:</p>
    <ul>
        <li>Das Attribut <code>radar_backgroundcolor</code> kann genutzt werden, um eine eigene Farbe für das Innere des Netzdiagramms auszuwählen. Die Farbe muss in Hexadezimal-Schreibweise hinterlegt werden. Wird dieses Attribut nicht angegeben, wird eine zufällig generierte Farbe genutzt.</li>
        <li>Das Attribut <code>radar_bordercolor</code> kann genutzt werden, um eine eigene Farbe für den Rand des Netzdiagramms auszuwählen. Die Farbe muss in Hexadezimal-Schreibweise hinterlegt werden. Wird dieses Attribut nicht angegeben, wird eine zufällig generierte Farbe genutzt.</li>
        <li>Das Attribut <code>radar_alpha</code> kann genutzt werden, um einen Alpha-Wert für zufällig generierte Farben festzulegen.</li>
    </ul>
</div>

<script>
    jQuery( document ).ready(function() {
        jQuery(".dashboard-chart-card").addClass('overflow-auto');
    });
</script>

