<div class="row">
    {% if title is not empty %}
        <div class="col-12">
            <h1 class="text-center mb-5">{{ title }}</h1>
        </div>
    {% endif %}
    <div class="col-12">
        {% for result in results %}
            <div class="card w-100 mb-0">
                <div class="card-header">
                    <h4 class="m-0">{{ checkinfo['name']}} vom {{ result.getSaveDate()|date("d.m.Y H:i") }} Uhr:</h4>
                </div>
                <div class="card-body">
                    <ul class="mb-0 list-group list-group-flush">
                    {% for k, r in result.getDataJsonDecoded() %}
                        <li class="list-group-item"><b>{{ checkinfo['labels'][k] }}:</b> {{r}} %</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                <p>
                    Sie haben noch keine gespeicherten Check-Ergebnisse.
                </p>
            </div>
        {% endfor %}
    </div>
</div>