<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_result_list]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>tsform-id</code>: Verpflichtende TS Form-ID, in der die Ergebnisse gespeichert wurden</li>
        <li><code>label-type</code>: Typ von Check ({% for checkkey, check in checkinfo %}<code>{{ checkkey }}</code>{% if not loop.last %}, {% endif %}{% endfor %}) für die Benennung der einzelnen Teilergebnisse</li>
    </ul>
    <ul>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser "Check-Übersicht", kann aber durch Setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>limit</code> kann optional benutzt werden, um die Anzahl der Einträge zu beschränken. Erlaubte Werte sind -1 für alle, und > 0 für eine bestimmte Anzahl. Standardmäßig werden alle Einträge angezeigt.</li>
        <li>Das Attribut <code>order_asc</code> kann optional auf <code>true</code> gesetzt werden, um nach Datum <b>auf</b>steigend zu sortieren, standardmäßig erfolgt die Sortierung nach Datum absteigend (neuester Eintrag zuerst).</li>
    </ul>
</div>