<div class="alert alert-info mt-2" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Sie haben noch keine gespeicherten Schlafeffizienz-Ergebnisse.
    </p>
</div>