<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_coach_output_app_data_chart]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>type</code> verpflichtender Typ, woher die Eingaben des Nutzenden stammen sollen. Erlaubte Werte sind hierbei: {% for type in allowed_types %}<code>{{ type }}</code>{% if not loop.last %}, {% endif %}{% endfor %}</li>
    </ul>
    <ul>
        <li>Das Attribut <code>mode</code> kann optional dazu benutzt werden zwischen Balken (<code>bar</code>) und Liniendiagramm (<code>line</code>) umzuschalten. Standardmäßig ist das Liniendiagramm vorausgewählt.</li>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser Schlafeffizienz-Übersicht, kann aber durch setzen auf '' ausgeblendet werden.</li>
    </ul>
</div>