<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="company_details_select" class="pt-0 hyphens-auto">Unternehmensdetails:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="company_details_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="company_details" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.company_details %}selected{% endif %}>
                        {{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="company_details_name"
                    value="{% if settings.company_details_name != '' %}{{ settings.company_details_name }}{% else %}Unternehmen Details{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_company_details_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_company_details_exclude_sg" value="{{ sg }}" {% if sg in settings['page_company_details_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="user_grouper_select" class="pt-0 hyphens-auto">Zuteilung von
                    Unternehmen,
                    Gruppen und Nutzern:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_grouper_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_grouper" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_grouper %}selected{% endif %}>{{
                        arrayAllPage[0]
                        }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_grouper_name"
                    value="{% if settings.user_grouper_name != '' %}{{ settings.user_grouper_name }}{% else %}Unternehmen{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_grouper_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_grouper_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_grouper_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>