<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">E-Mail</h4>
        </div>
        <div class="card-body">
            <div class="form-check mb-3 ml-3 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="hide_mails" {% if 1==settings.hide_mails
                    %}checked{% endif %}>
                <label class="form-check-label ml-2" for="hide_mails">
                    Anzeige und Bearbeitung von E-Mail-Adressen im System deaktivieren
                </label>
            </div>
            <div class="input-group mb-3 d-flex align-items-center">
                <label for="mailbox_notification_interval"
                    class="col-sm-6 col-form-label pt-0">E-Mail-Benachrichtigungs-Intervall bei ungelesenen Nachrichten
                    (alle
                    x Tage)</label>
                <div class="col-sm-6">

                    <input class="form-control" type="text" id="mailbox_notification_interval"
                        value="{{ settings.mailbox_notification_interval }}" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>