<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Coaching-Übersicht</h4>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label for="globalInactivity" class="col-sm-6 col-form-label my-auto">Tage bis die User der Plattform als inaktiv gelten:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="1" step="1" max="99999" id="globalInactivity"
                        value="{{ settings.globalInactivity != '' ? settings.globalInactivity : '8' }}" />
                </div>
            </div>
            <div class="form-check mb-3 ml-3 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="reset_userInactivity"
                    name="{{settings.reset_userInactivity}}" {% if 1==settings.reset_userInactivity %}checked{% endif %}>
                <label class="form-check-label ml-2" for="reset_userInactivity">
                    Individuell eingestellte Tage der Inaktivität mit globalem Wert überschreiben.
                </label>
            </div>

            <h5>Elemente</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_user_id" {% if 1==settings.hide_coaching_overview_user_id
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_user_id">
                                    Element "ID" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_studien_id" {% if 1==settings.hide_coaching_overview_studien_id
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_studien_id">
                                    Element "Studien-TN-ID" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" disabled>
                                <label class="form-check-label ml-2">
                                    Element "User-Name" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Element kann nicht ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" disabled>
                                <label class="form-check-label ml-2">
                                    Element "Trainings mit Coaching" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Element kann nicht ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_last_login" {% if 1==settings.hide_coaching_overview_last_login
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_last_login">
                                    Element "Letzter Login" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_registration_date" {% if 1==settings.hide_coaching_overview_registration_date
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_registration_date">
                                    Element "Registrierungsdatum" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" disabled>
                                <label class="form-check-label ml-2">
                                    Element "Feedback-Status" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Element kann nicht ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_user_activity" {% if 1==settings.hide_coaching_overview_user_activity
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_user_activity">
                                    Element "Aktivität" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_coaching_overview_notes" {% if 1==settings.hide_coaching_overview_notes
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_coaching_overview_notes">
                                    Element "Notizen" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>