<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Erweiterte Einstellungen</h4>
        </div>
        <div class="card-body">
            <div class="alert alert-warning mb-4" role="alert">
                <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                <p>
                    Ändern Sie diese Einstellungen nur, wenn Sie wissen, was Sie tun. Jede Veränderung beeinflusst das Verhalten der Plattform unmittelbar!<br>
                    <i>Diese Einstellungen gelten <b>nicht</b> für das Backend!</i>
                </p>
            </div>
            <div class="form-group">
                <h5 class="mb-2">3rd Party Libraries <b>nicht</b> ausliefern:</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_bootstrap" {% if settings.block_bootstrap == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_bootstrap">Bootstrap (inkl. BS Slider) <span class="badge badge-secondary ml-2">JS</span><span class="badge badge-secondary ml-2">CSS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_bootstrapTable" {% if settings.block_bootstrapTable == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_bootstrapTable">Bootstrap Table <span class="badge badge-secondary ml-2">JS</span><span class="badge badge-secondary ml-2">CSS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_chartJS" {% if settings.block_chartJS == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_chartJS">ChartJS (inkl. Plugins)<span class="badge badge-secondary ml-2">JS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_fontawesome" {% if settings.block_fontawesome == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_fontawesome">Font Awesome <span class="badge badge-secondary ml-2">CSS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_highchart" {% if settings.block_highchart == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_highchart">Highchart <span class="badge badge-secondary ml-2">JS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_jspdf" {% if settings.block_jspdf == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_jspdf">jsPDF <span class="badge badge-secondary ml-2">JS</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="block_jqueryui" {% if settings.block_jqueryui == 1 %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="block_jqueryui">jQuery UI (inkl. Touch) <span class="badge badge-secondary ml-2">JS</span></label>
                </div>
            </div>
        </div>
    </div>
</div>