<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="lessons_overview_select" class="pt-0 hyphens-auto">Lektionsübersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="lessons_overview_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="lessons_overview" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.lessons_overview %}selected{% endif %}>
                        {{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="lessons_overview_name"
                    value="{% if settings.lessons_overview_name != '' %}{{ settings.lessons_overview_name }}{% else %}All Seiten{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_lessons_overview_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_lessons_overview_exclude_sg" value="{{ sg }}" {% if sg in settings['page_lessons_overview_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>