<div class="col-12 col-md-6">
    <div class="card user-detail-box mw-100 h-100">
        <div class="card-header">
            <h4 class="mb-0">Demotraining</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Das Demotraining anlegen.</p> 
            <p>Es besteht aus zwei Lektionen und kann für die Entwicklung eigener Trainings oder im Rahmen der Entwicklung als Beispiel dienen.</p>
            <form id="insert_demo_data_form" method="post">
                <button class="btn btn-primary" type="button" id="insert_demo_data_button" name="insert_demo_data"
                    value="insert_demo_data">Hinzufügen</button>
                {{submitnonce | raw}}
            </form>
        </div>
    </div>
</div>