<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">LimeSurvey-Einstellungen</h4>
        </div>
        <div class="card-body">
            <div id="limesurvey-accordion-wrapper">
                <!-- Accordion Menü -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselimesurvey" aria-expanded="false"
                            aria-controls="collapselimesurvey"><i
                                class="fas fa-plus ts-accordion-plus"></i>Generell</button></a>
                    </div>
                    <div id="collapselimesurvey" class="collapse" aria-labelledby="card-heading"
                        data-parent="#limesurvey-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_rpc_url">URL der LimeSurvey JSON-RPC
                                    Schnittstelle</label>
                                <input class="form-control" name="limesurvey_rpc_url" id="limesurvey_rpc_url"
                                    value="{{ settings.limesurvey_rpc_url }}" type="text"
                                    placeholder="URL der LimeSurvey JSON-RPC Schnittstelle">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_rpc_username">Benutzername zur LimeSurvey
                                    Authentifizierung</label>
                                <input class="form-control" name="limesurvey_rpc_username" id="limesurvey_rpc_username"
                                    value="{{ settings.limesurvey_rpc_username }}" type="text"
                                    placeholder="Benutzername zur LimeSurvey Authentifizierung">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_rpc_password">Passwort zur LimeSurvey
                                    Authentifizierung</label>
                                <input class="form-control" name="limesurvey_rpc_password" id="limesurvey_rpc_password"
                                    value="{{ settings.limesurvey_rpc_password }}" type="text"
                                    placeholder="Passwort zur LimeSurvey Authentifizierung">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselimesurvey_second" aria-expanded="false"
                            aria-controls="collapselimesurvey_second"><i class="fas fa-plus ts-accordion-plus"></i>2.
                            Mail</button></a>
                    </div>
                    <div id="collapselimesurvey_second" class="collapse" aria-labelledby="card-heading"
                        data-parent="#limesurvey-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_days_till_second_survey_email">Tage bis zur
                                    Hinweismail zur
                                    zweiten Umfrage (Standard: 42 Tage)</label>
                                <input class="form-control" type="number" min="1" max="999" step="1"
                                    name="limesurvey_days_till_second_survey_email"
                                    id="limesurvey_days_till_second_survey_email"
                                    value="{{ settings.limesurvey_days_till_second_survey_email }}"
                                    placeholder="Tage bis zur Hinweismail zur zweiten Umfrage (Standard: 42 Tage)">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_second_survey_email_subject">Betreff der Hinweismail
                                    zur
                                    zweiten Umfrage</label>
                                <input class="form-control" type="text" name="limesurvey_second_survey_email_subject"
                                    id="limesurvey_second_survey_email_subject"
                                    value="{{ settings.limesurvey_second_survey_email_subject }}"
                                    placeholder="Betreff der Hinweismail zur zweiten Umfrage">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_second_survey_email_body">Inhalt der Hinweismail zur
                                    zweiten
                                    Umfrage</label>
                                <textarea class="form-control" name="limesurvey_second_survey_email_body"
                                    id="limesurvey_second_survey_email_body"
                                    placeholder="Inhalt der Hinweismail zur zweiten Umfrage"
                                    aria-describedby="limesurvey_second_survey_email_body_help"
                                    style="resize: vertical;"
                                    rows="12">{{ settings.limesurvey_second_survey_email_body }}</textarea>
                                <p id="limesurvey_second_survey_email_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[survey_link]</b>"
                                    als Platzhalter für den Link zur Umfrage ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselimesurvey_second_reminder" aria-expanded="false"
                            aria-controls="collapselimesurvey_second_reminder"><i
                                class="fas fa-plus ts-accordion-plus"></i>2.
                            Mail Erinnerung</button></a>
                    </div>
                    <div id="collapselimesurvey_second_reminder" class="collapse" aria-labelledby="card-heading"
                        data-parent="#limesurvey-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_days_till_second_survey_email_reminder">Zusätzliche
                                    Tage bis
                                    zur Erinnerungsmail zur zweiten Umfrage (Standard: 3 Tage)</label>
                                <input class="form-control" type="number" min="1" max="999" step="1"
                                    name="limesurvey_days_till_second_survey_email_reminder"
                                    id="limesurvey_days_till_second_survey_email_reminder"
                                    value="{{ settings.limesurvey_days_till_second_survey_email_reminder }}"
                                    placeholder="Zusätzliche Tage bis zur Erinnerungsmail zur zweiten Umfrage (Standard: 3 Tage)">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_second_survey_email_reminder_subject">Betreff der
                                    Erinnerungsmail zur zweiten Umfrage</label>
                                <input class="form-control" type="text"
                                    name="limesurvey_second_survey_email_reminder_subject"
                                    id="limesurvey_second_survey_email_reminder_subject"
                                    value="{{ settings.limesurvey_second_survey_email_reminder_subject }}"
                                    placeholder="Betreff der Erinnerungsmail zur zweiten Umfrage">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_second_survey_email_reminder_body">Inhalt der
                                    Erinnerungsmail
                                    zur zweiten Umfrage</label>
                                <textarea class="form-control" name="limesurvey_second_survey_email_reminder_body"
                                    id="limesurvey_second_survey_email_reminder_body"
                                    placeholder="Inhalt der Erinnerungsmail zur zweiten Umfrage"
                                    aria-describedby="limesurvey_second_survey_email_reminder_body_help"
                                    style="resize: vertical;"
                                    rows="12">{{ settings.limesurvey_second_survey_email_reminder_body }}</textarea>
                                <p id="limesurvey_second_survey_email_reminder_body_help"
                                    class="form-text text-muted mb-0">Bitte
                                    fügen Sie "<b>[survey_link]</b>"
                                    als Platzhalter für den Link zur Umfrage ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselimesurvey_third" aria-expanded="false"
                            aria-controls="collapselimesurvey_third"><i class="fas fa-plus ts-accordion-plus"></i>3.
                            Mail</button></a>
                    </div>
                    <div id="collapselimesurvey_third" class="collapse" aria-labelledby="card-heading"
                        data-parent="#limesurvey-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_days_till_third_survey_email">Tage bis zur
                                    Hinweismail zur
                                    dritten Umfrage (Standard: 182 Tage)</label>
                                <input class="form-control" type="number" min="1" max="999" step="1"
                                    name="limesurvey_days_till_third_survey_email"
                                    id="limesurvey_days_till_third_survey_email"
                                    value="{{ settings.limesurvey_days_till_third_survey_email }}"
                                    placeholder="Tage bis zur Hinweismail zur dritten Umfrage (Standard: 182 Tage)">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_third_survey_email_subject">Betreff der Hinweismail
                                    zur
                                    dritten Umfrage</label>
                                <input class="form-control" type="text" name="limesurvey_third_survey_email_subject"
                                    id="limesurvey_third_survey_email_subject"
                                    value="{{ settings.limesurvey_third_survey_email_subject }}"
                                    placeholder="Betreff der Hinweismail zur dritten Umfrage">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_third_survey_email_body">Inhalt der Hinweismail zur
                                    dritten
                                    Umfrage</label>
                                <textarea class="form-control" name="limesurvey_third_survey_email_body"
                                    id="limesurvey_third_survey_email_body"
                                    placeholder="Inhalt der Hinweismail zur dritten Umfrage"
                                    aria-describedby="limesurvey_third_survey_email_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.limesurvey_third_survey_email_body }}</textarea>
                                <p id="limesurvey_third_survey_email_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[survey_link]</b>"
                                    als Platzhalter für den Link zur Umfrage ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselimesurvey_third_reminder" aria-expanded="false"
                            aria-controls="collapselimesurvey_third_reminder"><i
                                class="fas fa-plus ts-accordion-plus"></i>3.
                            Mail Erinnerung</button></a>
                    </div>
                    <div id="collapselimesurvey_third_reminder" class="collapse" aria-labelledby="card-heading"
                        data-parent="#limesurvey-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_days_till_third_survey_email_reminder">Tage bis zur
                                    Erinnerungsmail zur dritten Umfrage (Standard: 3 Tage)</label>
                                <input class="form-control" type="number" min="1" max="999" step="1"
                                    name="limesurvey_days_till_third_survey_email_reminder"
                                    id="limesurvey_days_till_third_survey_email_reminder"
                                    value="{{ settings.limesurvey_days_till_third_survey_email_reminder }}"
                                    placeholder="Tage bis zur Erinnerungsmail zur dritten Umfrage (Standard: 3 Tage)">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_third_survey_email_reminder_subject">Betreff der
                                    Erinnerungsmail zur dritten Umfrage</label>
                                <input class="form-control" type="text"
                                    name="limesurvey_third_survey_email_reminder_subject"
                                    id="limesurvey_third_survey_email_reminder_subject"
                                    value="{{ settings.limesurvey_third_survey_email_reminder_subject }}"
                                    placeholder="Betreff der Erinnerungsmail zur dritten Umfrage">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="limesurvey_third_survey_email_reminder_body">Inhalt der
                                    Erinnerungsmail
                                    zur dritten Umfrage</label>
                                <textarea class="form-control" name="limesurvey_third_survey_email_reminder_body"
                                    id="limesurvey_third_survey_email_reminder_body"
                                    placeholder="Inhalt der Erinnerungsmail zur dritten Umfrage"
                                    aria-describedby="limesurvey_third_survey_email_reminder_body_help"
                                    style="resize: vertical;"
                                    rows="12">{{ settings.limesurvey_third_survey_email_reminder_body }}</textarea>
                                <p id="limesurvey_third_survey_email_reminder_body_help"
                                    class="form-text text-muted mb-0">Bitte
                                    fügen Sie "<b>[survey_link]</b>"
                                    als Platzhalter für den Link zur Umfrage ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>