<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="">
                <label for="user_menu_select" class="pt-0 hyphens-auto">Standardmenü
                    anzeigen in
                    (Menü):</label>
            </td>
            <td class="pl-0">
                <select size="1" class="form-control mx-auto" id="user_menu_select">
                    {% for arrayAllMenu in arrayAllMenus %}
                    <option data-key="user_menu" value="{{ arrayAllMenu[1] }}" {% if (arrayAllMenu[1]
                        )==settings.user_menu %}selected{% endif %}>{{
                        arrayAllMenu[0] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_profile_menu" {% if
                        1==settings.hide_profile_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_profile_menu">
                        <i class="fas fa-user-alt"></i>&nbsp;persönlichen Menüpunkt
                        ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_config_menu" {% if
                        1==settings.hide_config_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_config_menu">
                        Verwaltungs-Menüpunkt ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_trainingoverview_menu" {% if
                        1==settings.hide_trainingoverview_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_trainingoverview_menu">
                        Trainingsübersicht-Menüpunkt ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_message_menu" {% if
                        1==settings.hide_message_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_message_menu">
                        Nachrichten-Menüpunkt ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_show_contactinfo_menu" {% if
                        1==settings.hide_show_contactinfo_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_show_contactinfo_menu">
                        Hilfe/Kontakt-Menüpunkt ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="hide_dashboard_menu" {% if
                        1==settings.hide_dashboard_menu %}checked{% endif %}>
                    <label class="form-check-label ml-2" for="hide_dashboard_menu">
                        Dashboard-Menüpunkt ausblenden
                    </label>
                </div>
            </td>
        </tr>
        <tr class="defaultmenu-item {% if settings.user_menu == 0 %}d-none{% endif %}">
            <td class="align-middle" colspan="2">
                <div class="form-check mb-0 d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" disabled>
                    <label class="form-check-label ml-2">
                        Annmelden/Abmelden-Menüpunkte ausblenden
                        <br>
                        <small><span class="text-muted">Diese Menüpunkte können nicht
                                ausgeblendet
                                werden.</span></small>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="align-middle" colspan="2">
                <div class="alert alert-info mb-0" role="alert">
                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                    <p>Sie können das Menü auch selbst zusammenstellen. Unter <a href="nav-menus.php" class="alert-link"
                            title="Menüs">Design ->
                            Menüs</a> haben Sie die Möglichkeit die
                        Einträge nach Belieben zusammenzustellen. Wählen Sie dann für
                        <em>Standardmenü anzeigen
                            in (Menü):</em> die Option <em>nicht zugewiesen</em> aus.
                    </p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="avatar_menu_select" class="pt-0 hyphens-auto"> Avatar anzeigen
                    in
                    (Menü):</label>
            </td>
            <td class="pl-0">
                <select size="1" class="form-control mx-auto" id="avatar_menu_select">
                    {% for arrayAllMenu in arrayAllMenus %}
                    <option data-key="avatar_menu" value="{{ arrayAllMenu[1] }}" {% if (arrayAllMenu[1]
                        )==settings.avatar_menu %}selected{% endif %}>{{
                        arrayAllMenu[0]
                        }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </tbody>
</table>