<div class="modal fade" id="settingsPrivacyTermsChangedModal" tabindex="-1" role="dialog" aria-labelledby="settingsPrivacyTermsChangedModalLabel" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsPrivacyTermsChangedModalLabel">URL der Datenschutz- oder Teilnahmebedinungen ändern</h5>
            </div>
            <div class="modal-body">
                <p>
                    Möchten Sie die URL der Datenschutz- oder Teilnahmebedingungen wirklich ändern?<br>
                    Dadurch müssen alle Teilnehmenden der Plattform diesen erneut zustimmen.<br><br>
                    <b>Fahren Sie nur fort, wenn Sie sicher sind!</b><br>
                </p>
                <p>
                    Sie müssen die Einstellungen dennoch speichern.
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Fortfahren, URL ändern</button>
                <button class="btn btn-secondary" type="button" id="settingsPrivacyTermsRevert">Abbrechen, URL <b>nicht</b> ändern</button>
            </div>
        </div>
    </div>
</div>