<div class="col-12 col-md-6">
    <div class="card user-detail-box mw-100 h-100">
        <div class="card-header">
            <h4 class="mb-0">Standardseiten anlegen</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Alle Standardseiten automatisch anlegen.</p>
            <p>Standardseiten sind Seiten, auf denen die Verwaltung, die Organisation und der generelle
                Betrieb der Plattform umgesetzt wird.
                Es handelt sich beispielsweise um Seiten für ein Profil, eine Nutzerliste, den Forschritt
                oder für die Freigeben von Trainings für Nutzende.
            </p>
            <div class="d-flex flex-row align-items-stretch">
                <button class="btn btn-secondary toggle-button mr-3" type="button" class="btn btn-link"
                    data-toggle="collapse" data-target="#demoeinzel">Einzeln hinzufügen
                    <i class="far fa-caret-square-down" role="button"></i>
                    <i class="far fa-caret-square-up" role="button"></i>
                </button>
                <form method="post" id="insert_demo_pages_form">
                    <button class="btn btn-primary h-100" type="button" id="insert_demo_pages_button"
                        name="insert_demo_pages" value="insert_demo_pages">Alle hinzufügen</button>
                    {{submitnonce | raw}}
                </form>
            </div>
            <div id="demo_anlegen_feedback"></div>
            <div id="demoeinzel" class="collapse">
                <form method="post" id="insert_demo_pages_single_form">
                    <div class="form-check my-2 pl-0">
                        <input type="checkbox" id="checkAll" value="">
                        <label for="checkAll" class="mb-0">Alle wählen</label>
                    </div>
                    <hr>
                    <div class="standard_pages">
                        {% for page in pages %}
                        <div class="form-check mb-2 pl-0">
                            <input type="checkbox" name="page{{loop.index0}}" id="page{{loop.index0}}"
                                value="{{loop.index0}}">
                            <label for="page{{loop.index0}}" class="mb-0">{{page}}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-check my-2 pl-0">
                        <input type="checkbox" id="pageoverride" name="pageoverride" value="">
                        <label for="pageoverride" class="mb-0">Vorhandene Seiten ersetzen</label>
                    </div>
                    <button class="btn btn-primary center-block mt-3" type="button" id="insert_demo_pages_single_button"
                        name="insert_demo_pages_single" value="insert_demo_pages_single">Einzeln hinzufügen</button>
                    {{submitnonce | raw}}
                </form>
            </div>
        </div>
    </div>
</div>