<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="coach_nutzer_select" class="pt-0 hyphens-auto">Nutzern Trainings
                    zuteilen:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="coach_nutzer_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="coach_nutzer" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.coach_nutzer %}selected{% endif %}>{{
                        arrayAllPage[0]
                        }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="coach_nutzer_name"
                    value="{% if settings.coach_nutzer_name != '' %}{{ settings.coach_nutzer_name }}{% else %}Trainings zuweisen{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_coach_nutzer_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_coach_nutzer_exclude_sg" value="{{ sg }}" {% if sg in settings['page_coach_nutzer_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="trainings_overview_select" class="pt-0 hyphens-auto">Trainingsübersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="trainings_overview_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="trainings_overview" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.trainings_overview %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="trainings_overview_name"
                    value="{% if settings.trainings_overview_name != '' %}{{ settings.trainings_overview_name }}{% else %}Trainingsübersicht{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_training_overview_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_training_overview_exclude_sg" value="{{ sg }}" {% if sg in settings['page_training_overview_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="psych_admin_overview_select" class="pt-0 hyphens-auto">
                    Trainingsbetreuung:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="psych_admin_overview_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="psych_admin_overview" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.psych_admin_overview %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="psych_admin_overview_name"
                    value="{% if settings.psych_admin_overview_name != '' %}{{ settings.psych_admin_overview_name }}{% else %}All Seiten{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_psych_admin_overview_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_psych_admin_overview_exclude_sg" value="{{ sg }}" {% if sg in settings['page_psych_admin_overview_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>