<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Profil</h4>
        </div>
        <div class="card-body">
            <h5>Elemente</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_profile_mail" disabled {% if 1==settings.hide_mails
                                    %}checked{% endif %}>
                                <label class="form-check-label ml-2">
                                    Profil-Element "E-Mail" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Profil-Element kann nur über die Option "Anzeige und Bearbeitung von E-Mail-Adressen im System deaktivieren" aus- bzw. eingeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" disabled>
                                <label class="form-check-label ml-2">
                                    Profil-Element "Passwort" ausblenden
                                    <br>
                                    <small>
                                        <span>Dieses Profil-Element kann nicht ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="hide_profile_name" {% if
                                    1==settings.hide_profile_name %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_profile_name">
                                    Profil-Element "Name" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="hide_profile_phonenumber" {% if
                                    1==settings.hide_profile_phonenumber %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_profile_phonenumber">
                                    Profil-Element "Telefonnummer" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="hide_profile_trainings" {% if
                                    1==settings.hide_profile_trainings %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_profile_trainings">
                                    Profil-Element "Trainings" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="hide_profile_registercode" {% if
                                    1==settings.hide_profile_registercode %}checked{% endif %}>
                                <label class="form-check-label ml-2" for="hide_profile_registercode">
                                    Profil-Element "Freischaltecode" ausblenden
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" disabled>
                                <label class="form-check-label ml-2">
                                    Profil-Element "Löschen" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Profil-Element kann nicht ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check mb-0 d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" id="hide_profile_privacy_terms" disabled {% if settings.privacy_terms_URL == "" %}checked{% endif %}>
                                <label class="form-check-label ml-2">
                                    Profil-Element "Teilnahmebedingungen" ausblenden
                                    <br>
                                    <small>
                                        <span class="text-muted">Dieses Profil-Element kann nur durch Einbinden bzw. Entfernen einer URL der Datenschutz- oder Teilnahmebedingungen ein- bzw. ausgeblendet werden.</span>
                                    </small>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group d-flex align-items-center">
                <label class="col-sm-6 col-form-label py-0" for="profile_layout">Layout:</label>
                <select class="form-control" id="profile_layout">
                    <option data-key="profile_layout" value="profile_layout_double_column" {% if "profile_layout_double_column" == settings.profile_layout%}selected{% endif %}>Zweispaltiges Layout</option>
                    <option data-key="profile_layout" value="profile_layout_single_column" {% if "profile_layout_single_column" == settings.profile_layout%}selected{% endif %}>Einspaltiges Layout</option>
                </select>
            </div>
        </div>
    </div>
</div>