<div class="col-12 col-md-6">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Seitenzuteilung</h4>
        </div>
        <div class="card-body">
            <div id="accordion-wrapper">
                <!-- Accordion Menü -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemenu" aria-expanded="true" aria-controls="collapsemenu"><i
                                class="fas fa-plus ts-accordion-plus"></i>Menü</button></a>
                    </div>
                    <div id="collapsemenu" class="collapse show" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-menus.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Nutzer -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapseuser" aria-expanded="false" aria-controls="collapseuser"><i
                                class="fas fa-plus ts-accordion-plus"></i>Nutzer</button></a>
                    </div>
                    <div id="collapseuser" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-user.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Training -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsetraining" aria-expanded="false" aria-controls="collapsetraining"><i
                                class="fas fa-plus ts-accordion-plus"></i>Training</button></a>
                    </div>
                    <div id="collapsetraining" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body  pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-training.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Lektion -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapselektion" aria-expanded="false" aria-controls="collapselektion"><i
                                class="fas fa-plus ts-accordion-plus"></i>Lektion</button></a>
                    </div>
                    <div id="collapselektion" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body  pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-lektion.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Unternehmen -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapseunternehmen" aria-expanded="false"
                            aria-controls="collapseunternehmen"><i
                                class="fas fa-plus ts-accordion-plus"></i>Unternehmen</button></a>
                    </div>
                    <div id="collapseunternehmen" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-company.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Import/Export -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapseimport" aria-expanded="false" aria-controls="collapseimport"><i
                                class="fas fa-plus ts-accordion-plus"></i>Import/Export</button></a>
                    </div>
                    <div id="collapseimport" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-im-export.html' %}
                        </div>
                    </div>
                </div>
                <!-- Accordion Sonstiges -->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsesonstiges" aria-expanded="false" aria-controls="collapsesonstiges"><i
                                class="fas fa-plus ts-accordion-plus"></i>Sonstiges</button></a>
                    </div>
                    <div id="collapsesonstiges" class="collapse" aria-labelledby="card-heading"
                        data-parent="#accordion-wrapper">
                        <div class="accordion-inner card-body pl-0 pr-0">
                            {% include 'admin-backend-settings/admin-backend-settings-pages-misc.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>