<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Sonstiges</h4>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label for="system_user_id" class="col-sm-6 col-form-label my-auto">ID des Systembenutzers:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="system_user_id" value="{{ settings.system_user_id }}"
                        style="width: 100%;" />
                </div>
            </div>
            <div class="input-group mb-3">
                <label for="logout_time" class="col-sm-6 col-form-label my-auto">Zeit bis zum automatischen Logout
                    (Minuten):
                    <i class="fas fa-info-circle red-tooltip" data-toggle="tooltip" data-placement="top"
                        title="Wählen Sie einen Wert zwischen 1-99999. Es wird empfohlen keinen Wert unter 5 zu wählen. Der Default-Wert ist 15."></i>
                </label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" min="1" step="1" max="99999" id="logout_time"
                        value="{{ settings.logout_time != '' ? settings.logout_time : '15' }}" style="width: 100%;" />
                </div>
            </div>

            <div class="form-check mb-3 ml-3 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="rest_activated"
                    name="{{settings.rest_activated}}" {% if 1==settings.rest_activated %}checked{% endif %}>
                <label class="form-check-label ml-2" for="rest_activated">
                    REST-API aktivieren
                </label>
            </div>
            <div class="form-check mb-3 ml-3 d-flex align-items-center">
                <input class="form-check-input" type="checkbox" value="" id="xmlrpc_activated"
                    name="{{settings.xmlrpc_activated}}" {% if 1==settings.xmlrpc_activated %}checked{% endif %}>
                <label class="form-check-label ml-2" for="xmlrpc_activated">
                    XMLRPC-Schnittstelle aktivieren
                </label>
            </div>
        </div>
    </div>
</div>

{% include 'admin-backend-settings/admin-backend-settings-misc-privacy-warning.html' %}