<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="page_user_profil_select" class="pt-0 hyphens-auto mb-0">Profil des
                    Nutzers:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="page_user_profil_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="page_user_profil" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.page_user_profil %}selected{% endif %}>
                        {{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="page_user_profil_name"
                    value="{% if settings.page_user_profil_name != '' %}{{ settings.page_user_profil_name }}{% else %}Profil{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_profile_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_profile_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_profile_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="page_user_progress_select" class="pt-0 hyphens-auto mb-0">
                    Abzeichen-Übersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="page_user_progress_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="page_user_progress" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.page_user_progress %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="page_user_progress_name"
                    value="{% if settings.page_user_progress_name != '' %}{{ settings.page_user_progress_name }}{% else %}Abzeichen{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_progress_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_progress_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_progress_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="zertifikate_select" class="pt-0 hyphens-auto mb-0">
                    Zertifikate-Übersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="zertifikate_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="zertifikate" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.zertifikate %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="zertifikate_name"
                    value="{% if settings.zertifikate_name != '' %}{{ settings.zertifikate_name }}{% else %}Zertifikate{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_zertifikate_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_zertifikate_exclude_sg" value="{{ sg }}" {% if sg in settings['page_zertifikate_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="exercise_favorites_select" class="pt-0 hyphens-auto mb-0">
                    Favoriten:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="exercise_favorites_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="exercise_favorites" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.exercise_favorites %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="exercise_favorites_name"
                    value="{% if settings.exercise_favorites_name != '' %}{{ settings.exercise_favorites_name }}{% else %}Favoriten{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_exercise_favorites_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_exercise_favorites_exclude_sg" value="{{ sg }}" {% if sg in settings['page_exercise_favorites_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="check_results_select" class="pt-0 hyphens-auto mb-0">
                    Check Ergebnisse:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="check_results_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="check_results" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.check_results %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="check_results_name"
                    value="{% if settings.check_results_name != '' %}{{ settings.check_results_name }}{% else %}Check Ergebnisse{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_check_results_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_check_results_exclude_sg" value="{{ sg }}" {% if sg in settings['page_check_results_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="create_user_select" class="pt-0 hyphens-auto mb-0">Nutzer
                    anlgen:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="create_user_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="create_user" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.create_user %}selected{% endif %}>{{
                        arrayAllPage[0]
                        }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="create_user_name"
                    value="{% if settings.create_user_name != '' %}{{ settings.create_user_name }}{% else %}Nutzer anlegen{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_create_user_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_create_user_exclude_sg" value="{{ sg }}" {% if sg in settings['page_create_user_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="user_list_select" class="pt-0 hyphens-auto mb-0">Nutzerliste:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_list_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_list" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_list %}selected{% endif %}>{{
                        arrayAllPage[0] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_list_name"
                    value="{% if settings.user_list_name != '' %}{{ settings.user_list_name }}{% else %}Nutzerliste{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_list_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_list_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_list_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="user_list_detail_select" class="pt-0 hyphens-auto mb-0">Nutzer-Detail-Seite:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_list_detail_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_list_detail" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_list_detail %}selected{% endif %}>
                        {{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_list_detail_name"
                    value="{% if settings.user_list_detail_name != '' %}{{ settings.user_list_detail_name }}{% else %}Nutzerliste Detail{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_list_detail_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_list_detail_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_list_detail_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>