<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="user_importer_select" class="pt-0 hyphens-auto">CSV
                    Import:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_importer_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_importer" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_importer %}selected{% endif %}>{{
                        arrayAllPage[0]
                        }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_importer_name"
                    value="{% if settings.user_importer_name != '' %}{{ settings.user_importer_name }}{% else %}CSV Import{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_importer_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_importer_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_importer_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="user_results_export_select" class="pt-0 hyphens-auto">Nutzerdaten
                    exportieren:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_results_export_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_results_export" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_results_export %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_results_export_name"
                    value="{% if settings.user_results_export_name != '' %}{{ settings.user_results_export_name }}{% else %}Nutzerdaten Export{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_results_export_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_results_export_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_results_export_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="dataexport_select" class="pt-0 hyphens-auto">Datenexport
                    exportieren:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="dataexport_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="dataexport" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.dataexport %}selected{% endif %}>{{
                        arrayAllPage[0] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="dataexport_name"
                    value="{% if settings.dataexport_name != '' %}{{ settings.dataexport_name }}{% else %}Datenexport{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_dataexport_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_dataexport_exclude_sg" value="{{ sg }}" {% if sg in settings['page_dataexport_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="trainings_ex_import_select" class="pt-0 hyphens-auto">Ex-/Import
                    von
                    Trainings:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="trainings_ex_import_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="trainings_ex_import" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.trainings_ex_import %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="trainings_ex_import_name"
                    value="{% if settings.trainings_ex_import_name != '' %}{{ settings.trainings_ex_import_name }}{% else %}Trainings Ex-/Import{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_trainings_ex_import_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_trainings_ex_import_exclude_sg" value="{{ sg }}" {% if sg in settings['page_trainings_ex_import_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>