<div class="col-12 col-md-6 mt-4">
    <div class="card user-detail-box h-100 mw-100">
        <div class="card-header">
            <h4 class="mb-0">Mailbox-Benachrichtigungen</h4>
        </div>
        <div class="card-body">
            <div id="mailbox-accordion-wrapper">
                <!-- Accordion Menü coach_2_coachee-->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemailbox_first" aria-expanded="false"
                            aria-controls="collapsemailbox_first"><i class="fas fa-plus ts-accordion-plus"></i>E-Mail
                            bei Nachricht von Coach an
                            Teilnehmende</button></a>
                    </div>
                    <div id="collapsemailbox_first" class="collapse" aria-labelledby="card-heading"
                        data-parent="#mailbox-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_coach_2_coachee_email_subject">Betreff Benachrichtigung
                                    über
                                    Nachricht Coach an Teilnehmende</label>
                                <input class="form-control" type="text" name="mailbox_coach_2_coachee_email_subject"
                                    id="mailbox_coach_2_coachee_email_subject"
                                    value="{{ settings.mailbox_coach_2_coachee_email_subject }}"
                                    placeholder="Betreff Benachrichtigung über Nachricht Coach an Teilnehmende">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_coach_2_coachee_email_body">Inhalt der Benachrichtigung
                                    über
                                    Nachricht Coach an Teilnehmende</label>
                                <textarea class="form-control" name="mailbox_coach_2_coachee_email_body"
                                    id="mailbox_coach_2_coachee_email_body"
                                    placeholder="Inhalt der Benachrichtigung über Nachricht Coach an Teilnehmende"
                                    aria-describedby="mailbox_coach_2_coachee_email_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_coach_2_coachee_email_body }}</textarea>
                                <p id="mailbox_coach_2_coachee_email_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[link]</b>"
                                    als Platzhalter für den Link zum Postfach ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion Menü coachee_2_coach-->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemailbox_second" aria-expanded="false"
                            aria-controls="collapsemailbox_second"><i class="fas fa-plus ts-accordion-plus"></i>E-Mail
                            bei
                            Nachricht von Teilnehmende an Coach</button></a>
                    </div>
                    <div id="collapsemailbox_second" class="collapse" aria-labelledby="card-heading"
                        data-parent="#mailbox-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_coachee_2_coach_email_subject">Betreff Benachrichtigung
                                    über
                                    Nachricht Teilnehmende an Coach</label>
                                <input class="form-control" type="text" name="mailbox_coachee_2_coach_email_subject"
                                    id="mailbox_coachee_2_coach_email_subject"
                                    value="{{ settings.mailbox_coachee_2_coach_email_subject }}"
                                    placeholder="Betreff Benachrichtigung über Nachricht Teilnehmende an Coach">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_coachee_2_coach_email_body">Inhalt der Benachrichtigung
                                    über
                                    Nachricht Teilnehmende an Coach</label>
                                <textarea class="form-control" name="mailbox_coachee_2_coach_email_body"
                                    id="mailbox_coachee_2_coach_email_body"
                                    placeholder="Inhalt der Benachrichtigung über Nachricht Teilnehmende an Coach"
                                    aria-describedby="mailbox_coachee_2_coach_email_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_coachee_2_coach_email_body }}</textarea>
                                <p id="mailbox_coachee_2_coach_email_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[link]</b>"
                                    als Platzhalter für den Link zum Postfach ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion Menü feedback_from_coach-->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemailbox_third" aria-expanded="false"
                            aria-controls="collapsemailbox_third"><i class="fas fa-plus ts-accordion-plus"></i>E-Mail
                            Teilnehmende erwartet Feedback von
                            Coach</button></a>
                    </div>
                    <div id="collapsemailbox_third" class="collapse" aria-labelledby="card-heading"
                        data-parent="#mailbox-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_feedback_from_coach_email_subject">Betreff
                                    Benachrichtigung über
                                    erforderliches Feedback von Coach</label>
                                <input class="form-control" type="text" name="mailbox_feedback_from_coach_email_subject"
                                    id="mailbox_feedback_from_coach_email_subject"
                                    value="{{ settings.mailbox_feedback_from_coach_email_subject }}"
                                    placeholder="Betreff Benachrichtigung über erforderliches Feedback von Coach">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_feedback_from_coach_email_body">Inhalt der
                                    Benachrichtigung über
                                    erforderliches Feedback von Coach</label>
                                <textarea class="form-control" name="mailbox_feedback_from_coach_email_body"
                                    id="mailbox_feedback_from_coach_email_body"
                                    placeholder="Inhalt der Benachrichtigung über erforderliches Feedback von Coach"
                                    aria-describedby="mailbox_feedback_from_coach_email_body_help"
                                    style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_feedback_from_coach_email_body }}</textarea>
                                <p id="mailbox_feedback_from_coach_email_body_help" class="form-text text-muted mb-0">
                                    Bitte fügen
                                    Sie "<b>[link]</b>"
                                    als Platzhalter für den Link zum Postfach ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion Menü feedbackTraining-->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemailbox_fifth" aria-expanded="false"
                            aria-controls="collapsemailbox_fifth"><i class="fas fa-plus ts-accordion-plus"></i>Benachrichtigung Training-Feedback</button></a>
                    </div>
                    <div id="collapsemailbox_fifth" class="collapse" aria-labelledby="card-heading"
                        data-parent="#mailbox-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_training_feedback_subject">Betreff der 
                                    Nachricht Training-Feedback</label>
                                <input class="form-control" type="text" name="mailbox_training_feedback_subject"
                                    id="mailbox_training_feedback_subject"
                                    value="{{ settings.mailbox_training_feedback_subject }}"
                                    aria-describedby="mailbox_training_feedback_subject_help"
                                    placeholder="Betreff der Nachricht Training-Feedback">
                                <p id="mailbox_training_feedback_subject_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie jeweils "<b>[username]</b>" und "<b>[training]</b>" als Platzhalter ein!</p>
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_training_feedback_body">Inhalt der Nachricht Training-Feedback</label>
                                <textarea class="form-control" name="mailbox_training_feedback_body"
                                    id="mailbox_training_feedback_body"
                                    placeholder="Inhalt der Nachricht Training-Feedback"
                                    aria-describedby="mailbox_training_feedback_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_training_feedback_body }}</textarea>
                                <p id="mailbox_training_feedback_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie jeweils "<b>[username]</b>", "<b>[training]</b>", "<b>[date]</b>" (01.01.2023) und "<b>[time]</b>" (09:42 Uhr) als Platzhalter ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion Menü mailbox_notifications-->
                <div class="settings-card ts-accordion">
                    <div class="card-header schriftgroesse" id="card-heading">
                        <button class="btn btn-link collapsed accordiontitle-small" data-toggle="collapse"
                            data-target="#collapsemailbox_fourth" aria-expanded="false"
                            aria-controls="collapsemailbox_fourth"><i class="fas fa-plus ts-accordion-plus"></i>Postfach
                            Benachrichtigungen</button></a>
                    </div>
                    <div id="collapsemailbox_fourth" class="collapse" aria-labelledby="card-heading"
                        data-parent="#mailbox-accordion-wrapper">
                        <div class="accordion-inner card-body p-0">
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_email_unread_messages_subject">Betreff Benachrichtigung
                                    über
                                    Nachrichten im Postfach</label>
                                <input class="form-control" type="text" name="mailbox_email_unread_messages_subject"
                                    id="mailbox_email_unread_messages_subject"
                                    value="{{ settings.mailbox_email_unread_messages_subject }}"
                                    placeholder="Betreff Benachrichtigung über Nachrichten im Postfach">
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_email_unread_message_body">Inhalt der Benachrichtigung
                                    über EINE
                                    Nachricht im Postfach</label>
                                <textarea class="form-control" name="mailbox_email_unread_message_body"
                                    id="mailbox_email_unread_message_body"
                                    placeholder="Inhalt der Benachrichtigung über EINE Nachricht im Postfach"
                                    aria-describedby="mailbox_email_unread_message_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_email_unread_message_body }}</textarea>
                                <p id="mailbox_email_unread_message_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[link]</b>"
                                    als Platzhalter für den Link zum Postfach ein!</p>
                            </div>
                            <div class="form-group">
                                <label class="ml-0" for="mailbox_email_unread_messages_body">Inhalt der Benachrichtigung
                                    über
                                    MEHRERE Nachrichten im Postfach</label>
                                <textarea class="form-control" name="mailbox_email_unread_messages_body"
                                    id="mailbox_email_unread_messages_body"
                                    placeholder="Inhalt der Benachrichtigung über MEHRERE Nachrichten im Postfach"
                                    aria-describedby="mailbox_email_unread_messages_body_help" style="resize: vertical;"
                                    rows="12">{{ settings.mailbox_email_unread_messages_body }}</textarea>
                                <p id="mailbox_email_unread_messages_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[link]</b>"
                                    als Platzhalter für den Link zum Postfach ein!</p>
                                <p id="mailbox_email_unread_messages_body_help" class="form-text text-muted mb-0">Bitte
                                    fügen Sie
                                    "<b>[anzahl]</b>"
                                    als Platzhalter für den Anzahl der Nachrichten im Postfach ein!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>