<table class="table table-striped">
    <thead>
        <tr>
            <th class="pr-0 pl-0" scope="col"></th>
            <th class="hyphens-auto pl-0" scope="col">Seitenname</th>
            <th class="hyphens-auto pl-0" scope="col">Menübezeichnung</th>
            <th class="hyphens-auto pl-0" scope="col">Studiengruppen ausschließen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">
                <label for="user_code_select" class="pt-0 hyphens-auto">Freischaltcodes:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="user_code_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="user_code" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.user_code %}selected{% endif %}>{{
                        arrayAllPage[0] }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="user_code_name"
                    value="{% if settings.user_code_name != '' %}{{ settings.user_code_name }}{% else %}Freischaltcodes{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_user_code_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_user_code_exclude_sg" value="{{ sg }}" {% if sg in settings['page_user_code_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="system_statistics_select" class="pt-0 hyphens-auto">
                    Systemstatistiken:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="system_statistics_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="system_statistics" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.system_statistics %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="system_statistics_name"
                    value="{% if settings.system_statistics_name != '' %}{{ settings.system_statistics_name }}{% else %}Systemstatistiken{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_system_statistics_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_system_statistics_exclude_sg" value="{{ sg }}" {% if sg in settings['page_system_statistics_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="coaching_overview_select" class="pt-0 hyphens-auto">Coaching-Übersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="coaching_overview_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="coaching_overview" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.coaching_overview %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="coaching_overview_name"
                    value="{% if settings.coaching_overview_name != '' %}{{ settings.coaching_overview_name }}{% else %}Coaching-Übersicht{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_coaching_overview_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_coaching_overview_exclude_sg" value="{{ sg }}" {% if sg in settings['page_coaching_overview_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="mailbox_view_select" class="pt-0 hyphens-auto">Nachrichten:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="mailbox_view_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="mailbox_view" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.mailbox_view %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="mailbox_view_name"
                    value="{% if settings.mailbox_view_name != '' %}{{ settings.mailbox_view_name }}{% else %}Nachrichten{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_mailbox_view_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_mailbox_view_exclude_sg" value="{{ sg }}" {% if sg in settings['page_mailbox_view_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="coach_vorlage_select" class="pt-0 hyphens-auto">Vorlagen:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="coach_vorlage_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="coach_vorlage" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.coach_vorlage %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="coach_vorlage_name"
                    value="{% if settings.coach_vorlage_name != '' %}{{ settings.coach_vorlage_name }}{% else %}Vorlagen{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_coach_vorlage_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_coach_vorlage_exclude_sg" value="{{ sg }}" {% if sg in settings['page_coach_vorlage_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="show_contactinfo_select" class="pt-0 hyphens-auto">Hilfe/Kontakt:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="show_contactinfo_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="show_contactinfo" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.show_contactinfo %}selected{% endif %}>
                        {{ arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="show_contactinfo_name"
                    value="{% if settings.show_contactinfo_name != '' %}{{ settings.show_contactinfo_name }}{% else %}Hilfe/Kontakt{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_show_contactinfo_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_show_contactinfo_exclude_sg" value="{{ sg }}" {% if sg in settings['page_show_contactinfo_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="dashboard_select" class="pt-0 hyphens-auto">Dashboard</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="dashboard_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="dashboard" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.dashboard %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="dashboard_name"
                    value="{% if settings.dashboard_name != '' %}{{ settings.dashboard_name }}{% else %}Dashboard{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_dashboard_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_dashboard_exclude_sg" value="{{ sg }}" {% if sg in settings['page_dashboard_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="align-middle">
                <label for="study_overview_select" class="pt-0 hyphens-auto">Studienübersicht:</label>
            </td>
            <td class="pl-0 align-middle">
                <select size="1" class="form-control mx-auto" id="study_overview_select">
                    {% for arrayAllPage in arrayAllPages %}
                    <option data-key="study_overview" value="{{ arrayAllPage[1] }}" {% if (arrayAllPage[1]
                        )==settings.study_overview %}selected{% endif %}>{{
                        arrayAllPage[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td class="pl-0 align-middle">
                <input class="form-control" type="text" id="study_overview_name"
                    value="{% if settings.study_overview_name != '' %}{{ settings.study_overview_name }}{% else %}Studienübersicht{% endif %}" />
            </td>
            <td class="pl-0 align-middle">
                <select class="form-control" multiple id="page_study_overview_exclude_sg" size="3">
                    {% for sg in studiengruppen %}
                        <option data-key="page_study_overview_exclude_sg" value="{{ sg }}" {% if sg in settings['page_study_overview_exclude_sg'] %}selected{% endif %}>{{ sg }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle text-right">
                <small class="text-muted">Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden</small>
            </td>
        </tr>
    </tbody>
</table>