<!-- Modal neue Rolle -->
<div class="modal overflow-auto fade" id="permissionsDeleteRoleModal" tabindex="-1" role="dialog" aria-labelledby="permissionsDeleteRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="permissionsDeleteRoleModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;Rolle löschen</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                    <p class="mb-0">
                        Möchten Sie die Rolle <b>&laquo;<span id="permissionsDeleteRoleTitle"></span>&raquo;</b> wirklich unwiderruflich löschen?
                    </p>
                </div>
                <input type="hidden" id="permissionsDeleteRoleId" value="">
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-danger" id="permissionsDeleteRoleConfirm">Rolle löschen</button>
            </div>
        </div>
    </div>
</div>
