<!-- Modal neue Rolle -->
<div class="modal overflow-auto fade" id="permissionsEditRoleModal" tabindex="-1" role="dialog" aria-labelledby="permissionsEditRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="permissionsEditRoleForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="permissionsEditRoleModalLabel"><i class="fas fa-edit"></i>&nbsp;Rolle bearbeiten</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="permissionsEditRoleId" value="">
                    <div class="form-group">
                        <label class="label-above" for="permissionsEditRoleTitle">Titel der Rolle <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="permissionsEditRoleTitle" 
                            aria-describedby="ppermissionsEditRoleTitleHelp" placeholder="Titel der Rolle">
                        <span id="permissionsEditRoleTitleHelp" class="text-muted form-text">
                        Mindestens ein Zeichen
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="label-above" for="permissionsEditRoleDesc">Beschreibung der Rolle <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="permissionsEditRoleDesc" rows="5"
                            aria-describedby="permissionsEditRoleDescHelp" placeholder="Beschreibung der Rolle"></textarea>
                        <span id="permissionsEditRoleDescHelp" class="text-muted form-text">
                            Mindestens ein Zeichen
                        </span>
                    </div>
                    <p class="text-muted m-0">Alle mit <span class="text-danger">*</span> gekennzeichneten Felder sind Pflichtfelder.</p>
                    <div class="alert alert-danger mb-0 mt-3 d-none" role="alert" id="permissionsEditRoleErrorAlert">
                        <h5 class="alert-heading"><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
                        <p class="mb-0"></p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" id="permissionsEditRoleButton">Rolle speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
