<!-- Modal neue Rolle -->
<div class="modal overflow-auto fade" id="permissionsNewRoleModal" tabindex="-1" role="dialog" aria-labelledby="permissionsNewRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="permissionsNewRoleForm">
                <div class="modal-header">
                    <h3 class="modal-title" id="permissionsNewRoleModalLabel"><i class="fas fa-plus-square"></i>&nbsp;Neue Rolle hinzufügen</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="label-above" for="permissionsNewRoleID">ID der Rolle <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="permissionsNewRoleID" 
                            aria-describedby="permissionsNewRoleIDHelp" placeholder="Diese ID dient der systemweiten Identifikation der Rolle">
                        <span id="permissionsNewRoleIDHelp" class="text-muted form-text">
                            Nur a-z, A-Z und 0-9, keine Sonderzeichen
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="label-above" for="permissionsNewRoleTitle">Titel der Rolle <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="permissionsNewRoleTitle" 
                            aria-describedby="permissionsNewRoleTitleHelp" placeholder="Dieser Titel erscheint in der Kopfzeile der Zuordnungstabelle">
                        <span id="permissionsNewRoleTitleHelp" class="text-muted form-text">
                            Mindestens ein Zeichen
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="label-above" for="permissionsNewRoleDescription">Beschreibung der Rolle <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="permissionsNewRoleDescription" rows="5"
                            aria-describedby="permissionsNewRoleDescriptionHelp" placeholder="Diese Beschreibung wird beim Hover über die Rollenbezeichnung eingeblendet."></textarea>
                        <span id="permissionsNewRoleDescriptionHelp" class="text-muted form-text">
                            Mindestens ein Zeichen
                        </span>
                    </div>
                    <p class="text-muted m-0">Alle mit <span class="text-danger">*</span> gekennzeichneten Felder sind Pflichtfelder.</p>
                    <div class="alert alert-danger mb-0 mt-3 d-none" role="alert" id="permissionsNewRoleErrorAlert">
                        <h5 class="alert-heading"><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
                        <p class="mb-0"></p>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" id="permissionsNewRoleButton">Rolle hinzufügen</button>
                </div>
            </form>
        </div>
    </div>
</div>
