<div class="wrapper-admin-backend">
    <div class="row mx-0">
        <div class="col-12">
            <div class="card mw-100 p-0">
                <h4 class="card-header"><i class="fas fa-user-cog"></i>&nbsp;Berechtigungen erteilen</h4>
                <div class="card-body" id="main-card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Wurden einem User mehrere Rollen zugeteilt, werden seine Berechtigungen addiert. Hierbei verliert der User keinen Zugriff auf eine Funktion.</p>
                            <button class="btn btn-primary float-right mb-3 {% if not isAdmin %}pointerdisabled{% endif %}" type="button" data-toggle="modal" data-target="#permissionsNewRoleModal" {% if not isAdmin %}disabled{% endif %}>
                                <i class="fas fa-plus-square"></i>&nbsp;Rolle
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3" id="permissions-table-content">
                            {% include 'permissions/permission-table-content.html' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            {% if roles is not empty and functions is not empty and isAdmin %}
                                <button class="btn btn-primary mb-3" id="admin-backend-permissions-button" type="button"><i class="fas fa-save"></i>&nbsp;Berechtigungen speichern</button>
                            {% elseif roles is not empty and functions is not empty and not isAdmin %}
                                <div class="alert alert-info" role="alert">
                                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                                    <p>
                                        Sie verfügen nicht über ausreichende Berechtigungen, um auf dieser Seite Einstellungen vorzunehmen. Bitte wenden Sie sich an eine Person mit Administratorrechten.
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if isAdmin %}
    <div id="ModalWrapper" class="wrapper-admin-backend">
        {% include 'permissions/permission-role-new-modal.html' %}
        {% include 'permissions/permission-role-delete-modal.html' %}
        {% include 'permissions/permission-role-edit-modal.html' %}
    </div>
    <div class="row mx-0">
        {% if updateAvailable %}
        <div class="col-12 col-md-6">
            <div class="card mw-100 p-0">
                <h4 class="card-header"><i class="fas fa-cogs"></i>&nbsp;Update verfügbar</h4>
                <div class="card-body">
                    <p>
                        Es ist ein Update der Berechtigungen verfügbar.
                    </p>
                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i>&nbsp;Warnung</h5>
                        <p class="mb-0">
                            Sollten Sie abweichend vom Standard Berechtigungen vergeben oder eigene Rollen erstellt haben, so installieren Sie lediglich die neuen Funktionen. Hierbei werden evtl. von Ihnen geänderte Zugriffsberechtigungen, neue Rollen und neue Funktionen gelöscht.<br>
                            <b>Fahren Sie in diesem Fall nur fort, wenn Sie sicher sind, was Sie tun!</b>
                            <br><br>
                            Sollten Sie den vorgegebenen Standard benutzen, so aktualisieren Sie bitte auf den neuen Standard.<br>
                        </p>
                    </div>
                    <button type="button" class="btn btn-primary mr-3" id="admin-backend-permissions-updatefunctions"><i class="fas fa-redo-alt"></i>&nbsp;Funktionen aktualisieren</button>
                    <button type="button" class="btn btn-primary admin-backend-permissions-default"><i class="fas fa-redo-alt"></i>&nbsp;Neuen Standard aktualisieren</button>
                </div>
            </div>
        </div>
        {% elseif showDefaultReset %}
        <div class="col-12 col-md-6">
            <div class="card mw-100 p-0">
                <h4 class="card-header"><i class="fas fa-undo"></i>&nbsp;Standard wiederherstellen</h4>
                <div class="card-body">
                    <p>
                        Hier haben Sie die Möglichkeit, einen vorgefertigten und empfohlenen Standard für die Berechtigungsverteilung (wieder-)herzustellen.
                    </p>
                    
                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading"><i class="fas fa-exclamation-circle"></i>&nbsp;Warnung</h5>
                        <p class="mb-0">
                            Hierbei werden evtl. von Ihnen geänderte Zugriffsberechtigungen, neue Rollen und neue Funktionen gelöscht.<br>
                            <b>Fahren Sie nur fort, wenn Sie sicher sind, was Sie tun!</b>
                        </p>
                    </div>
                    <button class="btn btn-danger float-right admin-backend-permissions-default" type="button"><i class="fas fa-undo"></i>&nbsp;Standard wiederherstellen</button>
                </div>
            </div>
        </div>
        {% endif %}
        {% if defaultRolesExist and defaultFunctionsExist and oldPermissionsFound %}
            <div id="oldPremissionsFoundDiv" class="col-12 col-md-6">
                <div class="card mw-100 p-0">
                    <h4 class="card-header"><i class="fas fa-share"></i>&nbsp;Berechtigungen migrieren</h4>
                    <div class="card-body">
                        <p>
                            Sie können hier die alten Berechtigungen in das neue Format konvertieren. Aus technischen Gründen ist eine Weiterverwendung der alten Parameter nicht möglich.
                        </p>
                        <div class="alert alert-warning" role="alert">
                            <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                            <p class="mb-0">
                                Es sind Einträge zu veralteten Berechtigungen in der Datenbank gefunden worden. Bei der Migration in das aktuelle System wird die Datenbank von unwirksamen und obsoleten Berechtigungseinträgen bereinigt. <b>Dieser Schritt ist irreversibel</b>, er wird jedoch empfohlen. </p>
                            </p>
                        </div>
                        <button class="btn btn-secondary float-right" type="button" id="admin-backend-permissions-migrate"><i class="fas fa-share"></i>&nbsp;Berechtigungen migrieren</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<script>
jQuery('[data-toggle="tooltip"]').tooltip({ container: '.wrapper-admin-backend'} );
</script>