<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_user_last_events]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben. Standardmäßig lautet dieser "Letzte Aktivität", kann aber durch Setzen auf '' ausgeblendet werden.</li>
        <li>Das Attribut <code>limit</code> kann optional benutzt werden, um die Anzahl der Einträge zu beschränken. Erlaubte Werte sind -1 für alle, und > 0 für eine bestimmte Anzahl. Standardmäßig werden die letzten 20 Einträge ausgegeben.</li>
        <li>Das Attribut <code>level</code> kann optional benutzt werden, um das Level des Ereignisses einzuschränken. Erlaubte Werte sind {% for level in alllevel %}<code>{{ level }}</code>{% if loop.last %}{% elseif loop.revindex0 == 1%} und {% else %}, {% endif %}{% endfor %}. Standardmäßig ist die Ausgabe auf <code>info</code> eingestellt.</li>
        <li>Das Attribut <code>type</code> kann optional benutzt werden, um den Typ des Ereignisses einzuschränken. Erlaubte Werte sind {% for type in alltypes %}<code>{{ type }}</code>{% if loop.last %}{% elseif loop.revindex0 == 1%} und {% else %}, {% endif %}{% endfor %}. Standardmäßig ist die Ausgabe nicht beschränkt.</li>
        <li>Das Attribut <code>order_asc</code> kann optional auf <code>true</code> gesetzt werden, um nach Datum <b>auf</b>steigend zu sortieren, standardmäßig erfolgt die Sortierung nach Datum <b>ab</b>steigend (neuester Eintrag zuerst).</li>
        <li>Das Attribut <code>newpage</code> kann optional auf <code>true</code> gesetzt werden, um Links auf einer neuen Seite zu öffnen. Standardmäßig erfolgt das Öffnen von Links im selben Fenster.</li>
        <li>Das Attribut <code>hidesubtitles</code> kann optional auf <code>true</code> gesetzt werden, um die Darstellung von Untertiteln zu unterdrücken. Standardmäßig werden Untertitel angezeigt.</li>
    </ul>
</div>