<div class="row">
    {% if title is not empty %}
        <div class="col-12">
            <h4 class="mb-5 text-{{titlepos}}">{{ title }}</h4>
        </div>
    {% endif %}
</div>


{% if type == 'button' %}
<p class="systemTodo">{{todo}}</p>
  <a type="button" class="btn btn-primary" id="add_todo_btn" data-post="{{ posttype }}">{{btnname}}</a>
{% endif %}




