<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_gesundheitstrainings_oc]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>stress-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Stress" </li>
        <li><code>selbstkritik-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Selbstkritik" </li>
        <li><code>perseverativesdenken-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Perseveratives Denken" </li>
        <li><code>regeneration-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Schlaf und Regeneration" </li>
        <li><code>alkoholkonsum1-id</code>: Verpflichtende TS Form-ID für den ersten Befragungsteil "Alkoholkonsum" </li>
        <li><code>alkoholkonsum2-id</code>: Verpflichtende TS Form-ID für den zweiten Befragungsteil "Alkoholkonsum" </li>
        <li><code>alkoholkonsum3-id</code>: Verpflichtende TS Form-ID für den dritten Befragungsteil "Alkoholkonsum" </li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
    </ul>
    <p>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.</p>
    <p>Mit dem Attribut <code>empfehlungen</code> können optional die IDs von Trainings angegeben werden, welche als Empfehlung am Ende des Checks aufgeführt werden sollen. Mehrere IDs müssen durch <code>;</code> getrennt werden.</p>
    <p>Über das Attribut <code>start</code> kann optional ein direkter Start des Selbst-Checks bei Seitenaufruf aktiviert werden.</p>  
</div>