<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_arbeitsplatztrainings_oc]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>arbeitsumgebung-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Arbeitsumgebung" </li>
        <li><code>arbeitsorganisation-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Arbeitsorganisation" </li>
        <li><code>work-life-balance-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Work-Life-Balance" </li>
        <li><code>unternehmenskultur-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Unternehmenskultur" </li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
    </ul>
    <p>Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.</p>
    <p>Mit dem Attribut <code>empfehlungen</code> können optional die IDs von Trainings angegeben werden, welche als Empfehlung am Ende des Checks aufgeführt werden sollen. Mehrere IDs müssen durch <code>;</code> getrennt werden.</p>
    <p>Über das Attribut <code>start</code> kann optional ein direkter Start des Selbst-Checks bei Seitenaufruf aktiviert werden.</p>   
</div>