<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_checklg]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>phq-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "PHQ"</li>
        <li><code>isi-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "ISI"</li>
        <li><code>pss-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "PSS"</li>
        <li><code>ptq-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "PTQ"</li>
        <li><code>audit-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "AUDIT"</li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
        <li><code>erschoepfung-id</code>: Verpflichtende Training-ID für das Training "Erschöpfung"</li>
        <li><code>schlaf-id</code>: Verpflichtende Training-ID für das Training "Schlaf"</li>
        <li><code>stress-id</code>: Verpflichtende Training-ID für das Training "Stress"</li>
        <li><code>alkohol-id</code>: Verpflichtende Training-ID für das Training "Alkohol"</li>
    </ul>
    <p>
        Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.
    </p>
</div>