<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_checkbplatz]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>orga-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Arbeitsorganisation"</li>
        <li><code>zeit-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Work-Life-Balance"</li>
        <li><code>kultur-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Unternehmenskultur"</li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
    </ul>
    <p>
        Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.
    </p>
</div>