<div id="userprofileSavePrivacyModal" class="modal fade" role="dialog" aria-labelledby="userprofileSavePrivacyModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileSavePrivacyModalLabel" class="modal-title">Einstellungen speichern</h2>
            </div>
            <div class="modal-body">
                <p>Möchten Sie Ihre Profileinstellungen speichern? </p>
                <div id="privacy-warning" class="alert alert-warning d-none" role="alert">
                    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                    <p>
                        Wenn Sie den Bedingungen widersprechen, ist diese Plattform für Sie nicht mehr nutzbar.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-savePrivacy-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#user-profil-submit-privacy').on("click", function () {
        if (jQuery('#privacy-checkbox').prop('checked') == false) {
            jQuery('#privacy-warning').removeClass('d-none');
        }
        else {
            jQuery('#privacy-warning').addClass('d-none');
        }
    });
</script>