<div id="userprofileDeleteContentModal" class="modal fade" role="dialog" aria-labelledby="userprofileDeleteContentModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileDeleteContentModalLabel" class="modal-title">Eingaben löschen</h2>
            </div>
            <div class="modal-body">
                <p>Alle auf dieser Plattform getätigten Eingaben werden unwiderruflich <b>gelöscht</b>.</p>
                <p>Sind Sie sicher, dass Sie fortfahren möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-deletecontent-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>