<div id="userprofileSavePasswordModal" class="modal fade" role="dialog" aria-labelledby="userprofileSavePasswordModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileSavePasswordModalLabel" class="modal-title">Passwort ändern</h2>
            </div>
            <div class="modal-body">
                <p>Sind Sie sicher, dass Sie Ihr Passwort ändern möchten?</p>
                <p><b>Hinweis:</b> Nach der erfolgreichen Änderung des Passworts werden Sie automatisch von dieser Plattform abgemeldet.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-savepassword-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>