<div id="userprofileDeleteAccountModal" class="modal fade" role="dialog" aria-labelledby="userprofileDeleteAccountModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileDeleteAccountModalLabel" class="modal-title">Account löschen</h2>
            </div>
            <div class="modal-body">
                <p>Ihr Account inklusive aller Eingaben wird unwiderruflich <b>gelöscht</b>.</p>
                <p>Sind Sie sicher, dass Sie fortfahren möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-deleteaccount-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>