<div id="userprofileSaveMailModal" class="modal fade" role="dialog" aria-labelledby="userprofileSaveMailModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileSaveMailModalLabel" class="modal-title">E-Mail-Einstellungen speichern</h2>
            </div>
            <div class="modal-body">
                <p>Sind Sie sicher, dass Sie Ihre vorgenommenen Einstellungen speichern möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-savemail-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>