<div id="userprofileSavePhonenumberModal" class="modal fade" role="dialog" aria-labelledby="userprofileSavePhonenumberModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="userprofileSavePhonenumberModalLabel" class="modal-title">Telefonnummer speichern</h2>
            </div>
            <div class="modal-body">
                <p>Sind Sie sicher, dass Sie Ihre Telefonnummer für Ihr Profil ändern möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="user-profile-savephonenumber-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>