<h1 class="text-center mb-5">{{ heading }}</h1>
{% if singlecard %}
    {% if contactInfo is empty %}
        <div class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Aktuell sind keine Kontakte verfügbar.
            </p>
        </div>
    {% else %}
        {% for info in contactInfo %}
        <div class="row">
            <div class="col-lg-6">
                <div class="card user-detail-box">
                    <div class="box-header">
                        <h4>{{info.title}}</h4>
                    </div>
                    <div class="box-body">
                        <ul class="list-unstyled mb-0">            
                            <li><i class="fas fa-user-friends mr-2"></i>{% if info.name %}{{info.name}}{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                            {% if not setting_hide_mails %}
                                {% if info.showMail %}
                                <li><i class="far fa-envelope mr-2"></i>{% if info.mail %}<a href="mailto:{{ info.mail }}">{{ info.mail }}</a>{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                                {% endif %}
                            {% endif %}
                            {% if info.phone %}
                                <li><i class="fas fa-phone mr-2"></i>{{info.phone}}</i></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--row-->
        {% endfor %}
    {% endif %}
{% elseif multicard %}
    {% if contactInfo is empty %}
        <div class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Aktuell sind keine Kontakte verfügbar.
            </p>
        </div>
    {% else %}
        {% for info in contactInfo %}
            {% if loop.index0 is even %}
            <div class="row">
            {% endif %}
                <div class="col-lg-6">
                    <div class="card user-detail-box">
                        <div class="box-header">
                            <h4>{{info.title}}</h4>
                        </div>
                        <div class="box-body">
                            <ul class="list-unstyled mb-0">            
                                <li><i class="fas fa-user-friends mr-2"></i>{% if info.name %}{{info.name}}{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                                {% if not setting_hide_mails %}
                                    {% if info.showMail %}
                                        <li><i class="far fa-envelope mr-2"></i>{% if info.mail %}<a href="mailto:{{ info.mail }}">{{ info.mail }}</a>{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                                    {% endif %}
                                {% endif %}
                                {% if info.phone %}
                                    <li><i class="fas fa-phone mr-2"></i>{{info.phone}}</i></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% if(loop.index0 is odd) or (loop.index0 is even and loop.last) %}
            </div> <!--row-->
            {% endif %}
        {% endfor %}
    {% endif %}
{% else %}
    {% if contactInfo is empty %}
        <div class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Aktuell sind keine Kontakte verfügbar.
            </p>
        </div>
    {% else %}
        {% for info in contactInfo %}
            <h4>{{info.title}}</h4>
            <ul class="list-unstyled mb-0">            
                <li><i class="fas fa-user-friends mr-2"></i>{% if info.name %}{{info.name}}{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                {% if not setting_hide_mails %}
                    {% if info.showMail %}
                    <li><i class="far fa-envelope mr-2"></i>{% if info.mail %}<a href="mailto:{{ info.mail }}">{{ info.mail }}</a>{% else %}<i>nicht hinterlegt</i>{% endif %}</li>
                    {% endif %}
                {% endif %}
                {% if info.phone %}
                    <li><i class="fas fa-phone mr-2"></i>{{info.phone}}</i></li>
                {% endif %}
            </ul>
        {% endfor %}
    {% endif %}
{% endif %}