{% if checkResults %}
{{ checkResults|raw }}
    {% if info %}
    <div class="mt-4">
        <small>Es ist jeweils der Bereiche mit dem größten Handlungsbedarf zum Thema Gesundheit und zum Thema Arbeitsplatz
        dargestellt. Die kompletten Ergebnisse sind auf <a href="{{lastCheckResultsURL}}">dieser Übersicht</a>
        aufbereitet.</small>
    </div>
    {% endif %}
{% else %}
    {% include "dashboard/no-dashboard-item.html" with {'heading': defaultErrorSubject} %}
{% endif %}