<div class="modal fade" id="dashboardCertificateNoNameModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h2 class="modal-title">Hinweis</h2>
            </div>
            <div class="modal-body">
                {% if isDemoUser %}
                <p>Sie können in dieser Demo keine Teilnahmezertifikate herunterladen.</p>
                {% else %}
                <p>Sie müssen Ihren Vor- und Nachnamen in Ihrem <a href="{{profile_link}}">Profil</a> angeben, damit Sie Teilnahmezertifikate herunterladen können.</p>
                {% endif %}
            </div>
            <div class="modal-footer d-flex justify-content-between">
                    <button type="button" id="dashboard-certificate-no-name-button" class="btn btn-secondary">Schließen</button>
                    {% if not isDemoUser %}
                    <a href="{{profile_link}}" id="dashboard-certificate-no-name-button" class="btn btn-primary">Profil</a>
                    {% endif %}
            </div>
        </div>
    </div>
</div> 