{% if favoriteExercises %}
<ul class="animated_list pl-0">
    {% for exercise in favoriteExercises %}
    <li class="w-100 favoriteExerciseItem">
    <i class="fas fa-link mr-3"></i><a class="text-color-black" href="{{exercise.getUrl()}}">{{exercise.getTitle()}}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
    {% include "dashboard/no-dashboard-item.html" with {'heading': defaultErrorSubject} %}
{% endif %}