<style>
.landingpage-cover-img{
    background-image: none!important;}
</style>

<div class="dashboard-head-container mt-5 mb-3">
  {% if isDemoUser %}
  <h1 class="text-center">Herzlich willkommen!</h1>
  {% else %}
  <h1 class="text-center">Herzlich willkommen, {% if current_user.user_firstname is empty and current_user.user_lastname is empty %} {{current_user.user_login}}{% else %} {{current_user.user_firstname}} {{current_user.user_lastname}}{% endif %}!</h1>
  {% endif %}
</div>
<!-- Dashboard nur anzeigen, wenn Trainings freigegeben sind -->
{% if dashboard_hide_notrainings and trainings|length < 1 and no_trainings_text_dashboard is not empty  %} 
<div class="w-50 mx-auto alert alert-info" role="alert">
  <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
  <p>
    {{no_trainings_text_dashboard | replace ({'conditions': '<a href='~ privacy_terms_URL ~'>Teilnahmebedingungen</a>' }) | raw }}
  </p>
</div>
{% else %}
  <div class="container-fluid">
     <div class="row">
        {% for item in items %}
          <div class="{{ item.css }} dashboard-card">
            <h4 class="dashboard-card-headline">{{ item.title|raw }}</h4>
            {% if item.content is not empty %}
              {{ item.content|raw }}
            {% else %}
              {% include "dashboard/no-dashboard-item.html" with {'heading': item.title} %}
            {% endif %}
          </div>
        {% else %}
          <div class="alert alert-info" role="alert">
            <h4><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h4>
            <p>
                Sie haben noch keine Elemente in den <a href="{{settings_url}}" class="alert-link" title="Einstellungen" target="_blank">Einstellungen von TrainOn</a> hinterlegt.
            </p>
          </div>
       {% endfor %}
      </div>
  </div>
{% endif %}