<div class="h-75 d-flex align-items-center empty-card">
    <div class="flex-column text-center m-auto">
        <p>Keine {{heading}} vorhanden</p>
        <i class="fas fa-ban"></i>
    </div>
</div>