{% if pages is not empty %}
    <table class="table table-striped table-hover">
        <thead>
            <th scope="col">Post-ID</th>
            <th scope="col">Titel</th>
            <th scope="col">Post-Typ</th>
            <th scope="col">&nbsp;</th>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td class="align-middle">
                    {{page.id}}
                </td>
                <td class="align-middle">
                    <a href="{{page.url|raw}}"class="card-link"  title="{{page.title}}" target="_blank">
                        {{page.title}}
                    </a>
                </td>
                <td class="align-middle">
                    {{page.type}}
                </td>
                <td class="align-middle">
                    <a href="{{page.edit_url|raw}}" target="_blank" class="btn btn-secondary btn-sm" title="{{post.title}} Bearbeiten">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="d-flex">
    <div class="alert alert-info mb-0" role="alert">
        <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
        <p>
            Diese Übung wird momentan auf keiner Seite verwendet.
        </p>
    </div>
</div>
{% endif %}