<div class="wrapper-admin-backend">
    <div class="d-flex mt-2">
        <div class="alert alert-warning mb-0" role="alert">
            <p class="mb-0">Der 1. Schritt ist die Eingabe eines Titels.</p>
        </div>
    </div>
</div>
<style>
    #postdivrich {
        display: none;
    }
</style>