<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode für <code>[ts_exercise]</code> wurde nicht korrekt benutzt.
    </p>
    <p>
        Innerhalb der Übung darf keine weitere Übung mit dem Shortcode <code>[ts_exercise id='x']</code> vorkommen.
    </p>
</div>