<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode für <code>[ts_exercise]</code> wurde nicht korrekt benutzt.
    </p>
    <p>
        Entweder ist der Parameter <code>id</code> nicht gesetzt oder die ID ist keine gültige Übung. 
    </p>
      <p>
        Ein gültiger Shortcode ist beispielsweise: <code>[ts_exercise id='123']</code>
    </p>
</div>