<h1 class="text-center mb-5">{{ heading }}</h1>
<div class="row">
    <div class="col-12">
        {% for fe in favoriteExercises %}
        <div class="w-100 favoriteExerciseItem">
            {% include 'exercise/exercise.html' with {'exerciseShowFavButton': true, 'exerciseShowBackground':fe.options.exerciseShowBackground,'exerciseHeadline': fe.options.exerciseHeadline,'usermodus': usermodus, 'exercise_id': options.id, 'exercise_title': fe.getTitle(), 'content': fe.getContent(), 'trainingid': fe.getTraining_id(), 'lektionid': fe.getLektion_id(), 'seitenid': fe.getSeiten_id(), 'url': fe.getUrl(), 'isFavorite': true, 'showSource': true, 'favoritePage': true} %}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Sie haben noch keine Übungen als Lieblingsübung markiert.
            </p>
        </div>
        {% endfor %}
    </div>
</div>