<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_arbeitsplatz]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>gestaltung-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Gestaltung von Arbeitsaufgaben und -abläufen" </li>
        <li><code>privatleben-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Arbeit und Privatleben im Einklang" </li>
        <li><code>orga-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Organisationskultur" </li>
        <li><code>umgang-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Professioneller Umgang mit Tod, Sterben und Gewalt" </li>
        <li><code>umgebung-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Gesunde Arbeitsumgebung" </li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung gewünscht</i></li>
    </ul>
    <p>
        Mit dem Attribut <code>empfehlungen</code> können optional die IDs von Trainings angegeben werden, welche als Empfehlung am Ende des Checks aufgeführt werden sollen. Mehrere IDs müssen durch <code>;</code> getrennt werden.
    </p>
    <p>
        Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.
    </p>
    <p>
        Über das Attribut <code>start</code> kann optional ein direkter Start des Selbst-Checks bei Seitenaufruf aktiviert werden.
    </p>
</div>