<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_check_gesundheit]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute sind verwendbar:
    </p>
    <ul>
        <li><code>stress-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Stress" </li>
        <li><code>selbstkritik-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Selbstkritik" </li>
        <li><code>sorgen-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Grübeln und Sorgen" </li>
        <li><code>sleepcare-id</code>: Verpflichtende TS Form-ID für den Befragungsteil "Schlafbeschwerden" </li>
        <li><code>result-id</code>: Optionale TS Form-ID <i>, wenn Speicherung der Ergebnisse gewünscht</i></li>
    </ul>
    <p>
        Optional kann außerdem ein Link zu einer bestimmten Seite empfohlen werden:
    </p>
    <ul>
        <li><code>empfehlung_url</code>: URL zur Seite mit zusätzlichen Inhalten bei einem Ergebnis im roten Bereich.</li>
    </ul>
    <p>
        Mit dem Attribut <code>empfehlungen</code> können optional die IDs von Trainings angegeben werden, welche als Empfehlung am Ende des Checks aufgeführt werden sollen. Mehrere IDs müssen durch <code>;</code> getrennt werden.
    </p>
    <p>
        Das Attribut <code>titel</code> kann optional benutzt werden, um der Seite einen eigenen Titel zu geben.
    </p>
    <p>
        Über das Attribut <code>start</code> kann optional ein direkter Start des Selbst-Checks bei Seitenaufruf aktiviert werden.
    </p>
</div>