<div class="modal fade" id="usereditModal" tabindex="-1" role="dialog" aria-labelledby="usereditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="usereditModalLabel">Account von &laquo;{{listuser.name}}&raquo; bearbeiten</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="useredit-form">
                    <input type="hidden" id="input-field-userid" value="{{listuser.id}}">
                    {% if not hideMails %}
                      <div class="form-group">
                        <label class="label-above"  for="input-field-mail"><h4>E-Mail:</h4></label>
                        <input type="email" class="form-control" id="input-field-mail" name="email" value="{{listuser.mail}}" placeholder="E-Mail" required>
                        <span class="invalid-feedback d-none">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
                      </div>
                    {% endif %}
                    
                      <div class="form-group">
                        <label class="label-above"  for="input-field-studienid"><h4>Studienteilnehmer-ID:</h4></label>
                        <input type="text" class="form-control" id="input-field-studienid" name="studienid"  value="{{listuser.studienid}}" placeholder="Studienteilnehmer-ID">
                      </div>
                      <div class="form-group">
                        <label class="label-above"  for="input-field-studiengruppenid"><h4>Studiengruppen-ID:</h4></label>
                        <input type="text" class="form-control" id="input-field-studiengruppenid" name="studiengruppenid"  value="{{listuser.studiengruppenid}}" placeholder="Studiengruppen-ID">
                      </div>
                    
                      <div class="form-group">
                        <label class="label-above" for="selectbox-trainer"><h4>Coach:</h4></label>
                        <select class="form-control" id="selectbox-trainer" name="selectbox-trainer">
                            <option value="">-</option>
                            {% for trainer in trainers %}
                                {% if mentor.ID == trainer.ID %}
                                    <option value="{{trainer.ID}}" selected>{{trainer.display_name}}</option>
                                {% else %}
                                    <option value="{{trainer.ID}}">{{trainer.display_name}}</option>
                                {% endif %}
                          {% endfor %}
                        </select>
                      </div>

                      <div class="form-group">
                        <label class="label-above" for="input-field-userInactivity">
                          <h4>User Inaktivität:</h4>
                        </label>
                        <input type="number" class="form-control" id="input-field-userInactivity" name="userInactivity" value="{{userInactivity}}" placeholder="Tage" min="1">
                        <small>Anzahl der Tage bis der User als inaktiv gilt. Überschreibt ggf. globale Einstellung für diese Plattform.</small>
                      </div>

                      <h4>Demo-Training:</h4>
                      <div class="form-check d-flex align-items-center" id="cansave-form">
                        <input name="cansave-checkbox" class=" form-check-input cansave-checkbox" type="checkbox" id="cansave-checkbox-id" {% if canSave %} checked="checked" {% endif %} data-id="{{ listuser.id }}">                
                        <label class="form-check-label pl-3" for="cansave-checkbox">User darf Inhalte in der Datenbank speichern</label>
                      </div>

                      {% if userCanGivePermissions %}
                        <h4>Berechtigungen:</h4>
                        {% for role in allroles %}
                          {% if userCanGivePermissionsAll or (userCanGivePermissionsBoss and role.getId() == "boss") or (userCanGivePermissionsTeamleader and role.getId() == "teamLeader") or (userCanGivePermissionskAdmin and role.getId() == "kAdmin") %}
                            <div class="form-check {% if not loop.last %}mb-3{% endif %} d-flex align-items-center">
                              <input class="form-check-input permission-checkbox" type="checkbox" value="{{ role.getId() }}" id="checkbox-{{ role.getId() }}" {% if role.getId() in user_roles %}checked{% endif %}>
                              <div class="col-11 pl-3">
                                <label class="form-check-label" for="checkbox-{{ role.getId() }}">
                                  {{ role.getTitle() }}<br>
                                  <span class="text-muted"><small>{{role.getDescription() }}</small></span>
                                </label>
                              </div>
                            </div>
                          {% endif %}
                        {% else %}
                          <div class="alert alert-info" role="alert">
                            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                            <p class="mb-0">
                              Es sind noch keine Berechtigungsrollen vorhanden, die vergeben werden können.
                            </p>
                          </div>
                        {% endfor %}
                      {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                {% if status_string != "" %}
                <div class="alert alert-warning pull-left text-left" style="width: 100%">
                  <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                  <p>
                        Der User ist noch im Systems als {{status_string}} hinterlegt. Bitte tragen Sie dafür Sorge, dass die Nachfolge des Users geregelt ist, damit die Funktionen aller involvierten Personen erhalten bleiben.
                    </p>
                </div>
                {% endif %}
                {% if listuser.id == 1 %}
                <div class="alert alert-warning pull-left text-left" style="width: 100%">
                  <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                  <p>
                        Sie löschen den User mit der ID 1. Dieser User hat innerhalb des WordPress-Systems wichtige Funktionen, die mit dem Löschen verloren gehen. Löschen Sie diesen User nur, wenn Sie wissen was Sie tun.
                    </p>
                </div>
                {% endif %}

                    <button id="deleteuser-button" type="button" class="mr-auto btn btn-danger deleteuserbutton">Account löschen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button id="usereditsave-button" type="button" class="btn btn-primary usereditsave">Speichern</button>
            </div>
        </div>
    </div>
</div>

<script>
var user_list_link = '{{user_list_link}}';
</script>