<p class="description description-wide">
    <label for="tspv2-menu-item-button-sgid-{{ itemid }}">
        Für Studiengruppen-ID ausblenden:
    </label>
    <select id="tspv2-menu-item-button-sgid-{{ itemid }}" class="widefat" 
        name="tspv2-menu-item-button-sgid[{{ itemid }}][]" multiple style="margin: 5px 0; padding: 3px;">
        {% for sg in studiengruppen %}
            <option value="{{ sg }}" {% if sg in checked %}selected{% endif %}>{{ sg }}</option>
        {% endfor %}
    </select>
    <small>
        Mittels CMD/Strg und Klick können mehrere Studiengruppen ausgewählt werden
    </small>
</p>