<p class="description description-wide">
    <label for="tspv2-menu-item-button-loggedin-{{ itemid }}">
        <input type="checkbox" id="tspv2-menu-item-button-loggedin-{{ itemid }}"
            name="tspv2-menu-item-button-loggedin[{{ itemid }}]" {{ checked }}>Nur im eingeloggten Zustand anzeigen
    </label>
</p>