<p class="description description-wide">
    <label for="tspv2-menu-item-button-demouser-{{ itemid }}">
        <input type="checkbox" id="tspv2-menu-item-button-demouser-{{ itemid }}"
            name="tspv2-menu-item-button-demouser[{{ itemid }}]" {{ checked }}>Für Demo-User ausblenden
    </label>
</p>