.wrapper-admin-backend {
  @import '../external/bootstrap-4/bootstrap';
  @import 'basic.scss';

  li input[type="radio"],
  li:not(.formlist) input[type="checkbox"] {
    height: 1em !important;
    margin-top: unset !important;
  }

  .tooltip .arrow {
    margin-left: unset !important;
  }
}

// .wrapper-admin-backend input[type="checkbox"]{
//   margin-top: 0.15em!important;
// }

button.btn.btn-link {
  padding-left: 0;
  color: black;
  font-size: 1.15em;
}

/*Trainingssystem Logo:*/
.toplevel_page_trainingssystem-plugin-v2 .wp-menu-image img {
  width: 60% !important;
  opacity: 1 !important;
  padding: 4px 0 0 0 !important;
}


#wp-admin-bar-admin_bar_menu_pluginname .ab-item img {
  width: 8% !important;
  vertical-align: middle;
  margin-bottom: 3%;
}

.marginbottom10 {
  margin-bottom: 10px;
}

#radioButtonsTable:not(.proUser) tr th:nth-child(4),
#radioButtonsTable:not(.proUser) tr th:nth-child(5),
#radioButtonsTable:not(.proUser) tr th:nth-child(6),
#radioButtonsTable:not(.proUser) tr td:nth-child(4),
#radioButtonsTable:not(.proUser) tr td:nth-child(5),
#radioButtonsTable:not(.proUser) tr td:nth-child(6) {
  display: none;
}

#radioButtonsTable.proUser tr th:nth-child(4),
#radioButtonsTable.proUser tr th:nth-child(5),
#radioButtonsTable.proUser tr th:nth-child(6),
#radioButtonsTable.proUser tr td:nth-child(4),
#radioButtonsTable.proUser tr td:nth-child(5),
#radioButtonsTable.proUser tr td:nth-child(6) {
  display: table-cell;
}

// Modal Backdrop must be outside .wrapper-admin-backend because it is attatched to the body directly
.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.fade {
  transition: opacity .15s linear;
}

.modal {
  z-index: 9999 !important;
}

.column-formulare_id {
  width: 70px;
}

label.form-check-label.trainings-options-label{
  font-size: inherit; 
}