<div class="wrapper-admin-backend">
    <div class="d-inline">
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#backend-import-ts-form-modal">Formular(e) importieren</button>
    </div>
    <div class="modal fade" id="backend-import-ts-form-modal" tabindex="-1" role="dialog" aria-labelledby="importTsFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importTsFormModalLabel">Formular(e) importieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="white-space: normal;">Hier kann ein exportiertes Formular als JSON-Datei in das System importiert werden.<br>Es können auch mehrere Dateien auf einmal hochgeladen werden.</p>
                    <div class="form-group">
                        <label for="importTsFormModalFile" class="ml-0 mb-1">Datei:</label>
                        <div class="input-group d-flex align-items-stretch">
                            <input type="file" class="form-control h-auto p-1" id="importTsFormModalFile" accept="application/json" multiple>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="importTsFormClearButton"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" id="backend-import-ts-form-confirm">Importieren</button>
                </div>
            </div>
        </div>
    </div>
</div>