<div class="wrapper-admin-backend">
    <div class="modal fade" id="saveOnceHelpModal" tabindex="-1" role="dialog" aria-labelledby="saveOnceHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveOnceHelpModalLabel">Speichermodus - Einmaliges Speichern</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Ist diese Option ausgewählt, so kann das Formular nur ein einziges Mal pro User gespeichert werden. 
                        Danach wird das Formular als "disabled" ausgegeben, sodass die Eingaben noch betrachtet werden können.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>