<div class="wrapper-admin-backend">
    <div class="modal fade" id="deleteDataModal" tabindex="-1" role="dialog" aria-labelledby="deleteDataModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDataModalLabel">Löschen von Daten bestätigen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="d-none formdelete">
                        Möchten Sie alle Nutzereingaben aller Formularfelder wirklich <b>unwiderruflich</b> löschen?
                    </p>
                    <p class="d-none fielddelete">
                        Möchten Sie alle Nutzereingaben dieses Formularfelds wirklich <b>unwiderruflich</b> löschen?
                    </p>
                    <p>
                        Sie können die Daten davor im <a href="{{ dataexport_url }}" target="_blank">Datenexport</a> herunterladen.
                    </p>
                    <input type="hidden" id="backend-form-delete-data-formid" value="">
                    <input type="hidden" id="backend-form-delete-data-fieldid" value="">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Abbrechen</button>
                    <button class="btn btn-danger" type="button" id="deleteDataModalConfirm"><i class="fas fa-user-times"></i>&nbsp;Daten löschen</button>
                </div>
            </div>
        </div>
    </div>
</div>