<div class="wrapper-admin-backend">
    <div class="modal fade" id="normaldataHelpModal" tabindex="-1" role="dialog" aria-labelledby="normaldataHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="normaldataHelpModalLabel">Speichermodus - Normaler Modus</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Dies ist der Standard für Formulare.<br>
                        Die jeweils aktuellsten Eingaben des Benutzers werden gespeichert und dem Nutzer in den Eingabefeldern beim nächsten Seitenaufruf wieder angezeigt.<br>
                        Diese Eingaben können mit konventionellen Shortcodes wie <code>[coach_output_format_data]</code> ausgegeben werden.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>