<div class="form-group">
    <label class="mb-2 mx-0 mt-0" for="textareaLabel">Label:</label>
    <input type="text" class="form-control newFormFieldInput" id="textareaLabel" placeholder="Label"
        value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['label'] }}{% endif %}">
</div>
<div class="accordion" id="textareaAccordion">
    <div class="card m-0 p-0 mw-100">
        <div class="card-header py-1" id="textareaHeading">
            <h6 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#textareaOptions"
                    aria-expanded="false" aria-controls="textareaOptions">
                    <i class="fas fa-plus ts-accordion-plus"></i>Weitere Optionen
                </button>
            </h6>
        </div>
    
        <div id="textareaOptions" class="collapse" aria-labelledby="textareaHeading" data-parent="#textareaAccordion">
            <div class="card-body">
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaLabelPosition">Position des Labels:</label>
                    <select class="form-control newFormFieldInput" size="1" id="textareaLabelPosition">
                        <option value="left" {% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "left" %}selected{% endif %}>Linksbündig</option>
                        <option value="center"{% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "center" %}selected{% endif %}>Zentriert</option>
                        <option value="right"{% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "right" %}selected{% endif %}>Rechtsbündig</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaPlaceholder">Platzhalter:</label>
                    <input type="text" class="form-control newFormFieldInput" id="textareaPlaceholder" placeholder="Platzhalter"
                        value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['placeholder'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaMaxlength">maximale Länge:</label>
                    <input type="number" min="0" step="1" class="form-control newFormFieldInput" id="textareaMaxlength"
                        placeholder="maximale Länge" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['maxlength'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaRows">Zeilen:</label>
                    <input type="number" min="0" step="1" class="form-control newFormFieldInput" id="textareaRows"
                        placeholder="Zeilen" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['rows'] }}{% endif %}">
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaCss">CSS Klassen:</label>
                    <input type="text" class="form-control newFormFieldInput" id="textareaCss" placeholder="CSS-Klassen"
                        aria-describedby="textareaCssHelp" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['css'] }}{% endif %}">
                    <small id="textareaCssHelp" class="form-text text-muted">Mehrere Klassen durch Leerzeichen getrennt.
                        Beispielsweise &laquo;col-12 col-md-6&raquo;</small>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaParentCss">CSS Klassen für Parent-Container:</label>
                    <input type="text" class="form-control newFormFieldInput" id="textareaParentCss" placeholder="CSS-Klassen"
                        aria-describedby="textareaParentCssHelp" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['parentcss'] }}{% endif %}">
                    <small id="textareaParentCssHelp" class="form-text text-muted">Mehrere Klassen durch Leerzeichen getrennt.
                        Beispielsweise &laquo;col-12 col-md-6&raquo;</small>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="textareaValue">Value:</label>
                    <input type="text" class="form-control newFormFieldInput" id="textareaValue" placeholder="Value"
                        value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['value'] }}{% endif %}">
                </div>
                <div class="form-check pl-0 mb-2  d-flex align-items-center">
                    <input type="checkbox" class="form-check-input position-relative m-0 newFormFieldInput" id="textareaDisabled" style="margin-top: 0 !important;"
                        {% if formfield is not null and formfield.getAttributesJsonDecoded['disabled'] %}checked{% endif %}>
                    <label class="form-check-label m-0 ml-2" for="textareaDisabled">Disabled</label>
                </div>
                <div class="form-check pl-0 mb-2  d-flex align-items-center">
                    <input type="checkbox" class="form-check-input position-relative m-0 newFormFieldInput" id="textareaRequired" style="margin-top: 0 !important;"
                        {% if formfield is not null and formfield.getAttributesJsonDecoded['required'] %}checked{% endif %}>
                    <label class="form-check-label m-0 ml-2" for="textareaRequired">Required</label>
                </div>
            </div>
        </div>
    </div>
</div>