{% if formfield is not null %}
    <h5 class="mb-4">
        <span>
            {% if formfield.type == 'input' %}
                <i class="fas fa-font"></i> Textfeld
            {% elseif formfield.type == 'textarea' %}
                <i class="fas fa-align-justify"></i> Textbox
            {% elseif formfield.type == 'select' %}
                <i class="far fa-caret-square-down"></i> Dropdown
            {% elseif formfield.type == 'radio' %}
                <i class="far fa-dot-circle"></i> Radio-Button
            {% elseif formfield.type == 'checkbox' %}
                <i class="far fa-check-square"></i> Checkbox
            {% elseif formfield.type == 'slider' %}
                <i class="fas fa-sliders-h"></i> Slider
            {% elseif formfield.type == 'text' %}
                <i class="fas fa-paragraph"></i> Text
            {% elseif formfield.type == 'scale' %}
                <i class="fas fa-grip-horizontal"></i> Skala
            {% elseif formfield.type == 'matrix' %}
                <i class="fas fa-th"></i> Matrix
            {% elseif formfield.type == 'upload' %}
                <i class="fas fa-file-upload"></i> Upload
            {% elseif formfield.type == 'upload' %}
                <i class="fas fa-robot"></i> Captcha
            {% endif %}
            (#{{ formfield.fieldid }})
        </span>
    </h5>
    <input type="hidden" id="editFormFieldId" value="{{ formfield.fieldid }}">
    <input type="hidden" id="editFormFieldType" value="{{ formfield.type }}">
    {% if formfield.type == 'input' %}
        {% include "forms/backend-form-assemble-modal-input.html" %}
    {% elseif formfield.type == 'textarea' %}
        {% include "forms/backend-form-assemble-modal-textarea.html" %}
    {% elseif formfield.type == 'select' %}
        {% include "forms/backend-form-assemble-modal-select.html" %}
    {% elseif formfield.type == 'radio' %}
        {% include "forms/backend-form-assemble-modal-radio.html" %}
    {% elseif formfield.type == 'checkbox' %}
        {% include "forms/backend-form-assemble-modal-checkbox.html" %}
    {% elseif formfield.type == 'slider' %}
        {% include "forms/backend-form-assemble-modal-slider.html" %}
    {% elseif formfield.type == 'text' %}
        {% include "forms/backend-form-assemble-modal-text.html" %}
    {% elseif formfield.type == 'scale' %}
        {% include "forms/backend-form-assemble-modal-scale.html" %}
    {% elseif formfield.type == 'matrix' %}
        {% include "forms/backend-form-assemble-modal-matrix.html" %}
    {% elseif formfield.type == 'upload' %}
        {% include "forms/backend-form-assemble-modal-upload.html" %}
    {% elseif formfield.type == 'captcha' %}
        {% include "forms/backend-form-assemble-modal-captcha.html" %}
    {% endif %}
{% else %}
    <div class="alert alert-danger mb-0" role="alert">
        <h5 class="alert-heading"><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
        <p>
            Es wurde kein Fomularfeld gefunden!
        </p>
    </div>
{% endif %}