<div class="wrapper-admin-backend">
    <div class="modal fade" id="nosaveHelpModal" tabindex="-1" role="dialog" aria-labelledby="knosaveHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="knosaveHelpModalLabel">Speichermodus - Keine Formulareingaben speichern</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Ist diese Option ausgewählt, so werden keine Eingaben des Benutzers in diesem Formular gespeichert.<br>
                        Diese Option eignet sich insbesondere für den Versand der Formulareingaben mit E-Mails, bei dem dasselbe Formular mehreren Nutzenden angezeigt wird.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>