<div class="wrapper-admin-backend">
    <div class="modal fade" id="sendReceiptHelpModal" tabindex="-1" role="dialog" aria-labelledby="sendReceiptHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendReceiptHelpModalLabel">E-Mail-Bestätigung versenden</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Diese Funktion ermöglicht das Senden einer E-Mail-Bestätigung über das erfolgreich abgesendete Formular an die ausfüllende Person.<br>
                        Ist die Person angemeldet, so wird die bei der Registrierung angegebene E-Mail-Adresse verwendet. Ist dieses Formular für alle Nutzenden verfügbar, so wird im Formular nach einem Textfeld vom Typ E-Mail gesucht und diese Adresse gewählt. Existiert kein solches Feld oder ist dieses leer/nicht mit einer gültigen E-Mail-Adresse versehen, erfolgt kein Bestätigungsversand. Es erfolgt auch keine Bestätigungsmail bei leerem Betreff und/oder Text.<br>
                        Sie können für diese E-Mail einen Betreff sowie den E-Mail-Text angeben. Für Letzteren können Sie die folgenden HTML-Elemente nutzen:<br>
                        <code>
                            {{ allowed_html|raw }}
                        </code>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>