<div class="form-group">
    <label class="mb-2 mx-0 mt-0" for="uploadLabel">Label:</label>
    <input type="text" class="form-control newFormFieldInput" id="uploadLabel" placeholder="Label" 
        value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['label'] }}{% endif %}">
</div>
<div class="accordion" id="uploadAccordion">
    <div class="card m-0 p-0 mw-100">
        <div class="card-header py-1" id="uploadHeading">
            <h6 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#uploadOptions"
                    aria-expanded="false" aria-controls="uploadOptions">
                    <i class="fas fa-plus ts-accordion-plus"></i>Weitere Optionen
                </button>
            </h6>
        </div>
    
        <div id="uploadOptions" class="collapse" aria-labelledby="uploadHeading" data-parent="#uploadAccordion">
            <div class="card-body">
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="uploadAccept">Datei-Typen:</label>
                    <select class="form-control newFormFieldInput" id="uploadAccept">
                        <option {% if formfield is not null and formfield.getAttributesJsonDecoded['accept'] == "*" %}selected{% endif %} value="*">Alles</option>
                        <option {% if formfield is not null and formfield.getAttributesJsonDecoded['accept'] == "audio/*" %}selected{% endif %} value="audio/*">Audio</option>
                        <option {% if formfield is not null and formfield.getAttributesJsonDecoded['accept'] == "video/*" %}selected{% endif %} value="video/*">Video</option>
                        <option {% if formfield is not null and formfield.getAttributesJsonDecoded['accept'] == "image/*" %}selected{% endif %} value="image/*">Bild</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="uploadLabelPosition">Position des Labels:</label>
                    <select class="form-control newFormFieldInput" size="1" id="uploadLabelPosition">
                        <option value="left" {% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "left" %}selected{% endif %}>Linksbündig</option>
                        <option value="center"{% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "center" %}selected{% endif %}>Zentriert</option>
                        <option value="right"{% if formfield is not null and formfield.getAttributesJsonDecoded['labelPosition'] == "right" %}selected{% endif %}>Rechtsbündig</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="uploadCss">CSS Klassen:</label>
                    <input type="text" class="form-control newFormFieldInput" id="uploadCss" placeholder="CSS-Klassen"
                        aria-describedby="uploadCssHelp" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['css'] }}{% endif %}">
                    <small id="uploadCssHelp" class="form-text text-muted">Mehrere Klassen durch Leerzeichen getrennt.
                        Beispielsweise &laquo;col-12 col-md-6&raquo;</small>
                </div>
                <div class="form-group">
                    <label class="mb-2 mx-0 mt-0" for="uploadParentCss">CSS Klassen für Parent-Container:</label>
                    <input type="text" class="form-control newFormFieldInput" id="uploadParentCss" placeholder="CSS-Klassen"
                        aria-describedby="uploadParentCssHelp" value="{% if formfield is not null %}{{ formfield.getAttributesJsonDecoded['parentcss'] }}{% endif %}">
                    <small id="uploadParentCssHelp" class="form-text text-muted">Mehrere Klassen durch Leerzeichen getrennt.
                        Beispielsweise &laquo;col-12 col-md-6&raquo;</small>
                </div>
                <div class="form-check pl-0 mb-2  d-flex align-items-center">
                    <input type="checkbox" class="form-check-input position-relative m-0 newFormFieldInput" id="uploadDisabled" style="margin-top: 0 !important;"
                        {% if formfield is not null and formfield.getAttributesJsonDecoded['disabled'] %}checked{% endif %}>
                    <label class="form-check-label m-0 ml-2" for="uploadDisabled">Disabled</label>
                </div>
                <div class="form-check pl-0 mb-2  d-flex align-items-center">
                    <input type="checkbox" class="form-check-input position-relative m-0 newFormFieldInput" id="uploadRequired" style="margin-top: 0 !important;"
                        {% if formfield is not null and formfield.getAttributesJsonDecoded['required'] %}checked{% endif %}>
                    <label class="form-check-label m-0 ml-2" for="uploadRequired">Required</label>
                </div>
            </div>
        </div>
    </div>
</div>