<div class="wrapper-admin-backend">
    <div class="modal fade" id="multiformHelpModal" tabindex="-1" role="dialog" aria-labelledby="multiformHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="multiformHelpModalLabel">MultiForms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        MultiForms sind Formulare, die auch nach Laden der Webseite noch mit einem entsprechenden Button um weitere Felder erweitert werden können. 
                    </p>
                    <img class="img-fluid" src="{{multiform_help_img}}" alt="Multiform nebeneinander Beispiel">
                    <p>
                        Bei Aktivierung der Option Multiform-Sortierung kann von den Nutzenden die Reihenfolge der Zeilen manuell verändert werden.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>