<div class="wrapper-admin-backend">
    <div id="backend-forms-pages-list" class="py-2">
        <i>Bitte bei Bedarf Daten abrufen.</i>
    </div>
    <input type="hidden" id="backend-forms-pages-formid" value="{{id}}">
    <button type="button" class="btn btn-primary my-3" id="backend-forms-pages-button" >Daten abrufen</button>
</div>