<div class="wrapper-admin-backend">
    <div class="modal fade" id="keepdataHelpModal" tabindex="-1" role="dialog" aria-labelledby="keepdataHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="keepdataHelpModalLabel">Speichermodus - Alle Formulareingaben behalten</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Ist diese Option ausgewählt, so werden alle Eingaben des Benutzers in diesem Formular gespeichert und nicht automatisch überschrieben.<br>
                        Der Benutzer sieht in seiner Ansicht aber trotzdem diese Werte nicht.<br>
                        Besondere Shortcodes sind nötig um diese Daten auszugeben.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>