<div class="wrapper-admin-backend">
    <div class="modal fade" id="submitmanuallyHelpModal" tabindex="-1" role="dialog" aria-labelledby="submitmanuallyHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitmanuallyHelpModalLabel">Formulareingaben manuell absenden</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Durch Nutzung dieser Funktion wird ein Button zum Speichern der Eingaben integriert. Die Speicherung wird für dieses Formular dann nicht automatisch durchgeführt, sondern erst nach Betätigung des Buttons. 
                        Standardmäßig verbleibt der User nach dem Absenden auf der Seite. Es kann aber im folgenden Feld auch eine URL eingetragen werden, zu der nach dem Absenden weitergeleitet werden soll.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>