<div class="wrapper-admin-backend">
    <div class="d-flex">
        <div class="alert alert-warning mb-0" role="alert">
            <p>
                Der 1. Schritt ist die Eingabe eines Titels.
            </p>
        </div>
    </div>
</div>