<div class="wrapper-admin-backend">
    <div class="modal fade" id="sendbymailHelpModal" tabindex="-1" role="dialog" aria-labelledby="sendbymailHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendbymailHelpModalLabel">Formulareingaben per E-Mail versenden</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Nutzen Sie den Shortcode <code>[ts_forms_submit]</code> zum manuellen Absenden mehrerer Formulare oder aktivieren Sie die Option &bdquo;Formulareingaben manuell absenden&rdquo; für dieses Formular.
                        <br>
                        Neben dem Versenden per E-Mail werden die Eingaben für angemeldete User standardmäßig auch gespeichert, was jedoch über die entsprechende Checkbox auszuschalten ist.
                        Diese Funktion sollte sehr achtsam und wenn möglich nur temporär eingesetzt werden, da die Daten ungefiltert verschickt werden und die Gefahr einer missbräuchlichen Verwendung besteht.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>