<html>
    <head>
        <title>Eingabe in das Formular {{ formtitle }} auf {{ blogname }}</title>
    </head>
    <body>
        <p>
            Guten Tag,<br><br>
            es wurde im Formular {{ formtitle }} auf {{ blogname }} eine Eingabe getätigt:<br><br>
            {% for formgroupdata in formdata %}
                {% for fieldid, value in formgroupdata %}
                    {% if formfields[fieldid].getAttributesJsonDecoded()['label'] is not empty %}
                        <b>{{ formfields[fieldid].getAttributesJsonDecoded()['label'] }}:</b>
                    {% endif %}
                    {% if value is iterable %}
                        {% for v in value %}
                            {{ v }}<br>
                        {% endfor %}
                        <br>
                    {% else %}
                        {{ value }}<br><br>
                    {% endif %}
                {% endfor %}
                {% if formdata|length > 1 and not loop.last %}
                    <hr><br>
                {% endif %}
            {% endfor %}
            <br><br>
            -------------------------<br>
            Diese E-Mail wurde automatisch generiert. Bitte antworten Sie nicht hierauf.
        </p>
    </body>
</html>