<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode wurde nicht korrekt benutzt.
    </p>
    <p>
        Der Parameter <code>id</code> ist nicht gesetzt oder die ID ist kein gültiges TS Formular.
    </p>
</div>