<div class="ts-forms-form-{{ formid }} {% if usermodus %}usermodus-active{% endif %}">
    {% if keepdata %} {# keepdata does not output the previously entered values to the user, so pretend to not have any value stored! #}
        {% include "forms/form-fields.html" with {"formfields": groups[0], "index": 0, "formid": formid, "form_css": form_css, "is_multiform": is_multiform, "multiform_orientation": multiform_orientation, "keepdata": keepdata} %}
    {% else %}
        {% for index, formfields in groups %}
            {% include "forms/form-fields.html" with {"formfields": formfields, "index": index, "formid": formid, "form_css": form_css, "is_multiform": is_multiform, "multiform_orientation": multiform_orientation, "keepdata": keepdata} %}
        {% endfor %}
    {% endif %}
    {% if is_multiform %}
        <div class="col-12 p-0">
            <button type="button" data-formid="{{ formid }}" class="btn btn-info ts-forms-multiformbutton mb-5"
            {% if preview or saveOnceDisable %}
                disabled
            {% endif %}
            ><i class="fas fa-plus"></i></button>
        </div>
        {% if submitmanually  %}
            <div class="col-12 p-0">
                <button type="button" class="btn btn-primary mb-3 ts-forms-submitmanually" style="height: fit-content;" 
                data-tsformsidentifier=".ts-forms-element-{{formid}}" data-tsformslink="{{submitmanuallylink}}"
                {% if preview %}
                    disabled
                {% endif %}
                >Absenden</button>
            </div>
        {% endif %}
    {% endif %}
</div>