<div class="form-group {{ field.getAttributesJsonDecoded()['parentcss'] }} {% if is_multiform and multiform_orientation == 'next' %}col px-1{% endif %}">
    {% if field.getAttributesJsonDecoded()['label'] is not empty %}
        <label for="tsform-field-{{ field.fieldid }}-{{ index }}" class="ts-forms-label w-100 
        {% if field.getAttributesJsonDecoded()['labelPosition'] == "center" %}text-center{% elseif field.getAttributesJsonDecoded()['labelPosition'] == "right"%}text-right{% else %}text-left{% endif %}"
        >{{ field.getAttributesJsonDecoded()['label'] }}</label>
    {% endif %}
    <textarea id="tsform-field-{{ field.fieldid }}-{{ index }}"
    placeholder="{{ field.getAttributesJsonDecoded()['placeholder'] }}"
    maxlength="{{ field.getAttributesJsonDecoded()['maxlength'] }}"
    class="ts-forms-element{% if submitmanually %}-{{ formid }}{% endif %} form-control {{ field.getAttributesJsonDecoded()['css'] }}"
    rows="{{ field.getAttributesJsonDecoded()['rows'] }}"
    data-fieldid="{{ field.fieldid }}"

    {% if field.getAttributesJsonDecoded()['required'] %}
        required
    {% endif %}
    {% if field.getAttributesJsonDecoded()['disabled'] or usermodus or saveOnceDisable %}
        disabled
    {% endif %}
    
    {% if field.getFormdata() is not empty and not keepdata %}
    >{{ field.getFormdata().getData() }}</textarea>
    {% elseif field.getAttributesJsonDecoded()['value'] is not empty %}
    >{{ field.getAttributesJsonDecoded()['value'] }}</textarea>
    {% else %}
    ></textarea>
    {% endif %}
    {% if field.getAttributesJsonDecoded()['required'] %}
        <span class="help-block text-danger d-none">Dieses Feld muss ausgefüllt werden.</span>
    {% endif %}
    {% if saveOnceDisable %} 
        <span class="help-block text-muted">Sie haben dieses Formular am {{ saveOnceDate|date("d.m.Y") }} um {{ saveOnceDate|date("H:i") }} Uhr bereits gespeichert.</span>
    {% endif %}
</div>