<div class="form-group {{ field.getAttributesJsonDecoded()['parentcss'] }} {% if is_multiform and multiform_orientation == 'next' %}col px-1{% endif %}">
    {% if field.getAttributesJsonDecoded()['title'] is not empty %}
        <label class="ts-forms-label w-100">{{ field.getAttributesJsonDecoded()['title'] }}</label>
    {% endif %}
    {% for key, el in field.getAttributesJsonDecoded()['elements'] %}
        <div class="form-check {% if field.getAttributesJsonDecoded()['inline'] %}form-check-inline{% else %}d-flex align-items-center{% endif %} {{ field.getAttributesJsonDecoded()['formCheckCss'] }}">
            <input class="ts-forms-element{% if submitmanually %}-{{ formid }}{% endif %} form-check-input {{ el['css'] }}" 
            type="radio" 
            name="tsform-field-{{ field.fieldid }}-{{ index }}" 
            id="tsform-field-{{ field.fieldid }}-{{ key }}-{{ index }}" 
            value="{{ el['value'] }}"
            data-fieldid="{{ field.fieldid }}"

            {% if field.getAttributesJsonDecoded()['required'] %}
                required
            {% endif %}
            {% if el['disabled'] or usermodus or saveOnceDisable %}
                disabled
            {% endif %}
            {% if el['selected'] or (field.getFormdata() is not empty and field.getFormdata().getData() == el['value'] and not keepdata) %}
                checked
            {% endif %}
            >
            <label for="tsform-field-{{ field.fieldid }}-{{ key }}-{{ index }}" class="form-check-label ts-forms-label ml-2 
            {% if not field.getAttributesJsonDecoded()['inline'] %}w-100 {% if field.getAttributesJsonDecoded()['labelPosition'] == "center" %}text-center{% elseif field.getAttributesJsonDecoded()['labelPosition'] == "right" %}text-right{% else %}text-left{% endif %}{% else %}mr-2{% endif %}"
            >{{ el['text'] }}</label>
        </div>
    {% endfor %}
    {% if field.getAttributesJsonDecoded()['required'] %}
        <span class="help-block text-danger d-none">Ein Radio-Button muss ausgewählt werden.</span>
    {% endif %}
    {% if saveOnceDisable %} 
        <span class="help-block text-muted">Sie haben dieses Formular am {{ saveOnceDate|date("d.m.Y") }} um {{ saveOnceDate|date("H:i") }} Uhr bereits gespeichert.</span>
    {% endif %}
</div>