<div class="form-group {{ field.getAttributesJsonDecoded()['parentcss'] }} {% if field.getAttributesJsonDecoded()['inline'] %}d-inline-block {% endif %}{% if is_multiform and multiform_orientation == 'next' %}col px-1{% endif %}">
    <div class="form-check d-flex align-items-center">
        <input class="ts-forms-element{% if submitmanually %}-{{ formid }}{% endif %} form-check-input {{ field.getAttributesJsonDecoded()['css'] }}" 
        type="checkbox"
        id="tsform-field-{{ field.fieldid }}-{{ index }}" 
        value="{{ field.getAttributesJsonDecoded()['value'] }}"
        data-fieldid="{{ field.fieldid }}"

        {% if field.getAttributesJsonDecoded()['disabled'] or usermodus or saveOnceDisable %}
            disabled
        {% endif %}
        {% if field.getAttributesJsonDecoded()['selected'] or (field.getFormdata() is not empty and field.getFormdata().getData() == field.getAttributesJsonDecoded()['value'] and not keepdata) %}
            checked
        {% endif %}
        >
        <label for="tsform-field-{{ field.fieldid }}-{{ index }}" class="form-check-label ts-forms-label ml-2
        {% if not field.getAttributesJsonDecoded()['inline'] %}w-100 {% if field.getAttributesJsonDecoded()['labelPosition'] == "center" %}text-center{% elseif field.getAttributesJsonDecoded()['labelPosition'] == "right" %}text-right{% else %}text-left{% endif %}{% else %}mr-2{% endif %}"
        >{{ field.getAttributesJsonDecoded()['label'] }}</label>
    </div>
    {% if saveOnceDisable %} 
        <span class="help-block text-muted">Sie haben dieses Formular am {{ saveOnceDate|date("d.m.Y") }} um {{ saveOnceDate|date("H:i") }} Uhr bereits gespeichert.</span>
    {% endif %}
</div>