{% if not is_multiform %}
    {{ field.getAttributesJsonDecoded()['pretext']|raw }}
    <div class="form-group {{ field.getAttributesJsonDecoded()['parentcss'] }}">
        {% if field.captchaData is null %}
            <div class="input-group">
                <div class="alert alert-warning mb-0 d-flex justify-content-center align-items-center border border-right-0" style="width: {{ field.getAttributesJsonDecoded()['width'] }}px; height: {{ field.getAttributesJsonDecoded()['height'] }}px">
                    <h5 class="m-0"><i class="fas fa-robot"></i>&nbsp;Captcha</h5>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary ts-forms-captcha-reload" type="button" data-toggle="tooltip" title="Captcha neu laden"><i class="fas fa-redo"></i></button>
                </div>
            </div>
        {% else %}
            <div class="input-group">
                <img src="{{ field.captchaData }}" class="mb-0 border border-right-0 ts-forms-captcha-image {{ field.getAttributesJsonDecoded()['imagecss'] }}" style="max-width: {{ field.getAttributesJsonDecoded()['width'] }}px">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary ts-forms-captcha-reload" type="button" data-toggle="tooltip" title="Captcha neu laden" data-fieldid="{{ field.fieldid }}"><i class="fas fa-redo"></i></button>
                </div>
            </div>
        {% endif %}
        <div class="{{ field.getAttributesJsonDecoded()['innercss'] }}">
            {% if field.getAttributesJsonDecoded()['label'] is not empty %}
                <label for="tsform-field-{{ field.fieldid }}-{{ index }}" class="ts-forms-label w-100 align-self-center 
                {% if field.getAttributesJsonDecoded()['labelPosition'] == "center" %}text-center{% elseif field.getAttributesJsonDecoded()['labelPosition'] == "right"%}text-right{% else %}text-left{% endif %}"
                >{{ field.getAttributesJsonDecoded()['label'] }}</label>
            {% endif %}
            <input id="tsform-field-{{ field.fieldid }}-{{ index }}"
            type="text"
            placeholder="{{ field.getAttributesJsonDecoded()['placeholder'] }}"
            class="ts-forms-element{% if submitmanually %}-{{ formid }}{% endif %} align-self-center form-control {{ field.getAttributesJsonDecoded()['css'] }} ts-forms-captcha"
            data-fieldid="{{ field.fieldid }}"
            required>
            <span class="help-block text-danger d-none mt-2">Bitte lösen Sie das Captcha.</span>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
        <p>
            Der Formularfeld-Typ Captcha ist nicht für die Verwendung mit MultiForms vorgesehen!<br>
            Deaktivieren Sie die Option MultiForm für das Formular #{{ formid }} in den Einstellungen im WordPress Backend.
        </p>
    </div>
{% endif %}