<button class="btn btn-primary mx-1 mb-3 tsformsSubmitButton {{ css }}" data-link="{{ link }}" 
    {% if extendedfeedback %}
        data-extendedfeedback="true" data-extendedfeedbackModalid="{{ rand }}" data-extendedfeedbacktext="{{ extendedfeedbacktext }}" data-extendedfeedbacktextfail="{{ extendedfeedbacktext_fail }}"
    {% else %}
        data-extendedfeedback="false"
    {% endif %}>
    {{ text }}
</button>
{% if extendedfeedback %}
    <div class="modal" id="tsformsExtendedFeedbackModal-{{ rand }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center">
                    <h1 class="display-1" id="tsformsExtendedFeedbackModal-{{ rand }}-icon"> </h1>
                    <h1 class="tsformsExtendedFeedbackModalText"></h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}