<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode für <code>[ts_forms_conditional]</code> wurde nicht korrekt benutzt. Für weitere Informationen können Sie das Wiki konsultieren.
    </p>
        <p>
            Entweder ist der Parameter <code>tsformid</code> nicht gesetzt oder die TS-Form-ID ist kein gültiges Formular.<br>
            Vielleicht haben Sie auch vergessen den Wert <code>value</code>, <code>range_min</code> und  <code>range_max</code> oder <code>row</code> anzugeben, der beschreibt auf welchen Wert die Bedingung geprüft werden soll. Dabei funktioniert die Bereichsabfrage nur mit Slidern, die Angabe der Zeile funktioniert nur mit Skala und Matrix.<br>
            Oder der Inhalt des Shortcodes ist leer. Achten Sie hierzu auf den zweiteiligen Shortcode wie im Beispiel gezeigt.
        </p>
 
       <p>
            Ein gültiger Shortcode ist beispielsweise:
       </p>
       <p>
        <code>
                [ts_forms_conditional tsformid='123' value='1']<br>
                &nbsp;&nbsp;&nbsp;Dieser Wert wird angezeigt, wenn das erste Feld des TS Forms mit der ID 123 vom User mit dem Wert 1 ausgefüllt wurde.<br>
                [/ts_forms_conditional]
        </code>
       </p>   
        <p>
            Oder für einen Wertebereich (funktioniert nur für einen Slider):
        </p>
        <p>
         <code>
            [ts_forms_conditional tsformid='123' range_min='0' range_max='33']<br>
            &nbsp;&nbsp;&nbsp;Dieser Wert wird angezeigt, wenn das erste Feld des TS Forms mit der ID 123 vom User mit dem Wert zwischen 0 (einschl.) und 33 (einschl.) ausgefüllt wurde.<br>
            [/ts_forms_conditional]
        </code>
        </p>
        <p>
            Oder für eine Skala oder Matrix mit Angabe der zu überprüfenden Zeile:
        </p>
        <p>
         <code>
            [ts_forms_conditional tsformid='123' value='1' row='3']<br>
            &nbsp;&nbsp;&nbsp;Dieser Wert wird angezeigt, wenn das die 3. Zeile der Skala/Matrix vom User mit dem Wert 1 ausgefüllt wurde.<br>
            [/ts_forms_conditional]
        </code>
        </p>
</div>