<table id="coach_output_gbu_{{id}}" class="company-table-groupresult">
    <tbody>
        {% for tablerow in table %}
            <tr>
                <td class="p-3"><p class="mb-0"><b>{{tablerow.groupname}}</b></p></td>
                <td class="p-3" style="background-color:#{{tablerow.bgcolor}}"><p class="mb-0">{{tablerow.value}}</p></td>
            </tr>
        {% endfor %}
    </tbody>
</table>