<table id="coach_output_gbu_{{id}}" class="company-table-group">
    <thead>
        {% include "company/company-table-header.html" %}
    </thead>
    <tbody>
        {% for row in table.rows %}
            {% if row.tooless == true %}
                <tr class="company-table-group-colspan">
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.label}}</p>
                    </td>
                    <td colspan="6" class="align-middle p-3 company-table-tooless">
                        <p class="m-0">{{row.value}}</p>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.label}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.a1}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.a2}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.a3}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.a4}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.a5}}</p>
                    </td>
                    <td class="align-middle p-3">
                        <p class="m-0">{{row.summe}}</p>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
                <tr class="company-table-group-colspan">
                    <td class="align-middle p-3">
                        <p class="m-0"><b>Berechnung des Mittelwerts:</b></p></td>
                    </td>
                    <td class="align-middle p-3" colspan="6" style="background-color: #{{table.bgcolor}}">
                        <p class="m-0"><b>{{table.value}}</b></p>
                    </td>
                </tr>
    </tbody>
</table>