<div>
    <input type="hidden" value="{{id}}"></input>
    <button id="forwardContentButton_{{id}}" class="btn btn-primary forwardcontent-button mb-4" {% if forwarded %}style="display: none;"{% endif %}>Inhalt freigeben</button>
    <button id="forwardContentButtonReset_{{id}}" class="btn btn-secondary forwardcontent-button-reset mb-4" {%if not forwarded %}style="display: none;"{% endif %}>Freigabe aufheben</button>
</div>

{% if forwarded %}
<script>
    jQuery(document).ready(function(){
        jQuery('[data-formid='+{{id}}+']').addClass("form-frame");
    });
</script>
{% endif %}