<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Der Shortcode <code>[tspv2_coach_output_gbu_mittelwerte]</code> wurde möglicherweise falsch verwendet. Die folgenden Attribute werden vom Shortcode erwartet:
    </p>
    <ul>
        <li><code>ids</code>: Mit diesem Attribut müssen eine oder mehrere TS Form-IDs angegeben werden. Mehrere IDs müssen mit einem <code>,</code> getrennt angegeben werden.</li>
        <li><code>scales</code>: Mit diesem Attribut müssen eine oder mehrere Bezeichnungen von Skalen angegeben werden. Mehrere Bezeichnungen müssen mit einem <code>|</code> getrennt angegeben werden. Die Anzahl an Bezeichnungen muss mit der Anzahl der in <code>ids</code> angegeben TS Form-IDs übereinstimmen.</li>
    </ul>

    <p>
        Folgende Attribute können optional für diesen Shortcode genutzt werden:
    </p>

    <ul>
        <li><code>show_tables</code>: Mit diesem Attribut kann festgelegt werden, welche Tabellen ausgegeben werden sollen. Es stehen die Werte "scales" (Mittelwerte der Skalen), "subscales" (Mittelwerte der Subskalen), "items" (Mittelwerte der Items) und "all" (alle Tabellen) zur Auswahl. 
            Mehrere Werte müssen durch <code>,</code> getrennt angegeben werden. Standardmäßig werden alle Tabellen dargestellt.</li>
        <li><code>mode</code>: Mit diesem Attribut kann die Polarität für jede Skala festgelegt werden. Es stehen die Werte "+-" (positiv zu negativ), "-+" (negativ zu positiv) und "" (keine Polarität) zur Auswahl. Mehrere Werte müssen durch <code>,</code> getrennt angegeben werden. Die Position jedes Werts im Attribut <code>mode</code> entspricht hierbei der Position einer Skala in <code>ids</code>.</li>
        <li><code>showpdfdownload</code>: Mit diesem Attribut kann durch Setzen auf den Wert "1" ein Download-Link eingefügt werden, über den die Ergebnisse als PDF heruntergeladen werden können.</li>
        <li><code>pdfdownloadtitle</code>: Mit diesem Attribut kann eine Beschriftung für den Download-Link gewählt werden, welcher mit <code>showpdfdownload</code> eingefügt wurde. Standardmäßig wird "Auswertung als PDF herunterladen" als Beschriftung ausgegeben.</li>
    </ul>
</div>