<tr class="company-table-head">
        <td></td>
        <td class="align-middle p-3"><p class="m-0">Trifft nicht zu</p></td>
        <td class="align-middle p-3"><p class="m-0">Trifft wenig zu</p></td>
        <td class="align-middle p-3"><p class="m-0">Trifft teil-<br>weise zu</p></td>
        <td class="align-middle p-3"><p class="m-0">Trifft über-<br>wiegend zu</p></td>
        <td class="align-middle p-3"><p class="m-0">Trifft völlig zu</p></td>
        <td class="align-middle p-3"><p class="m-0">Summe</p></td>
</tr>