{% for tablerow in table %}
<br>
<p id="coach_output_gbu_{{id}}_0_{{loop.index0}}">
    <b>{{ tablerow.groupname }}</b>
</p>
<table id="coach_output_gbu_{{id}}_1_{{loop.index0}}" class="company-table-group">
    <thead>
        {% include "company/company-table-header.html" %}
    </thead>
    <tbody>
        {% for row in tablerow.row %}
            {% if row.tooless == true %}
                <tr class="company-table-group-colspan">
                    <td class="p-3">
                        <p class="mb-0">{{row.label}}</p>
                    </td>
                    <td colspan="6" class="company-table-tooless p-3">
                        <p class="mb-0">{{row.value}}</p>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="p-3">
                        <p class="mb-0">{{row.label}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.h1}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.h2}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.h3}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.h4}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.h5}}</p>
                    </td>
                    <td class="p-3">
                        <p class="mb-0">{{row.summe}}</p>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
                <tr class="company-table-group-colspan">
                    <td class="p-3">
                        <p class="mb-0"><b>Berechnung des Mittelwerts:</b></p></td>
                    </td>
                    <td class="p-3" colspan="6" style="background-color: #{{tablerow.bgcolor}}">
                        <p class="mb-0"><b>{{tablerow.value}}</b></p>
                    </td>
                </tr>
    </tbody>
</table>
{% endfor %}