<table id="coach_output_gbu_{{id}}" class="company-table-gesamt">
    {% for row in table %}
        <tr>
            {% if row.groupname != null and row.groupname != "" %}
                <td class="p-3"><p class="mb-0"><b>Gesamt-Mittelwert {{row.groupname}}:</b></p></td>
            {% else %}
                <td class="p-3"><p class="mb-0"><b>Gesamt-Mittelwert:</b></p></td>
            {% endif %}
            <td class="p-3" style="background-color: #{{row.bgcolor}}"><b>{{row.value}}</b></td>
        </tr>
    {% endfor %}
</table>