<table id="coach_output_gbu_{{id}}" class="company-table-single">
    <tbody>
        {% for row in table.rows %}
            <tr>
                <td class="align-middle p-3"><p class="mb-0">{{row.label}}</p></td>
                <td class="align-middle p-3" style="background-color: #{{row.bgcolor}}"><p class="mb-0">{{row.value}}</p></td>
            </tr>
        {% endfor %}
    </tbody>
</table>