<i class="fas fa-external-link-alt"></i><p id="csv-download" class="csv-download-start">CSV-Download starten</p>
<textarea id="csv-download-data" style="display:none">{{atts.data | raw}}</textarea>
<input id="csv-download-singleuser" type="hidden" value="{{atts.singleuser | raw}}">
<input id="csv-download-groupbygroups" type="hidden" value="{{atts.groupbygroups | raw}}">