<ul id="coach_output_gbu_{{id}}">
    {% if list|length > 0 %}
        {% for item in list%}
            <li><p>{{item}}</p></li>
        {% endfor %}
    {% else %}
        <p>Keine Angaben.</p>
    {% endif %}
</ul>