<div id="updateRegisterkeyModal" class="modal fade" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="updateModalLabel" class="modal-title">Freischaltcode bearbeiten</h2>
            </div>
            <div class="modal-body">
                <input type="hidden" id="registerkey-update-code" value="">
                <div class="form-group">
                    <label for="maxCountInput" class="ml-0">Maximale Anzahl an Einlösungen für Freischaltcode «<span id="updateRegisterkeyCode"></span>»:</label>
                    <input type="number" min="0" step="1" class="form-control" id="maxCountInput" placeholder="unbegrenzt">
                    <span class="text-muted">Feld leer lassen, um unbegrenzte Anzahl an Anmeldungen zu aktivieren.</span>
                </div>
                <span class="invalid-feedback" id="registerkey-update-toolow">Die maximale Anzahl an Einlösungen kann nicht kleiner als die bereits verwendete Anzahl an Einlösungen sein!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="registerkey-update-button" class="btn btn-primary updateregisterkey-confirm">Bestätigen</button>
            </div>
        </div>
    </div>
</div>