<div id="qrCodeModal" class="modal fade" role="dialog" aria-labelledby="qrcodelabel">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="qrcodelabel" class="modal-title">QR-Code</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
            <div id="qrcodeArea"></div>
            <button id="copy-qr" class="btn btn-primary">Download QR-Code</button>
            <br>
            <div id="linkArea"></div>
            <button id="copy-button" class="btn btn-primary">Link kopieren</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>