<form id="form-registerkey-redeem">
    <ul class="font-size-small">
        <li><label class="label-above" for="code-input">Hier kann ein weiteres Training mit Hilfe eines Codes
                freigeschaltet werden.</label></li>
        <li class="m-b-20"><input id="code-input" type="number" min="0" class="form-control m-b-0" name="code" placeholder="Freischaltcode" required><span class="invalid-feedback d-none">Bitte geben Sie einen gültigen Freischaltcode ein.</span></li>
    </ul>
    <button type="button" id="registerkey-submit" class="btn btn-primary">Freischalten</button>
    {{submitnonce | raw}}
</form>
