<div id="updateVorlageModal" class="modal fade" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="updateModalLabel" class="modal-title">Vorlage bearbeiten</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="label-above" for="select-update-vorlage">Vorlage auswählen: <small class="text-muted">(optional)</small></label>
                      <select id="select-update-vorlage" class="custom-select" name="vorlage_id">
                        <option value="0">keine Vorlage</option>
                        {% for vorlage in vorlagen %}
                            <option value="{{vorlage.id}}">{{vorlage.name}}</option>
                        {% endfor %}
                      </select>
                      <input type="hidden" id="update-vorlage-registerkey" value="">
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" id="vorlage-update-button" class="btn btn-primary">Bestätigen</button>
            </div>
        </div>
    </div>
</div>