<div id="deleteRegisterkeyModal" class="modal fade" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <h2 id="deleteModalLabel" class="modal-title">Freischaltcode löschen</h2>
        </div>
        <div class="modal-body">
            <input type="hidden" id="registerkey-delete-code" value="">
            <input type="hidden" id="open_register_code" value="{{settings.open_register_code}}">
            <p>Möchten Sie diesen Freischaltcode wirklich löschen?</p>
            <p>Die mit diesem Code verknüpfte Vorlage bleibt erhalten und kann bei Bedarf separat unter Verwaltung &rarr; Vorlagen gelöscht werden.</p>
            <div class="alert alert-warning d-none" role="alert">
                <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
                <p>
                    Dieser Code wird aktuell für die offene Registrierung verwendet. Soll er wirklich gelöscht werden?
                </p>
            </div>
            <div class="alert alert-danger d-none" role="alert" id="registerkey-delete-demologin">
                <h5><i class="fas fa-times-circle"></i>&nbsp;Warnung</h5>
                <p>
                    Dieser Code wird aktuell für den Demo-Login benutzt und kann daher nicht gelöscht werden.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
            <button type="button" id="registerkey-delete-button" class="btn btn-primary deleteregisterkey-confirm">Bestätigen</button>
        </div>
        </div>
    </div>
</div>