<div class="alert alert-info mb-4" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Sollte ein Training in Abhängigkeit oder zu einem Datum mit der Option Weiterleitung nach Login zugewiesen werden, überschreibt dies ggf. bereits vorhandene Weiterleitungen bei allen Nutzenden.<br>
        Auf das <b>zuletzt</b> zugewiesene Training mit aktivierter Option Weiterleitung nach Login wird weitergeleitet.
    </p>
</div>