<div class="modal fade" id="training-mgr-info-modal" tabindex="-1" role="dialog" aria-labelledby="training-mgr-info-modal-title-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="training-mgr-info-modal-title-label">Trainingsmodi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Individuell</h4>
                <p>
                    Alle Lektionen sind von Beginn an zugänglich und können in beliebiger Reihenfolge bearbeitet werden.
                </p>
                <h4>Sequentiell</h4>
                <p>
                    Eine Lektion ist automatisch nach Beendigung der Vorgängerlektion zugänglich.
                </p>
                <h4>Begleitet</h4>
                <p>
                    Die Lektionen sind nach Freischaltung durch einen E-Coach zugänglich. Zudem kann im begleiteten Trainingsmodus das E-Coaching (Benachrichtigung) auch auf Lektionsebene eingestellt werden.
                </p>
                </p>
                <h4 class="d-none">Intervall</h4>
                <p class="d-none">
                    Lektionen werden in einem fest definierten Intervall automatisch zugänglich gemacht. Dieses Intervall kann nach der Auswahl eingestellt werden. 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>