
<!-- Modal Trainingszuweisen -->
<div class="modal fade" id="removeTrainingModal" tabindex="-1" role="dialog" aria-labelledby="removeTrainingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="removeTrainingModalLabel">Training entfernen</h2>
        </div>
        <div class="modal-body">
              <p>M&ouml;chten Sie das Training «<span id="removeTrainingName"></span>» wirklich entfernen?</p>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
          <button type="button" id="training-remove-button" class="btn btn-primary training-remove-confirm">Bestätigen</button>
        </div>
      </div>
    </div>
  </div>
  