<li class="ui-state-default mylist noSortable forward-training-none {% if trainings|length == 0 %} d-none {% endif %}">
    <div class="form-check d-flex align-items-center">
        <input type="radio" name="coach-user-training-mgr-forward" id="coach-user-training-mgr-forward-none" value="" class="form-check-input" {% if redirectTraining is empty %}checked{% endif %}>
        <label for="coach-user-training-mgr-forward-none" class="form-check-label">Keine Weiterleitung nach Login</label>
    </div>
    <small>Hier kann eine Weiterleitung nach dem Login zu einem Training für eine einzelne Gruppe an Nutzern eingestellt werden. Die Nutzer werden nach dem Login so lange zum ausgewählten Training weitergeleitet haben, bis diese das Training abgeschlossen haben.</small>
</li>

{% for training in trainings %}

{% include "coach-user-training-mgr/coach-user-training-mgr-training.html" with {'training': training, 'coachingmode': coachingmodi[training.id]} %}

{% else %}
    {% if trainingsdate is empty and trainingsdep is empty %}
        <div id="training-mgr-notrainings" class="alert alert-info" role="alert">
            <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Dieser Nutzer hat noch keine Trainings zugewiesen bekommen.
            </p>
        </div>
    {% endif %}
{% endfor %}

{% for datetraining in trainingsdate %}

    {% include "coach-user-training-mgr/coach-user-training-mgr-training-date.html" with {'datetraining': datetraining, 'alltrainings': alltrainings, 'lockedit': false} %}

{% endfor %}

{% for deptraining in trainingsdep %}

    {% include "coach-user-training-mgr/coach-user-training-mgr-training-dep.html" with {'deptraining': deptraining, 'alltrainings': alltrainings, 'lockedit': false} %}

{% endfor %}

{% include "coach-user-training-mgr/coach-user-training-mgr-modus-info-modal.html" %}
{% include "coach-user-training-mgr/coach-user-training-mgr-datedep-new-modal.html" %}