<div class="wrapper-admin-backend">
    <div class="row">
        <div class="col-6 d-flex align-items-stretch">
            <div class="card h-100">
                <h4 class="backend-box-header">Patch installieren</h4>
                <div class="box-body">
                    <p>Die Patch-Dateien können zentral von unserem Update-Server geladen werden:<br><a href="https://devprojects2.th-luebeck.de/updateserver/patches/" class="btn btn-secondary m-2" target="_blank">Patch-Dateien laden</a></p>
                    <p>Hier können die Patch-Dateien für die Anpassung der Datenbank hochgeladen und ausgeführt werden.<br>Es können alle Patch-Dateien gleichzeitig ausgewählt werden.</p>
                    <form id="admin-backend-patch-form">
                        <div class="form-group">
                            <label for="patchFileInput" class="ml-0">Patch-Datei (JSON):</label>
                            <input type="file" class="form-control-file mx-2" id="patchFileInput" accept="application/JSON" multiple>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="admin-backend-submit-patch" class="btn btn-primary m-2" disabled>Ausführen</button>
                        </div>
                        <span class="text-muted">
                            Die Anpassung dauert je nach Größe der Datenbanktabelle mehrere Minuten. 
                            Es kann dazu kommen, dass die maximale Ausführungszeit des Servers dabei überschritten wird. 
                            Um dies zu umgehen, muss der Parameter <code>max_execution_time</code> in der <code>php.ini</code>-Datei kurzzeitig erhöht werden, z.B. 120s.
                            Danach können die Patch-Dateien nochmals durchlaufen werden.
                        </span>
                    </form>
                    <table id="patchFileList" class="d-none table-sm text-center">
                        <thead>
                            <tr>
                                <th>Dateiname</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {#<div class="col-6 d-flex align-items-stretch">
            <div class="card h-100">
                <h4 class="backend-box-header">Addon installieren</h4>
                <div class="box-body">
                    
                </div>
            </div>
        </div>#}
    </div>
</div>
