<tr>
    <td class="align-middle">
        {% if vorlagennutzer %}
        <i class="fas fa-exclamation-triangle mr-2" data-toggle="tooltip" data-placement="right"
            title="Vorlagennutzer - Training wird diesem Nutzer nie zugewiesen und dient nur als Vorlage"></i>
        {% endif %}
        {{ allUsers[dateTraining.userId].name }}
    </td>
    <td class="align-middle">
        {{ allTrainings[dateTraining.trainingId].title }}
    </td>
    <td class="align-middle">
        {{ trainingModes[dateTraining.trainingMode] }}
    </td>
    <td class="align-middle">
        {% if dateTraining.getEcoachingEnable() == "0" or (dateTraining.lektionSettingsIsArray() and dateTraining.getLektionSettingsJsonDecoded()|first == 1) %}
            Deaktiviert
        {% elseif dateTraining.trainingMode == 2 and dateTraining.lektionSettingsIsArray() and dateTraining.lektionSettingsIsDifferent() %}
            <div class="accordion">
                <div class="card m-0 p-0">
                    <div class="card-header m-0 p-0" id="collapseDateExtendedHeading{{ dateTraining.id }}">
                        <button class="btn btn-link btn-sm pl-2 text-left" type="button" data-toggle="collapse" data-target="#collapseDateExtended{{ dateTraining.id }}" aria-expanded="false" aria-controls="collapseDateExtended{{ dateTraining.id }}">
                            <i class="fas fa-chevron-right ts-accordion-chevron"></i> <i>erweitert</i>
                        </button>
                    </div>
                    <div id="collapseDateExtended{{ dateTraining.id }}" class="collapse" aria-labelledby="collapseDateExtendedHeading{{ dateTraining.id }}">
                        <div class="card-body p-2">
                            <ul class="w-100 list-group">
                                {% for lektion in allTrainings[dateTraining.trainingId].lektionsliste %}
                                    <li class="list-group-item px-2 py-1 mb-0 bg-transparent">
                                        <b>{{ lektion.title }}:</b>
                                        {% if dateTraining.getLektionSettingsJsonDecoded()[lektion.id] == 2 %}
                                            Aktiviert
                                        {% else %}
                                            Deaktiviert
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            Aktiviert
        {% endif %}
    </td>
    <td class="align-middle">
        {# date vergleich #}
        {% if dateTraining.assignDatetime|date('His') == '000000' %}
            {{ dateTraining.assignDatetime|date('d.m.Y') }}
        {% else %}
            {{ dateTraining.assignDatetime|date('d.m.Y H:i:s') }} Uhr
        {% endif %}
    </td>
    <td class="align-middle">
        {% if dateTraining.getRedirect() %}
            Ja
        {% else %}
            Nein
        {% endif %}
    </td>
    <td class="align-middle text-center p-1">
        <button class="btn btn-secondary btn-sm {% if not vorlagennutzer %}trainingDateAssignNow{% else %}pointerdisabled{% endif %}" {% if not vorlagennutzer %} data-trainingdateid="{{ dateTraining.id }}"
            type="button" data-toggle="tooltip" title="Training jetzt zuweisen"{% else %} disabled {% endif %}><i class="fa fa-play-circle"></i></button>
    </td>
</tr>