<tr>
    <td class="align-middle">
        {% if vorlagennutzer %}
        <i class="fas fa-exclamation-triangle mr-2" data-toggle="tooltip" data-placement="right"
            title="Vorlagennutzer - Training wird diesem Nutzer nie zugewiesen und dient nur als Vorlage"></i>
        {% endif %}
        {{ allUsers[depTraining.userId].name }}
    </td>
    <td class="align-middle">
        {{ allTrainings[depTraining.trainingId].title }}
    </td>
    <td class="align-middle">
        {{ trainingModes[depTraining.trainingMode] }}
    </td>
    <td class="align-middle">
        {% if depTraining.getEcoachingEnable() == "0" or (depTraining.lektionSettingsIsArray() and depTraining.getLektionSettingsJsonDecoded()|first == 1) %}
            Deaktiviert
        {% elseif depTraining.trainingMode == 2 and depTraining.lektionSettingsIsArray() and depTraining.lektionSettingsIsDifferent() %}
            <div class="accordion">
                <div class="card m-0 p-0">
                    <div class="card-header m-0 p-0" id="collapseDateExtendedHeading{{ depTraining.id }}">
                        <button class="btn btn-link btn-sm pl-2 text-left" type="button" data-toggle="collapse" data-target="#collapseDateExtended{{ depTraining.id }}" aria-expanded="false" aria-controls="collapseDateExtended{{ depTraining.id }}">
                            <i class="fas fa-chevron-right ts-accordion-chevron"></i> <i>erweitert</i>
                        </button>
                    </div>
                    <div id="collapseDateExtended{{ depTraining.id }}" class="collapse" aria-labelledby="collapseDateExtendedHeading{{ depTraining.id }}">
                        <div class="card-body p-2">
                            <ul class="w-100 list-group">
                                {% for lektion in allTrainings[depTraining.trainingId].lektionsliste %}
                                    <li class="list-group-item px-2 py-1 mb-0 bg-transparent">
                                        <b>{{ lektion.title }}:</b>
                                        {% if depTraining.getLektionSettingsJsonDecoded()[lektion.id] == 2 %}
                                            Aktiviert
                                        {% else %}
                                            Deaktiviert
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            Aktiviert
        {% endif %}
    </td>
    <td class="align-middle">
            +&nbsp;{{ depTraining.getTimeAdd() }}&nbsp;{{ timeMultipliers[depTraining.getTimeMultiplier()] }}
    </td>
    <td class="align-middle">
        {% for deptid in depTraining.getDependentTrainingsJsonDecoded() %}
            {{ allTrainings[deptid].getTitle() }}{% if not loop.last %},{% endif %}
        {% else %}-{% endfor %}
    </td>
    <td class="align-middle">
        {% if depTraining.getDependentCondition() == 'and' %}
            und
        {% elseif depTraining.getDependentCondition() == 'or' %}
            oder
        {% endif %}
    </td>
    <td class="align-middle">
        {% if depTraining.getRedirect() %}
            Ja
        {% else %}
            Nein
        {% endif %}
    </td>
</tr>