<div class="modal fade media-grid-modal" id="mediagrid-modal-{{rand}}" tabindex="-1" role="dialog" aria-labelledby="mediagrid-modal-{{rand}}-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="mediagrid-modal-{{rand}}-label"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-primary media-grid-download" data-fileid=""><i class="fas fa-file-download" style="font-size: 20px"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>