<div class="modal fade media-grid-delete-modal" id="mediagrid-delete-modal-{{rand}}" tabindex="-1" role="dialog" aria-labelledby="mediagrid-delete-modal-{{rand}}-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="mediagrid-delete-modal-{{rand}}-label">Löschen bestätigen</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Wollen sie das Projekt inklusive aller dazugehörigen Einträge und hochgeladener Dateien wirklich <b>unwiderruflich</b> löschen?</p>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-danger media-grid-delete-confirm" data-uploadfieldid="" data-projectname="" data-projectfieldid="">Löschen bestätigen</button>
            </div>
        </div>
    </div>
</div>