<div class="alert alert-danger" role="alert">
    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
    <p>
        Die übergebenen Daten sind unvollständig oder falsch. Falls Sie einen Pfad für ein Standardbild angegeben haben, prüfen Sie diesen auf Korrektheit.<br>
        Der Shortcode wird wie folgt verwendet:<br>
        <code>
            [tspv2_media_grid uploadfieldid='456' view="my|all|boss|kAdmin"]
        </code>
        <br>
        Wenn gewünscht können auch optionale Attribute <code>projectfieldid</code> für die Feld-ID des Projekt-Dropdowns, <code>titlefieldid</code> für das Titel-Feld des Formulars, <code>descfieldid</code> für die Beschreibungs-Feld des Formulars, <code>defaultimage</code> als Standardbild-Pfad (relativ, also beginnend mit ./) oder <code>latest</code> als Limitierung für die anzuzeigenden Dateien verwendet werden.
    </p>
</div>