<div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-between align-items-stretch flex-column">
        <p class="media-grid-desc"></p>
        <small class="media-grid-timestamp"></small>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-stretch flex-column">
        {% if type == "image" %}
            <img src="{{ path }}" class="img-fluid">
        {% elseif type == "audio" %}
            <audio controls class="w-100">
                <source src="{{ path }}" type="{{ mediatype }}">
            </audio>
        {% elseif type == "video" %}
            <video controls class="w-100">
                <source src="{{ path }}" type="{{ mediatype }}">
            </video>
        {% else %}
            <img src="" class="media-grid-defaultimage img-fluid mb-0">
        {% endif %}
        <small class="mt-2 text-right"><i>{{ filename }}</i></small>
    </div>
</div>