<div class="alert alert-warning" role="alert">
    <h5><i class="fas fa-exclamation-triangle"></i>&nbsp;Warnung</h5>
    <p>
        Dieses Training wurde bislang noch nicht für Sie freigeschaltet. 
        Alle für Sie freigeschalteten Trainings entnehmen Sie bitte dieser <a href="{{trainings_overview_url}}" class="alert-link">Übersicht</a>. 
        Alternativ können Sie auch auf die <a href="{{home_url}}" class="alert-link">Startseite</a> zurückkehren.
    </p>
</div>