<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
    <p>
        Sie sehen dieses Training nur, weil Sie die entsprechenden zusätzlichen Berechtigungen haben.
    </p>
</div>