<div class="card coaching-overview-coach-user-list-box">
    <div class="box-header">
        <h4>Meine Vorlagen</h4>
    </div>
    <div class="box-body">
        {% if vorlagenuser|first.vorlagenuserID != "" %}
        {% for user in vorlagenuser%}
        <div>
            <span>
                <button type="button" class="btn btn-link ts-list-button text-left" data-toggle="collapse" {%set rand = random()%} data-target="#demo_{{rand}}" aria-expanded="false">
                    <div class="ts-list-title-icon d-inline-block">
                        <i class="fas fa-chevron-right"></i>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    {{ user.vorlagenuserName }}
                </button>
            </span>
            <div id="demo_{{rand}}" class="collapse user-list-info">
                {% if user.vorlagenuserTrainings | first.trainingID != "" %}
                <ul class="font-size-small pl-4">
                    <li>Trainings mit aktivierten E-Coaching:</li>
                    <ul class="font-size-small pl-4">
                        {% for training in user.vorlagenuserTrainings %}
                        <li>{{ training.trainingTitle }} ({%if training.coachingMode == 1%}E-Coaching bei Bedarf{%elseif training.coachingMode == 2 %}Umfassendes E-Coaching{% endif %})</li>
                        {% endfor %}
                    </ul>
                </ul>
                {% else %}
                <span>Diesem Vorlagennutzer wurden bisher keine Trainings mit aktivierten E-Coaching zugeordnet.</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-info" role="alert">
           <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
            <p>
                Sie haben keine Vorlagen angelegt.
            </p>
        </div>
        {% endif %}
    </div>
    <div class="box-footer">
    </div>
</div>