<h4 class="mb-3">Mir zugewiesene Teilnehmende</h4>
{% if users | length > 0 %}
<table id="table" class="table-striped large-list table table-bordered table-hover table-responsive" style="table-layout: fixed;">
  <thead class="text-center">
    <tr>
      {% if showUserID %}
      <th class="col-1" data-field="userid" scope="col">ID</th>
      {% endif %}
      {% if showStudyID %}
      <th class="col-1" data-field="studienid" data-filter-control="input" id="studienid" scope="col" style="word-break: break-all !important;">Studien-TN-ID</th>
      {% endif %}
      <th class="col-2" data-field="login" data-filter-control="input" id="login" scope="col">User-Name</th>
      <th class="col-3" data-field="trainings" data-filter-control="input" id="trainings" scope="col">Trainings mit Coaching</th>
      {%if showLastLogin %}
      <th class="col-1" data-field="lastlogin" id="lastlogin" scope="col">Letzter Login</th>
      {% endif %}
      {% if showRegistrationDate %}
      <th class="col-1" data-field="registrationDate" id="registrationDate" scope="col" style="word-break: break-all !important;">Registrierungsdatum</th>
      {% endif %}
      <th class="col-1" data-field="status" scope="col">Feedback-Status</th>
      {% if showUserActivity %}
      <th class="col-1" data-field="status" scope="col">Aktivität</th>
      {% endif %}
      {% if showNotes %}
      <th class="col-2" data-field="status" scope="col">Notizen</th>
      {% endif %}
    </tr>
  </thead>
  <tbody id="user-list-users" class="user-list-users-class" data-page="{{ page }}" data-url="{{ url }}">
    {% for user in users %}
    <tr user-id="{{user.getId()}}">
      {% if showUserID %}
      <td class="col-1"><span>{{user.getId()}}</span></td>
      {% endif %}
      {% if showStudyID %}
      <td class="col-1 hyphens-auto"><span>{% if user.getStudienid() is not empty %}{{user.getStudienid()}}{% else %}-{% endif %}</span></td>
      {% endif %}
      <td class="col-2 hyphens-auto"><span>{% if showUserDetails %}<a href="{{ detail_page_links[user.getId()] }}">{%
            endif %}{{user.getName()}}{% if showUserDetails %}</a>{% endif %}</span></td>
      <td class="col-3 ">
        {% for training in user.getTrainings() %}
        {% if loop.first %}
        {% if training.getId() != "" %}
        <span>{% if not training.getTrainingEnable() %}<i title="Training ist ausgeblendet" class="fas fa-eye-slash"></i> {% endif %}{{training.getTitle()}}&nbsp;({{training.getFin()}}%{% for lektion in training.lektionsliste %}{% if
          lektion.getFin() > 50 and lektion.getFin() < 100 and lektion.getTrainingAuto()==2 %} <small
            class="mb-0 highlight-color"><strong>{{lektion.getFin()}}% in
              Lektion&nbsp;{{loop.index}}</strong></small></span>{% endif %}{% if lektion.getTrainingAuto() == "2" and
        lektion.getFin() == 100 and lektion.isFeedback() !=1 %}&nbsp;<i
          class="fas fa-exclamation-circle highlight-color"></i>{% endif %}{% endfor %})</span>
        {% endif %}
        {% else %}
        {% if training.getId() != "" %}
        <span>, {% if not training.getTrainingEnable() %}<i title="Training ist ausgeblendet" class="fas fa-eye-slash"></i> {% endif %}{{training.getTitle()}}&nbsp;({{training.getFin()}}%{% for lektion in training.lektionsliste %}{% if
          lektion.getFin() > 50 and lektion.getFin() < 100 and lektion.getTrainingAuto()==2 %} <small
            class="mb-0 highlight-color"><strong>{{lektion.getFin()}}% in
              Lektion&nbsp;{{loop.index}}</strong></small></span>{% endif %}{% if lektion.getTrainingAuto() == "2" and
        lektion.getFin() == 100 and lektion.isFeedback() !=1 %}&nbsp;<i
          class="fas fa-exclamation-circle highlight-color"></i>{% endif %}{% endfor %})</span>
        {% endif %}
        {% endif %}
        {% endfor %}
      </td>
      {% if showLastLogin %}
      <td class="col-1 hyphens-auto p-1"><small>{% if user.lastlogin %} {{ user.lastlogin|date("d.m.Y H:i") }} Uhr {%
          else %} - {% endif %}</small></td>
      {% endif %}
      {% if showRegistrationDate %}
      <td class="col-1 hyphens-auto p-1"><small>{{user.registrationdate|date("d.m.Y H:i", "Europe/Berlin") }} Uhr</small></td>
      {% endif %}
      <td class="text-center col-1 hyphens-auto p-2">
        {% if user.status == null %}
        <div class="alert alert-success m-0 p-1"><i class="fas fa-check-circle"></i></div>
        {% else %}
        <div class="alert alert-danger m-0 p-1"><i class="fas fa-times-circle"></i><br><small>{{user.status}}</small>
        </div>
        {% endif %}
      </td>
      {% if showUserActivity %}
      <td class="text-center col-1 hyphens-auto p-2">
        {% if user.activity is null %}
        <div class="alert alert-secondary m-0 p-1"><i class="fas fa-question-circle"></i><br><small>Keine Daten vorhanden</small></div>
        {% elseif user.activity is same as(true) %}
        <div class="alert alert-success m-0 p-1"><i class="fas fa-check-circle"></i><br><small>Aktiv in den letzten {{ user.activityDays }} Tagen</small></div>
        {% elseif user.activity == "trainings finished" %}
        <div class="alert alert-success m-0 p-1"><i class="fas fa-check-circle"></i><br><small>Alle Trainings vollständig bearbeitet</small></div>
        {% elseif user.activity == "trainings not started" %}
        <div class="alert alert-warning m-0 p-1"><i class="fas fa-exclamation-circle"></i><br><small>Trainings noch nicht begonnen</small></div>
        {% elseif user.activity == "trainings not in progress" %}
        <div class="alert alert-info m-0 p-1"><i class="fas fa-info-circle"></i><br><small>Keine Trainings mit Coaching in Bearbeitung</small></div>
        {% else %}
        <div class="alert alert-danger m-0 p-1"><i class="fas fa-times-circle"></i><br><small>Inaktiv seit {{ user.getActivityFormatted() }}</small>
        </div>
        {% endif %}
      </td>
      {% endif %}
      {% if showNotes %}
      <td class="col-2 hyphens-auto p-2">
        <div class="form-group mb-0 text-right">
          <textarea class="form-control small" id="coaching_notes" rows="3"
            style="font-size: 1rem!important;">{% if coachingNotes[user.getId()] is not empty%}{{coachingNotes[user.getId()]|raw}}{% endif %}</textarea>
          <button type="submit" class="btn btn-sm btn-primary mt-2 p-1 coaching-overview-save-coaching-notes-button">Speichern</button>
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<div class="alert alert-info" role="alert">
  <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
  <p>
    Ihnen wurden bisher noch keine Teilnehmenden zugewiesen.
  </p>
</div>
{% endif %}