<!--Modal Zuweisung Users - Coach -->
<div class="modal fade" id="coachingOverviewUsers2CoachModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h2 class="modal-title">Coach-Zuweisungen für <span id="coachingOverviewUsers2CoachModalCount"></span> Teilnehmende</h2>
            </div>
            <div class="modal-body">  
                {% if coaches | first.coachID != "" %}
                    <p>Wählen Sie einen Coach:</p>
                    {% for coach in coaches %}
                    <div class="form-check mb-2 d-flex align-items-center">
                        <input class="form-check-input" type="radio" name="multi_coaches" id="users_coach_{{coach.coachID}}" value="{{ coach.coachID }}">
                        <label class="form-check-label ml-2" for="users_coach_{{coach.coachID}}">
                            {{coach.coachDisplayName}}
                        </label>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="alert alert-info">
                    <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
                    <p>
                        Aktuell stehen keine Coaches für eine Zuweisung zur Verfügung.
                    </p>                    
                </div>
                {% endif %}
                <div class="alert alert-danger d-none" id="coaching-overview-users2coach-modal-errormsg">
                    <h5><i class="fas fa-times-circle"></i>&nbsp;Fehler</h5>
                    <p>
                        Es wurde kein Coach ausgewählt.
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    {% if coaches | first.coachID != "" %}
                    <button type="button" id="coaching-overview-users2coach-button" class="btn btn-primary">Bestätigen</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> 

