<!--Coaching-Overview Dashboard-->

<h1 class="text-center mb-5">{{heading}}</h1>

{% if showSupervisorView%}
<div class="row">
    <div class="col-lg-6">
        {% include "coaching-overview/coaching-overview-user-list.html" with {'users': usersWithoutCoach} %}
    </div>
    <div class="col-lg-6">
        {% include "coaching-overview/coaching-overview-coach-list.html" with {'coaches': coaches} %}
    </div>
</div>
{% endif %}

{% if showCoachView %}
<div class="">
    {% include "coaching-overview/coaching-overview-coach-user-table.html" with {'users': usersOfCoach, 'showUserDetails':showUserDetails} %}
</div>
{% endif %}