<!--Trainings-Liste Start-->
<div class="form-group">
    <h4 class="mt-0 mb-2">Trainings für Export auswählen:</h4>
    <small>Mit einem Klick auf <i class="fas fa-plus"></i> werden alle sichtbaren Trainings ausgewählt, mit einem Klick
        auf <i class="fas fa-minus"></i> werden alle sichtbaren Trainings abgewählt. Dies kann in Verbindung mit der
        Suchfunktion geschehen.</small>
    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dataexport-systemstatistics-select-button"
                id="dataexport-systemstatistics-select-button" type="button" data-toggle="tooltip"
                title="Alle sichtbaren Trainings auswählen"><i class="fas fa-plus"></i></button>
            <button class="btn btn-outline-secondary dataexport-systemstatistics-remove-button"
                id="dataexport-systemstatistics-remove-button" type="button" data-toggle="tooltip"
                title="Alle sichtbaren Trainings abwählen"><i class="fas fa-minus"></i></button>
        </div>
        <input class="form-control dataexport-systemstatistics-search" type="text"
            id="dataexport-systemstatistics-search" value="" placeholder="Suche..." />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dataexport-systemstatistics-clear-search-button"
                id="dataexport-systemstatistics-clear-search-button" type="button" data-toggle="tooltip"
                title="Suche zurücksetzen"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <div id="dataexport-systemstatistics-check" class="card panel panel-default mb-0"
        style="height: 350px; overflow-y: auto; padding: 9px;margin-top: -1px;">
        {% for training in alltrainings %}
        <div class="form-group mb-1 d-flex align-items-center">
            <input class="form-check-input dataexport-systemstatistics-trainingselect m-0 mt-2 position-relative"
                type="checkbox" value="{{ training.id }}"
                id="dataexport-systemstatistics-training-{{ training.id }}-checkbox" style="margin-top: 0 !important;">
            <label class="checkbox-inline ml-2 mb-0"
                for="dataexport-systemstatistics-training-{{ training.id }}-checkbox">
                {{ training.title }}
            </label>
        </div>
        {% endfor %}
    </div>
    <p class="mt-1 text-muted mb-0">Es wurden <span id="dataexport-systemstatistics-count">{{ alltrainings|length }}</span> 
        Trainings für Ihre Suchkriterien gefunden, Sie haben <span id="dataexport-systemstatistics-selected">keine</span> 
        Trainings ausgewählt.</p>
</div>
<!--Trainings-Liste Ende-->
<!--Statistik-Auswahl Start-->
<div class="form-group mb-0 mt-4">
    <h4 class="mt-0 mb-2">Statistiken für Export auswählen:</h4>
    <div id="systemstatistics-userMetadata-statisticSelection-check">
        <div class="form-group mb-1 d-flex align-items-center">
            <input type="checkbox" value="startedLektion"
                class="form-check-input dataexport-systemstatistics-statistic m-0 mt-2 position-relative"
                id="dataexport-systemstatistics-statistic-startedLektion" style="margin-top: 0 !important;">
            <label class="form-check-label ml-2 mb-0" for="dataexport-systemstatistics-statistic-startedLektion">Begonnene Lektionen</label>
        </div>
        <div class="form-group mb-1 d-flex align-items-center">
            <input type="checkbox" value="finishedLektion"
                class="form-check-input dataexport-systemstatistics-statistic m-0 mt-2 position-relative"
                id="dataexport-systemstatistics-statistic-finishedLektion" style="margin-top: 0 !important;">
            <label class="form-check-label ml-2 mb-0" for="dataexport-systemstatistics-statistic-finishedLektion">Beendete Lektionen</label>
        </div>
        <div class="form-group mb-1 d-flex align-items-center">
            <input type="checkbox" value="lastVisitedPage"
                class="form-check-input dataexport-systemstatistics-statistic m-0 mt-2 position-relative"
                id="dataexport-systemstatistics-statistic-lastVisitedPage" style="margin-top: 0 !important;">
            <label class="form-check-label ml-2 mb-0" for="dataexport-systemstatistics-statistic-lastVisitedPage">Letzte besuchte Seite</label>
        </div>
        <div class="form-group mb-1 d-flex align-items-center">
            <input type="checkbox" value="trainingProgress"
                class="form-check-input dataexport-systemstatistics-statistic m-0 mt-2 position-relative"
                id="dataexport-systemstatistics-statistic-trainingProgress" style="margin-top: 0 !important;">
            <label class="form-check-label ml-2 mb-0" for="dataexport-systemstatistics-statistic-trainingProgress">Trainingsfortschritt</label>
        </div>
    </div>
</div>
<!--Statistik-Auswahl Ende-->