<div class="modal fade" id="tsFormsMultiSourceModal" tabindex="-1" role="dialog" aria-labelledby="tsFormsMultiSourceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tsFormsMultiSourceModalLabel">Datenquelle TS Forms<br><small>(mehrfache Speicherung)</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Mit dieser Auswahl werden Daten dem Export hinzugefügt, die mit dem Speichermodus "Alle Formulareingaben behalten"
                    gespeichert
                    wurden. Weitere Informationen zu den Speichermodi stehen bei der Bearbeitung bzw. Erzeugung der Formulare zur
                    Verfügung. Aufgrund des unterschiedlichen Nutzerverhaltens wird pro Nutzer zusätzlich eine CSV-Datei exportiert, aus
                    der die Zeitpunkte und Daten der jeweiligen Speicherung hervorgehen. Diese werden
                    für alle ausgewählten Nutzer in einer ZIP-Datei gesammelt und können heruntergeladen werden.
                </p>
            </div>
        </div>
    </div>
</div>