<div class="modal fade" id="tsFormsSourceModal" tabindex="-1" role="dialog" aria-labelledby="tsFormsSourceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tsFormsSourceModalLabel">Datenquelle TS Forms<br><small>(einfache Speicherung)</small></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Mit dieser Auswahl werden Daten dem Export hinzugefügt, die mit den Speichermodi "Einmaliges Speichern" oder "Normaler Modus" gespeichert
                    wurden. Weitere Informationen zu den Speichermodi stehen bei der Bearbeitung bzw. Erzeugung der Formulare zur Verfügung.
                </p>
            </div>
        </div>
    </div>
</div>