<div class="modal fade" id="systemstatisticSourceModal" tabindex="-1" role="dialog" aria-labelledby="systemstatisticSourceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="systemstatisticSourceModalLabel">Datenquelle Systemstatistiken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Mit dieser Auswahl werden Daten dem Export hinzugefügt, die Aufschluss über die Nutzung geben, wie beispielsweise begonnene und beendete Lektionen bzw. der Fortschritt in diesen. 
                </p>
            </div>
        </div>
    </div>
</div>