{% if alltsforms|length == 0 %}
    <div class="alert alert-info mb-0" role="alert">
        <h5><i class="fas fa-info-circle"></i>&nbsp;Hinweis</h5>
        <p>
            Es gibt keine TSForms im System.
        </p>
    </div>
{% else %}
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dataexport-tsforms-select-button" id="dataexport-tsforms-select-button" type="button" data-toggle="tooltip" title="Alle sichtbaren TS Forms auswählen"><i class="fas fa-plus"></i></button>
            <button class="btn btn-outline-secondary dataexport-tsforms-remove-button" id="dataexport-tsforms-remove-button" type="button" data-toggle="tooltip" title="Alle sichtbaren TS Forms abwählen"><i class="fas fa-minus"></i></button>
        </div>
        <input class="form-control dataexport-tsforms-search" type="text" id="dataexport-tsforms-search" value="" placeholder="Suche..." />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary dataexport-tsforms-clear-search-button" id="dataexport-tsforms-clear-search-button" type="button" data-toggle="tooltip" title="Suche zurücksetzen"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-outline-secondary" id="dataexport-tsforms-filter-button" type="button" data-toggle="tooltip" title="TS Forms nach Training und Lektion filtern"><i class="fas fa-filter"></i></button>
        </div>
    </div>
    <div id="dataexport-tsforms-check" class="card panel panel-default mb-0" style="height: 350px; overflow-y: auto; padding: 9px;margin-top: -1px;">
        {% for form in alltsforms %}
            <div class="form-group mb-1 d-flex align-items-center">
                <input class="form-check-input dataexport-tsforms-formselect m-0 mt-2 position-relative" type="checkbox" value="{{ form.ID }}" id="dataexport-tsforms-form-{{ form.ID }}-checkbox" style="margin-top: 0 !important;">
                <label class="checkbox-inline ml-2 mb-0" for="dataexport-tsforms-form-{{ form.ID }}-checkbox">
                    #{{ form.ID }}: {{ form.post_title }}
                </label>
            </div>
        {% endfor %}
    </div>
    <p class="mt-1 text-muted mb-0">Es wurden <span id="dataexport-tsforms-count">{{ alltsforms|length }}</span> TS Forms für Ihre Suchkriterien gefunden, Sie haben <span id="dataexport-tsforms-selected">keine</span> TS Forms ausgewählt.</p>
{% endif %}